JAVA/ALDSP/NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/contratovenda/physical/netsms/table/schemas/SnContratoColetivoDSP.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="ld:br/com/netservicos/atendimento/contratovenda/physical/netsms/table/SnContratoColetivoDSP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="SnContratoColetivoDSP">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="NUM_CONTRATO" type="xs:integer"/>
            <xs:element name="CID_CONTRATO" type="xs:string"/>
            <xs:element name="ID_MODALIDADE_COLETIVO" type="xs:integer"/>
            <xs:element name="ID_MODALIDADE_COBRANCA" type="xs:integer"/>
            <xs:element name="ID_TIPO_RESTRICAO" type="xs:integer"/>
            <xs:element name="VALOR_ADESAO" type="xs:decimal" minOccurs="0"/>
            <xs:element name="ID_PLANO_PGTO" type="xs:integer" minOccurs="0"/>
            <xs:element name="CORTESIA" type="xs:string" minOccurs="0"/>
            <xs:element name="CONTATO" type="xs:string" minOccurs="0"/>
            <xs:element name="FONE_CONTATO" type="xs:string" minOccurs="0"/>
            <xs:element name="OBS" type="xs:string" minOccurs="0"/>
            <xs:element name="NUM_PERIODO_MIN_VIGENCIA" type="xs:integer" minOccurs="0"/>
            <xs:element name="DT_PERIODO_MIN_VIGENCIA" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="VALOR_CONSTR_MDU" type="xs:decimal" minOccurs="0"/>
            <xs:element name="INDICADOR_PLANO_MDU" type="xs:integer" minOccurs="0"/>
            <xs:element name="QTD_PA_AREA_COMUM" type="xs:integer" minOccurs="0"/>
            <xs:element name="NUM_PERIODO_PAYBACK" type="xs:integer" minOccurs="0"/>
            <xs:element name="DT_PERIODO_PAYBACK" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="NUM_MULTIPLO_MENSALIDADE" type="xs:integer" minOccurs="0"/>
            <xs:element name="NUM_TAXA_PENETRACAO" type="xs:decimal" minOccurs="0"/>
            <xs:element name="INDICADOR_TAXA_PENETRACAO" type="xs:integer" minOccurs="0"/>
            <xs:element name="NUM_TAXA_MIGRACAO" type="xs:decimal" minOccurs="0"/>
            <xs:element name="INDICADOR_TAXA_MIGRACAO" type="xs:integer" minOccurs="0"/>
            <xs:element name="ID_CARACTERISTICA_COLETIVO" type="xs:integer"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
