NETWorkspaceESB/vender/venda/procon/wsdl/proxyservice/ProconWSDLV1_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Procon"
	targetNamespace="http://www.netservicos.com.br/Procon/"
	xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:tns="http://www.netservicos.com.br/Procon/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:netheader="http://www.netservicos.com.br/v2/NetHeader"
	xmlns:cliente="http://www.netservicos.com.br/modelocanonico/v2/cliente" 
	xmlns:iden="http://www.netservicos.com.br/modelocanonico/v2/identificacaoOperadoraNET">

	<wsdl:types>
		<xsd:schema
			targetNamespace="http://www.netservicos.com.br/Procon/">

			<xsd:import
				schemaLocation="../../../../../modelocanonicoV2/cliente/RestricaoContato.xsd"
				namespace="http://www.netservicos.com.br/modelocanonico/v2/cliente" />

			<xsd:import
				schemaLocation="../../../../../modelocanonicoV2/geral/IdentificacaoOperadoraNET.xsd"
				namespace="http://www.netservicos.com.br/modelocanonico/v2/identificacaoOperadoraNET" />

			<xsd:element name="parametrosConsultarTelefoneLeiNaoPerturbe"
				type="tns:ConsultarTelefoneLeiNaoPerturbeType" />

			<xsd:element name="resultadoConsultarTelefoneLeiNaoPerturbe"
				type="tns:ResultadoConsultarTelefoneLeiNaoPerturbeType" />

			<xsd:complexType name="ConsultarTelefoneLeiNaoPerturbeType">
				<xsd:sequence>
					<xsd:element name="telefone" minOccurs="1" maxOccurs="1" type="xsd:string">
					</xsd:element>
					<xsd:element name="ddd" minOccurs="0" maxOccurs="1" type="xsd:string">
					</xsd:element>
					<xsd:element name="identificacaoOperadoraNET"
						type="iden:IdentificacaoOperadoraNET" minOccurs="1" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ResultadoConsultarTelefoneLeiNaoPerturbeType">
				<xsd:sequence>
					<xsd:element name="restricaoContatoProcon" type="cliente:RestricaoContatoProcon"
						minOccurs="1" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>

		</xsd:schema>

		<xsd:schema>
			<xsd:import
				namespace="http://www.netservicos.com.br/v2/NetHeader"
				schemaLocation="../../../../../modelocanonicoV2/geral/NETHeader.xsd" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="consultarTelefoneLeiNaoPerturbeRequest">
		<wsdl:part name="request_header" element="netheader:NetHeader" />
		<wsdl:part name="consultarTelefoneLeiNaoPerturbeRequest"
			element="tns:parametrosConsultarTelefoneLeiNaoPerturbe" />
	</wsdl:message>

	<wsdl:message name="consultarTelefoneLeiNaoPerturbeResponse">
		<wsdl:part name="consultarTelefoneLeiNaoPerturbeResponse"
			element="tns:resultadoConsultarTelefoneLeiNaoPerturbe" />
	</wsdl:message>

	<wsdl:portType name="ProconPortType">
		<wsdl:operation name="consultarTelefoneLeiNaoPerturbe">
			<wsdl:input message="tns:consultarTelefoneLeiNaoPerturbeRequest" />
			<wsdl:output message="tns:consultarTelefoneLeiNaoPerturbeResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="ProconBinding11"
		type="tns:ProconPortType">
		<soap11:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="consultarTelefoneLeiNaoPerturbe">
			<soap11:operation soapAction="" />
			<wsdl:input>
				<soap11:body use="literal"
					parts="consultarTelefoneLeiNaoPerturbeRequest" />
				<soap11:header wsdl:required="true"
					part="request_header" use="literal"
					message="tns:consultarTelefoneLeiNaoPerturbeRequest" />
			</wsdl:input>
			<wsdl:output>
				<soap11:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:binding name="ProconBinding12"
		type="tns:ProconPortType">
		<soap12:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="consultarTelefoneLeiNaoPerturbe">
			<soap12:operation soapAction="" />
			<wsdl:input>
				<soap12:body use="literal"
					parts="consultarTelefoneLeiNaoPerturbeRequest" />
				<soap12:header wsdl:required="true"
					part="request_header" use="literal"
					message="tns:consultarTelefoneLeiNaoPerturbeRequest" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="ProconService">
		<wsdl:port binding="tns:ProconBinding11"
			name="ProconPort11">
			<soap11:address
				location="http://www.netservicos.com.br/Procon" />
		</wsdl:port>
		<wsdl:port binding="tns:ProconBinding12"
			name="ProconPort12">
			<soap12:address
				location="http://www.netservicos.com.br/Procon" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>