NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/produto/physical/netsms/table/schemas/SnTelefoneVoipDSP.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="ld:br/com/netservicos/atendimento/produto/physical/netsms/table/SnTelefoneVoipDSP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="SnTelefoneVoipDSP">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="CID_CONTRATO" type="xs:string" minOccurs="0"/>
            <xs:element name="NUM_CONTRATO" type="xs:integer" minOccurs="0"/>
            <xs:element name="ID_PONTO" type="xs:integer" minOccurs="0"/>
            <xs:element name="DDD_TELEFONE_VOIP" type="xs:string"/>
            <xs:element name="NUM_TELEFONE_VOIP" type="xs:string"/>
            <xs:element name="FQDN" type="xs:string" minOccurs="0"/>
            <xs:element name="NUM_PORTA" type="xs:integer" minOccurs="0"/>
            <xs:element name="DT_INI" type="xs:dateTime"/>
            <xs:element name="DT_FIM" type="xs:dateTime"/>
            <xs:element name="DT_ALTERACAO" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="ID_STATUS_TELEFONE_VOIP" type="xs:string"/>
            <xs:element name="GOLDEN" type="xs:integer"/>
            <xs:element name="TM_ID" type="xs:integer" minOccurs="0"/>
            <xs:element name="ID_ESCOLHIDO" type="xs:integer" minOccurs="0"/>
            <xs:element name="PUBLICAR" type="xs:integer" minOccurs="0"/>
            <xs:element name="NOME_PUBLICACAO" type="xs:string" minOccurs="0"/>
            <xs:element name="NUM_CONTRATO_AVALIACAO" type="xs:integer" minOccurs="0"/>
            <xs:element name="ID_SISTEMA_EXTERNO" type="xs:integer" minOccurs="0"/>
            <xs:element name="CID_CONTRATO_ORIGEM" type="xs:string" minOccurs="0"/>
            <xs:element name="ID_SOFTX" type="xs:integer" minOccurs="0"/>
            <xs:element name="FC_NUMERO_PORTADO" type="xs:string" minOccurs="0"/>
            <xs:element name="FC_INTERCEPTADO" type="xs:string" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
