JAVA/ALDSP/NETWorkspaceALDSP/NETClienteDS/br/com/netservicos/cliente/dadocobranca/schemas/ModalidadePagamentoContrato.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.netservicos.com.br/DadoCobranca/schemas" 
		elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.netservicos.com.br/DadoCobranca/schemas">
		

	<complexType name="ModalidadePagamentoContrato">
		<annotation>
			<documentation>
				Todos os informacoes sobre a forma de pagamento e dados
				cadastrais de cobranca de um contrato
			</documentation>
		</annotation>
		<sequence>

			<element name="DiaVencimento" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="int">

						<minInclusive value="1" />
						<maxInclusive value="31" />
					</restriction>
				</simpleType>
			</element>
			<element name="IndicadorCoboletamento" type="boolean"
				nillable="true" minOccurs="0" maxOccurs="1">
			</element>
			<element name="TipoPostagemFatura" minOccurs="0"
				maxOccurs="1"/>

			<element name="FormaPagamento" type="int" minOccurs="1" maxOccurs="1"/>
			<element name="FormaPagamentoBoleto" type="tns:FormaPagamentoBoleto" 
			minOccurs="0" maxOccurs="1"/>
		    <element name="FormaPagamentoCartaoCredito" type="tns:FormaPagamentoCartaoCredito" 
		    minOccurs="0" maxOccurs="1"/>
		    <element name="FormaPagamentoDebitoContaCorrente" type="tns:FormaPagamentoDebitoContaCorrente" 
		    minOccurs="0" maxOccurs="1"/>
			
			<element name="PeriodicidadeCobranca" type="int"
				minOccurs="0" maxOccurs="1">
			</element>
			<element name="PoliticaCobranca" minOccurs="0"
				maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<enumeration value="Vencido" />
						<enumeration value="Vincendo" />
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	
		<xsd:complexType name="FormaPagamentoBoleto">
	</xsd:complexType>
				
		<xsd:complexType name="FormaPagamentoCartaoCredito">
				<xsd:sequence>
					<xsd:element name="NomeTitularCartaoCredito"
						type="xsd:string" minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="NumeroCartaoCredito"
						type="tns:CartaoCredito" minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="ValidadeCartaoCredito"
						type="tns:MonthYear" minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="OperadoraCartaoCredito"
						type="tns:OperadoraCartaoCredito" minOccurs="0"
						maxOccurs="1">
					</xsd:element>
				</xsd:sequence>
	</xsd:complexType>
	
		<xsd:complexType name="FormaPagamentoDebitoContaCorrente">
				<xsd:sequence>
					<xsd:element name="NomeTitularContaCorrente"
						type="xsd:string" minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="AgenciaContaCorrente"
						type="xsd:int" minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="NumeroContaCorrente"
						type="xsd:long" minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="DigitoContaCorrente"
						type="xsd:int" minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="BancoContaCorrente"
						type="tns:Banco" minOccurs="0" maxOccurs="1">
					</xsd:element>
				</xsd:sequence>
	</xsd:complexType>
	


	<xsd:complexType name="Banco">
		<xsd:sequence>
			<xsd:element name="Identificador" type="xsd:int" />
			<xsd:element name="NomeBanco" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
	
		<xsd:simpleType name="CartaoCredito">
		<xsd:restriction base="xsd:string"></xsd:restriction>
	</xsd:simpleType>
	
		<xsd:simpleType name="MonthYear">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="(0[1-9]|1[012])[/](19|20)\d\d" />
		</xsd:restriction>
	</xsd:simpleType>
	
	
	<xsd:complexType name="OperadoraCartaoCredito">
		<xsd:sequence>
			<xsd:element name="Identificador" type="xsd:int" />
			<xsd:element name="NomeOperadora" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

    <element name="ModalidadePagamentoContrato" type="tns:ModalidadePagamentoContrato"></element>
</schema>