JAVA/ALDSP/NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/contrato/logical/schemas/IdentificacaoContrato.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.netservicos.com.br/atendimento/identificacaocontrato" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:iden="http://www.netservicos.com.br/atendimento/identificacaocontrato">
	<xs:complexType name="ContratoType">
		<xs:sequence>
			<xs:element name="NumeroContrato" minOccurs="1"
				maxOccurs="1">
                <xs:annotation>
                	<xs:documentation>
                		Número do contrato do assinante, conforme
                		cadastro no legado.
                	</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
					<xs:restriction base="xs:long"></xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:choice>
				<xs:element name="CodigoOperadora" minOccurs="1"
					maxOccurs="1">
                    <xs:annotation>
                    	<xs:documentation>
                    		Código da Operadora onde o contrato está
                    		cadastrado, conforme cadastro no legado.
                    	</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:length value="3"></xs:length>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="IdentificacaoCidade" minOccurs="1"
					maxOccurs="1">
                    <xs:annotation>
                    	<xs:documentation>
                    		Identificação da Cidade onde o contrato está
                    		cadastrado, conforme cadastro no legado.
                    	</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:length value="5"></xs:length>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	
 <xs:element name="Contrato"  type="iden:ContratoType"/>
</xs:schema>
