JAVA/ALDSP/NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/contrato/logical/schemas/SegmentoNegocio.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netservicos.com.br/SegmentoNegocio" xmlns:tns="http://www.netservicos.com.br/SegmentoNegocio" elementFormDefault="qualified">

    <complexType name="SegmentoNegocioType">
    	<sequence>
    		<element name="FLAG_NETFONE" type="string"></element>
    		<element name="FLAG_INTERNET" type="string"></element>
    		<element name="FLAG_PAYTV_ANALOGICO" type="string"></element>
    		<element name="FLAG_PAYTV_DIGITAL" type="string"></element>    		
    	</sequence>
    </complexType>


    <element name="SegmentoNegocio" type="tns:SegmentoNegocioType"></element>
</schema>