NETWorkspaceALDSP/NETVendaDS/br/com/netservicos/venda/eventoviasms/physical/netsms/table/schemas/PpCampanhaDSP.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="ld:br/com/netservicos/venda/eventoviasms/physical/netsms/table/PpCampanhaDSP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="PpCampanhaDSP">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="ID_CAMPANHA" type="xs:integer"/>
            <xs:element name="CAMPANHA" type="xs:string" minOccurs="0"/>
            <xs:element name="COD_CAMPANHA" type="xs:string" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
