NETWorkspaceALDSP/NETVendaDS/br/com/netservicos/venda/eventoviasms/physical/netsms/table/schemas/SnConfiguracaoEnvioSmsDSP.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="ld:br/com/netservicos/venda/eventoviasms/physical/netsms/table/SnConfiguracaoEnvioSmsDSP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="SnConfiguracaoEnvioSmsDSP">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="ID_CONFIGURACAO_ENVIO_SMS" type="xs:integer"/>
            <xs:element name="CD_MENSAGEM_SMS" type="xs:string"/>
            <xs:element name="CID_CONTRATO" type="xs:string"/>
            <xs:element name="ID_DETALHE_ENVIO_SMS_PPV" type="xs:integer" minOccurs="0"/>
            <xs:element name="ID_DETALHE_ENVIO_SMS" type="xs:integer" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
