NETWorkspaceALDSP/NETVendaDS/br/com/netservicos/venda/eventoviasms/physical/netsms/table/schemas/SnIntegracaoSmsDSP.xsd

<xs:schema targetNamespace="ld:br/com/netservicos/venda/eventoviasms/physical/netsms/table/SnIntegracaoSmsDSP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="SnIntegracaoSmsDSP">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="ID_INTEGRACAO" type="xs:integer" minOccurs="0"/>
            <xs:element name="CD_RECIBO_INTEGRACAO" type="xs:string"/>
            <xs:element name="NR_TELEFONE" type="xs:integer"/>
            <xs:element name="CD_DOCUMENTO" type="xs:string"/>
            <xs:element name="DS_URL_ENVIO" type="xs:string"/>
            <xs:element name="ST_INTEGRACAO" type="xs:string"/>
            <xs:element name="DT_INTEGRACAO" type="xs:dateTime"/>
            <xs:element name="DS_MENSAGEM_RESPOSTA" type="xs:string"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>