NETWorkspaceALDSP/NETVendaDS/br/com/netservicos/venda/eventoviasms/physical/netsms/table/schemas/SnMensagemSmsDSP.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="ld:br/com/netservicos/venda/eventoviasms/physical/netsms/table/SnMensagemSmsDSP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="SnMensagemSmsDSP">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="ID_MENSAGEM" type="xs:integer"/>
            <xs:element name="CID_CONTRATO" type="xs:string"/>
            <xs:element name="DS_MENSAGEM" type="xs:string"/>
            <xs:element name="CD_MENSAGEM_SMS" type="xs:string"/>
            <xs:element name="ID_TIPO_MENSAGEM" type="xs:integer"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
