NETWorkspaceESB/Infraestrutura/transicao/relacionar/atendimento/wsdl/business/ListarPontoContrato11V1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:conv="http://www.openuri.org/2002/04/soap/conversation/" xmlns:cw="http://www.openuri.org/2002/04/wsdl/conversation/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:jms="http://www.openuri.org/2002/04/wsdl/jms/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.openuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.openuri.org/">
  <wsdl:types>
    <s:schema xmlns:sch="http://netservicos.com.br/atender/contrato/schema" elementFormDefault="qualified" targetNamespace="http://www.openuri.org/">
      <s:import namespace="http://netservicos.com.br/atender/contrato/schema"/>
      <s:element name="listarPontoContratoRequest">
        <s:complexType>
          <s:sequence>
            <s:element name="ORIGEM" type="s:string" minOccurs="0"/>
            <s:element name="CONSUMIDOR" type="s:string" minOccurs="0"/>
            <s:element name="COD_ASSINANTE" type="s:string" minOccurs="0"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listarPontoContratoRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element ref="sch:RetornoListarPontoContrato"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://netservicos.com.br/atender/contrato/schema" xmlns:pref="http://netservicos.com.br/core/schema" targetNamespace="http://netservicos.com.br/atender/contrato/schema">
      <import namespace="http://netservicos.com.br/core/schema"/>
      <element name="RetornoListarPontoContrato">
        <complexType>
          <sequence>
            <choice>
              <element ref="pref:RetornoPadrao"/>
            </choice>
            <choice>
              <element ref="tns:PontoContrato" minOccurs="0" maxOccurs="1"/>
            </choice>
          </sequence>
        </complexType>
      </element>
    </schema>    <xsd:schema xmlns:tns="http://netservicos.com.br/core/schema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://netservicos.com.br/core/schema">
      <xsd:element name="RetornoPadrao">
        <xsd:complexType>
          <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element ref="tns:RetornoPadraoRow" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:choice>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>    <xsd:schema xmlns:tns="http://netservicos.com.br/atender/contrato/schema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wld="http://www.bea.com/2002/10/weblogicdata" targetNamespace="http://netservicos.com.br/atender/contrato/schema" elementFormDefault="unqualified" attributeFormDefault="unqualified">
      <xsd:element name="PontoContrato" wld:DefaultNamespace="java:///br/com/netservicos/atender/contrato/schema" wld:RowSet="true">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element ref="tns:PontoContratoRow" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://netservicos.com.br/core/schema" targetNamespace="http://netservicos.com.br/core/schema">
      <xsd:element name="RetornoPadraoRow">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="PROVEDOR" type="xsd:string"/>
            <xsd:element name="CATEGORIA_MENSAGEM" type="xsd:string"/>
            <xsd:element name="CODIGO_MENSAGEM" type="xsd:string"/>
            <xsd:element name="TEXTO_MENSAGEM" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://netservicos.com.br/atender/contrato/schema" xmlns:wld="http://www.bea.com/2002/10/weblogicdata" targetNamespace="http://netservicos.com.br/atender/contrato/schema" elementFormDefault="unqualified" attributeFormDefault="unqualified">
      <xsd:element name="PontoContratoRow" wld:DefaultNamespace="java:///br/com/netservicos/atender/contrato/schema">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element xmlns="http://netservicos.com.br/atender/contrato/schema" name="SPC_NUM_CONTRATO" type="xsd:long" minOccurs="1" nillable="true" maxOccurs="1"/>
            <xsd:element xmlns="http://netservicos.com.br/atender/contrato/schema" name="SPC_CID_CONTRATO" type="xsd:string" minOccurs="1" nillable="true" maxOccurs="1"/>
            <xsd:element xmlns="http://netservicos.com.br/atender/contrato/schema" name="SPC_ID_PONTO" type="xsd:long" minOccurs="1" nillable="true" maxOccurs="1"/>
            <xsd:element xmlns="http://netservicos.com.br/atender/contrato/schema" name="ST_TM_SERIE" type="xsd:string" minOccurs="1" nillable="true" maxOccurs="1"/>
            <xsd:element xmlns="http://netservicos.com.br/atender/contrato/schema" name="STM_TM_ACEITA_PPV" type="xsd:string" minOccurs="1" nillable="true" maxOccurs="1"/>
            <xsd:element xmlns="http://netservicos.com.br/atender/contrato/schema" name="STM_TM_ACEITA_CREDITO" type="xsd:string" minOccurs="1" nillable="true" maxOccurs="1"/>
            <xsd:element xmlns="http://netservicos.com.br/atender/contrato/schema" name="STM_TP_DECODER" type="xsd:string" minOccurs="1" nillable="true" maxOccurs="1"/>
            <xsd:element xmlns="http://netservicos.com.br/atender/contrato/schema" name="STM_TMOD_ID" type="xsd:long" minOccurs="1" nillable="true" maxOccurs="1"/>
            <xsd:element xmlns="http://netservicos.com.br/atender/contrato/schema" name="STM_TMOD_DESCRICAO" type="xsd:string" minOccurs="1" nillable="true" maxOccurs="1"/>
            <xsd:element xmlns="http://netservicos.com.br/atender/contrato/schema" name="STT_TT_DESCRICAO" type="xsd:string" minOccurs="1" nillable="true" maxOccurs="1"/>
            <xsd:element xmlns="http://netservicos.com.br/atender/contrato/schema" name="SPC_ID_LOCALIZACAO" type="xsd:long" minOccurs="1" nillable="true" maxOccurs="1"/>
            <xsd:element xmlns="http://netservicos.com.br/atender/contrato/schema" name="SL_DESCRICAO" type="xsd:string" minOccurs="1" nillable="true" maxOccurs="1"/>
            <xsd:element xmlns="http://netservicos.com.br/atender/contrato/schema" name="SPH_INSTALADO" type="xsd:string" minOccurs="1" nillable="true" maxOccurs="1"/>
            <xsd:element xmlns="http://netservicos.com.br/atender/contrato/schema" name="SPH_IDENTIFICACAO" type="xsd:int" minOccurs="1" nillable="true" maxOccurs="1"/>
            <xsd:element xmlns="http://netservicos.com.br/atender/contrato/schema" name="FLAG_PONTO_PRINCIPAL" type="xsd:string" minOccurs="1" nillable="true" maxOccurs="1"/>
            <xsd:element xmlns="http://netservicos.com.br/atender/contrato/schema" name="SSN_ID_SEGMENTO_NEGOCIOS" type="xsd:int" minOccurs="1" nillable="true" maxOccurs="1"/>
            <xsd:element xmlns="http://netservicos.com.br/atender/contrato/schema" name="SSN_DESCRICAO" type="xsd:string" minOccurs="1" nillable="true" maxOccurs="1"/>
            <xsd:element xmlns="http://netservicos.com.br/atender/contrato/schema" name="ST_ASSOC_TM_SERIE" type="xsd:string" minOccurs="1" nillable="true" maxOccurs="1"/>
            <xsd:element xmlns="http://netservicos.com.br/atender/contrato/schema" name="STM_ASSOC_TMOD_DESCRICAO" type="xsd:string" minOccurs="1" nillable="true" maxOccurs="1"/>
            <xsd:element xmlns="http://netservicos.com.br/atender/contrato/schema" name="FLAG_ULTIMA_VENDA" type="xsd:string" minOccurs="1" nillable="true" maxOccurs="1"/>
            <xsd:element xmlns="http://netservicos.com.br/atender/contrato/schema" name="NR_NET_FONE" type="xsd:string" minOccurs="1" nillable="true" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="listarPontoContratoRequestSoapIn">
    <wsdl:part name="parameters" element="s0:listarPontoContratoRequest"/>
  </wsdl:message>
  <wsdl:message name="listarPontoContratoRequestSoapOut">
    <wsdl:part name="parameters" element="s0:listarPontoContratoRequestResponse"/>
  </wsdl:message>
  <wsdl:message name="listarPontoContratoRequestHttpGetIn">
    <wsdl:part name="ORIGEM" type="s:string"/>
    <wsdl:part name="CONSUMIDOR" type="s:string"/>
    <wsdl:part name="COD_ASSINANTE" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="listarPontoContratoRequestHttpGetOut">
    <wsdl:part xmlns:s1="http://netservicos.com.br/atender/contrato/schema" name="Body" element="s1:RetornoListarPontoContrato"/>
  </wsdl:message>
  <wsdl:message name="listarPontoContratoRequestHttpPostIn">
    <wsdl:part name="ORIGEM" type="s:string"/>
    <wsdl:part name="CONSUMIDOR" type="s:string"/>
    <wsdl:part name="COD_ASSINANTE" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="listarPontoContratoRequestHttpPostOut">
    <wsdl:part xmlns:s1="http://netservicos.com.br/atender/contrato/schema" name="Body" element="s1:RetornoListarPontoContrato"/>
  </wsdl:message>
  <wsdl:portType name="ListarPontoContratoSoap">
    <wsdl:operation name="listarPontoContratoRequest">
      <wsdl:documentation/>
      <wsdl:input message="s0:listarPontoContratoRequestSoapIn"/>
      <wsdl:output message="s0:listarPontoContratoRequestSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ListarPontoContratoHttpGet">
    <wsdl:operation name="listarPontoContratoRequest">
      <wsdl:documentation/>
      <wsdl:input message="s0:listarPontoContratoRequestHttpGetIn"/>
      <wsdl:output message="s0:listarPontoContratoRequestHttpGetOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ListarPontoContratoHttpPost">
    <wsdl:operation name="listarPontoContratoRequest">
      <wsdl:documentation/>
      <wsdl:input message="s0:listarPontoContratoRequestHttpPostIn"/>
      <wsdl:output message="s0:listarPontoContratoRequestHttpPostOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ListarPontoContratoSoap" type="s0:ListarPontoContratoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="listarPontoContratoRequest">
      <soap:operation soapAction="http://www.openuri.org/listarPontoContratoRequest" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListarPontoContratoHttpGet" type="s0:ListarPontoContratoHttpGet">
    <http:binding verb="GET"/>
    <wsdl:operation name="listarPontoContratoRequest">
      <http:operation location="/listarPontoContratoRequest"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ListarPontoContratoHttpPost" type="s0:ListarPontoContratoHttpPost">
    <http:binding verb="POST"/>
    <wsdl:operation name="listarPontoContratoRequest">
      <http:operation location="/listarPontoContratoRequest"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ListarPontoContrato">
    <wsdl:documentation/>
    <wsdl:port name="ListarPontoContratoSoap" binding="s0:ListarPontoContratoSoap">
      <soap:address location="http://claro-project:7005/NETAtenderWLWeb/br/com/netservicos/atender/processos/contrato/ListarPontoContrato.jpd"/>
    </wsdl:port>
    <wsdl:port name="ListarPontoContratoHttpGet" binding="s0:ListarPontoContratoHttpGet">
      <http:address location="http://claro-project:7005/NETAtenderWLWeb/br/com/netservicos/atender/processos/contrato/ListarPontoContrato.jpd"/>
    </wsdl:port>
    <wsdl:port name="ListarPontoContratoHttpPost" binding="s0:ListarPontoContratoHttpPost">
      <http:address location="http://claro-project:7005/NETAtenderWLWeb/br/com/netservicos/atender/processos/contrato/ListarPontoContrato.jpd"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
