JAVA/ALDSP/NETWorkspaceALDSP/NETClienteDS/schemas/br/com/netservicos/modelocanonico/v2/evento/Agenda.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
	targetNamespace="http://www.netservicos.com.br/modelocanonico/v2/evento"
	elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:evento="http://www.netservicos.com.br/modelocanonico/v2/evento"
	xmlns:contrato="http://www.netservicos.com.br/modelocanonico/v2/contrato"
	xmlns:proposta="http://www.netservicos.com.br/modelocanonico/v2/proposta">

	<import
		namespace="http://www.netservicos.com.br/modelocanonico/v2/contrato"
		schemaLocation="../contrato/ContratoDeVenda.xsd">
	</import>
	<include schemaLocation="Evento.xsd" />
	<include schemaLocation="Tecnico.xsd" />
	<import
		namespace="http://www.netservicos.com.br/modelocanonico/v2/proposta"
		schemaLocation="../venda/Proposta.xsd">
	</import>
	
	<element name="Agenda" type="evento:Agenda">
		<annotation>
			<documentation>
				É um intervalo de tempo para realizar o Agendamento de
				Ordem de Serviço.
			</documentation>
		</annotation>
	</element>

	<complexType name="Agenda">
		<sequence>
			<element name="periodo" type="evento:PeriodoAgendamento"
				minOccurs="0" maxOccurs="1">
			</element>
			<element name="OrdemCampo" type="evento:OrdemCampo"
				minOccurs="0" maxOccurs="unbounded">
			</element>
			<element name="OrdemInterna" type="evento:OrdemInterna"
				minOccurs="0" maxOccurs="1">
			</element>
			<element name="Proposta" type="proposta:Proposta"
				minOccurs="0" maxOccurs="1">
			</element>
		</sequence>
	</complexType>

	<complexType name="Agendas">
		<sequence>
			<element ref="evento:Agenda" minOccurs="0"
				maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<element name="Agendas" type="evento:Agendas" />

	<element name="Periodos" type="evento:PeriodoAgendamentos" />

	<complexType name="PeriodoAgendamentos">
		<sequence>
			<element name="PeriodoAgendamento" type="evento:PeriodoAgendamento" minOccurs="0"
				maxOccurs="unbounded" />
		</sequence>
	</complexType>
	
	<complexType name="PeriodoAgendamento">
		<sequence>
			<element name="Descricao" type="string" minOccurs="0"
				maxOccurs="1">
			</element>
			<element name="MinutosDisponiveis" type="float"
				minOccurs="0" maxOccurs="1">
			</element>
			<element name="HoraInicial" type="time" minOccurs="0"
				maxOccurs="1">
			</element>
			<element name="HoraFinal" type="time" minOccurs="0"
				maxOccurs="1">
			</element>
			<element name="Data" type="date" minOccurs="0"
				maxOccurs="1">
			</element>
			<element name="idTipoPeriodo" type="int" minOccurs="0"
				maxOccurs="1">
			</element>
			<element name="Emergencial" type="int" minOccurs="0"
				maxOccurs="1">
			</element>
			<element name="DataBloqueio" type="dateTime" minOccurs="0"
				maxOccurs="1">
			</element>
			<element name="CadastrouCapacidade" type="boolean" minOccurs="0" maxOccurs="1"></element>
		</sequence>
	</complexType>


	<element name="GrupoOrdemCampo" type="evento:GrupoOrdemCampo" />

	<complexType name="GrupoOrdemCampo">
		<sequence>
			<element name="Identificador" type="string" minOccurs="0"
				maxOccurs="1">
			</element>
			<element name="Estimado" type="dateTime" minOccurs="0"
				maxOccurs="1">
			</element>
			<element name="Tecnico" type="evento:Tecnico" minOccurs="0"
				maxOccurs="1">
			</element>
			<element name="Contrato" type="contrato:ContratoDeVenda"
				minOccurs="0" maxOccurs="1">
			</element>
			<element name="OrdensCampo" type="evento:OrdensCampo"
				minOccurs="0" maxOccurs="1">
			</element>
		</sequence>
	</complexType>

	<element name="OrdensCampo" type="evento:OrdensCampo"></element>

	<complexType name="OrdensCampo">
		<sequence>
			<element name="OrdemCampo" type="evento:OrdemCampo"
				minOccurs="0" maxOccurs="unbounded">
			</element>
		</sequence>
	</complexType>
</schema>