JAVA/ALDSP/NETWorkspaceALDSP/NETClienteDS/schemas/br/com/netservicos/modelocanonico/v2/evento/Falha.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	targetNamespace="http://www.netservicos.com.br/modelocanonico/v2/falha"
	elementFormDefault="qualified"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:falha="http://www.netservicos.com.br/modelocanonico/v2/falha">

	<xsd:complexType name="Outage">
		<xsd:sequence>
			<xsd:element name="identificador" type="xsd:long"
				minOccurs="0" maxOccurs="1">
			</xsd:element>
			<xsd:element name="observacao" type="xsd:string"
				minOccurs="0" maxOccurs="1">
			</xsd:element>
			<xsd:element name="previsaoRetorno" type="xsd:dateTime"
				minOccurs="0" maxOccurs="1">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="Outage" type="falha:Outage"></xsd:element>
</xsd:schema>