JAVA/ALDSP/NETWorkspaceALDSP/NETClienteDS/schemas/br/com/netservicos/modelocanonico/v2/evento/Tecnico.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
	targetNamespace="http://www.netservicos.com.br/modelocanonico/v2/evento"
	elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:evento="http://www.netservicos.com.br/modelocanonico/v2/evento">

	<complexType name="Tecnico">
		<sequence>
			<element name="Identificador" type="long" minOccurs="0"
				maxOccurs="1">
			</element>
			<element name="Nome" type="string" minOccurs="0"
				maxOccurs="1">
			</element>
			<element name="Credenciada" type="evento:Credenciada"
				minOccurs="0" maxOccurs="1">
			</element>
		</sequence>
	</complexType>

	<complexType name="Credenciada">
		<sequence>
			<element name="Identificador" type="long" minOccurs="0"
				maxOccurs="1">
			</element>
			<element name="Nome" type="string" minOccurs="0"
				maxOccurs="1">
			</element>
		</sequence>
	</complexType>


	<element name="Tecnico" type="evento:Tecnico"></element>

	<element name="Credenciada" type="evento:Credenciada"></element>
</schema>