JAVA/ALDSP/NETWorkspaceALDSP/NETClienteDS/schemas/br/com/netservicos/modelocanonico/produto/ProdutoServico.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
	targetNamespace="http://www.netservicos.com.br/modelocanonico/produto"
	xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
	xmlns:produto="http://www.netservicos.com.br/modelocanonico/produto" xmlns:empresa="http://www.netservicos.com.br/modelocanonico/empresa">

	<import namespace="http://www.netservicos.com.br/modelocanonico/empresa" schemaLocation="../geral/Empresa.xsd"></import>
	<annotation>
		<documentation>
			Entidade responsavel por representar um produto ou servico
			que e disponibilizado para o cliente atraves de contrato
		</documentation>
	</annotation>

	<complexType name="ProdutoServico">
		<sequence>
			<element name="identificadorProdutoservico" maxOccurs="1"
				minOccurs="0" nillable="true">
				<annotation>
					<documentation>
						Identificador do produto
					</documentation>
				</annotation>
				<simpleType>
					<restriction base="long"></restriction>
				</simpleType>
			</element>
			<element name="linhaNegocio" maxOccurs="1" minOccurs="0"
				nillable="true">
				<annotation>
					<documentation>
						Linha de negocio ao qual o produto pertence. Ex:
						Pay TV, Combo...
					</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<enumeration value="pay tv"></enumeration>
						<enumeration value="banda larga"></enumeration>
						<enumeration value="fone"></enumeration>
						<enumeration value="combo"></enumeration>
					</restriction>
				</simpleType>
			</element>
			<element name="descricaoProdutoServico" maxOccurs="1"
				minOccurs="0" nillable="true">
				<annotation>
					<documentation>Descricao do produto</documentation>
				</annotation>
				<simpleType>
					<restriction base="string"></restriction>
				</simpleType>
			</element>
			<element name="planoProdutoServico" maxOccurs="1"
				minOccurs="0" nillable="true">
				<annotation>
					<documentation>
						Descricao do plano associado ao produto um
						produto pode ter dois tipos de plano associado a
						ele Basico e Conforto
					</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<enumeration value="basico"></enumeration>
						<enumeration value="conforto"></enumeration>
					</restriction>
				</simpleType>
			</element>
			<element name="faixaOcupacaoProdutoServico" maxOccurs="1"
				minOccurs="0" nillable="true">
				<annotation>
					<documentation>
						Descricao da faixa de ocupacao ou adesao do
						produto ou servico, de acordo com o numero de
						adesoes pode-se oferecer descontos
						diferenciados. ex: Caso um predio ofereca 50
						adesoes, e possivel se oferecer um produto com
						valor diferenciado.
					</documentation>
				</annotation>
				<simpleType>
					<restriction base="string"></restriction>
				</simpleType>
			</element>
			<element name="classificacaoProdutoServico" maxOccurs="1"
				minOccurs="0" nillable="true">
				<annotation>
					<documentation>
						Classificacao do produto ou servico indicando se
						esse produto e coletivo ou individual, existem
						ainda produtos onde esse campo nao se aplica,
						nesse caso o campo estara nulo.
					</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<enumeration value="individual"></enumeration>
						<enumeration value="coletivo"></enumeration>
					</restriction>
				</simpleType>
			</element>
			<element name="velocidadeProdutoServico" maxOccurs="1"
				minOccurs="0" nillable="true">
				<annotation>
					<documentation>
						Velocidade do propduto, aplicavel para produtos
						de banda larga. ex: 1 Mega, 2 Mega...
					</documentation>
				</annotation>
				<simpleType>
					<restriction base="string"></restriction>
				</simpleType>
			</element>
			<element name="familiaProdutoServico" maxOccurs="1"
				minOccurs="0" nillable="true">
				<annotation>
					<documentation>
						Familia ao qual o produto ou servico pertencem.
						Ex0036: Gold, Silver, Advanced...
					</documentation>
				</annotation>
				<simpleType>
					<restriction base="string"></restriction>
				</simpleType>
			</element>
			<element name="tipoProdutoServico" maxOccurs="1"
				minOccurs="0" nillable="true">
				<annotation>
					<documentation>
						Tipo de produto ou servico. Ex: PPV, A la
						carte...
					</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<enumeration value="ppv"></enumeration>
						<enumeration value="pacote"></enumeration>
						<enumeration value="a la carte"></enumeration>
						<enumeration value="servicos avancados"></enumeration>
						<enumeration value="revista"></enumeration>
						<enumeration value="complementar"></enumeration>
					</restriction>
				</simpleType>
			</element>
			<element name="ParceiroNET" type="empresa:ParceiroNET" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						Parceiro de NET quem fornecer o produto ou
						serviço
					</documentation>
				</annotation></element>
		</sequence>
	</complexType>

	<complexType name="ProdutosServicos">
		<annotation>
			<documentation>Conjunto de produtos</documentation>
		</annotation>
		<sequence>
			<element name="produtoServico" type="produto:ProdutoServico"
				maxOccurs="unbounded" minOccurs="0" nillable="true">
			</element>
		</sequence>
	</complexType>

	<element name="ProdutoServico" type="produto:ProdutoServico"></element>


	<complexType name="TelefoneVoip">
		<sequence>
			<element name="DDDTelefoneVoip" type="string"></element>
			<element name="NumeroTelefoneVoip" type="string"></element>
		</sequence>
	</complexType>
</schema>