JAVA/ALDSP/NETWorkspaceALDSP/NETClienteDS/schemas/br/com/netservicos/modelocanonico/produto/ProdutoServicoContratado.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.netservicos.com.br/modelocanonico/produto" 
xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
xmlns:produto="http://www.netservicos.com.br/modelocanonico/produto" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:Q1="http://www.netservicos.com.br/modelocanonico/produto">
	<include schemaLocation="ProdutoServico.xsd"/>

	<annotation>
        <documentation>
        	Entidade responsavel por efetuar o mapeamento entre o contrato e o produto 
        </documentation>
    </annotation>

	<complexType name="ProdutoServicoContratado">
		<sequence>
			<element name="identificadorProdutoServicoContratado"
				maxOccurs="1" minOccurs="0" nillable="true">
				<annotation>
					<documentation>
						Identificador do produto servico associado a um
						contrato
					</documentation>
				</annotation>
				<simpleType>
					<restriction base="long" />
				</simpleType>
			</element>
			<element name="dataInstalacaoProdutoServico" maxOccurs="1"
				minOccurs="0" nillable="true">
				<annotation>
					<documentation>
						Data da instalacao do produto ou o servico
					</documentation>
				</annotation>
				<simpleType>
					<restriction base="date" />
				</simpleType>
			</element>
			<element name="situacaoInstalacaoProdutoServico"
				maxOccurs="1" minOccurs="0" nillable="true">
				<annotation>
					<documentation>
						Situacao do produto ou servico
					</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<enumeration value="instalado" />
						<enumeration value="nao instalado" />
					</restriction>
				</simpleType>
			</element>
			<element name="produtoServico" type="produto:ProdutoServico"
				maxOccurs="1" minOccurs="0" nillable="true">
				<annotation>
					<documentation>
						Produto ou servico associado ao contrato
					</documentation>
				</annotation>
			</element>
			<element name="codigoEnderecavel" maxOccurs="1"
				minOccurs="0" nillable="true">
				<annotation>
					<documentation>
						Codigo enderecavel do equipamento associado ao
						produto ou servico contratado
					</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<maxLength value="50" />
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>

	<complexType name="ProdutosServicosContratados">
		<sequence>
			<element name="produtosServicosContratados" type="produto:ProdutoServicoContratado" maxOccurs="unbounded" minOccurs="0" nillable="true">
				<annotation>
					<documentation>Conjunto de produtos ou servicos associados a um contrato</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<element name="ProdutoServicoContratado" type="produto:ProdutoServicoContratado">
		<annotation>
			<documentation>Elemento instanciavel de um produto contratado associado a um determinado contrato</documentation>
		</annotation>
	</element>

	<element name="ProdutosServicosContratados" type="produto:ProdutosServicosContratados">
		<annotation>
			<documentation>Conjunto de elementos instanciaveis de produtos contratados associados a um determinado contrato</documentation>
		</annotation>
	</element>


	<complexType name="ProdutoServicoContratadoNETFone">
		<complexContent>
			<extension base="produto:ProdutoServicoContratado">
				<sequence>
					<element name="NewElement" type="string"></element>
				</sequence>
			</extension>
		</complexContent>

	</complexType>
</schema>