JAVA/ALDSP/NETWorkspaceALDSP/NETClienteDS/schemas/br/com/netservicos/modelocanonico/v2/ativar/Portabilidade.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="http://www.netservicos.com.br/modelocanonico/v2/ativar"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:ident="http://www.netservicos.com.br/modelocanonico/v2/identificacaoContrato"
	xmlns:port="http://www.netservicos.com.br/modelocanonico/v2/ativar"
	xmlns:contrato="http://www.netservicos.com.br/modelocanonico/v2/contrato"
	xmlns:empresa="http://www.netservicos.com.br/modelocanonico/v2/empresa"
	elementFormDefault="qualified">


	<xs:import
		namespace="http://www.netservicos.com.br/modelocanonico/v2/contrato"
		schemaLocation="../contrato/ContratoDeVenda.xsd">
	</xs:import>
	<xs:import
		namespace="http://www.netservicos.com.br/modelocanonico/v2/empresa"
		schemaLocation="../geral/Empresa.xsd">
	</xs:import>
	<xs:complexType name="Bilhete">
		<xs:sequence>
			<xs:element name="identificador" type="xs:long"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="dataAtivacao" type="xs:dateTime" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="dataDesativacao" type="xs:dateTime"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="numeroBilhete" type="xs:string"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="dataMigracao" type="xs:dateTime" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="doadora" type="empresa:OperadoraTelefonia"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="receptora"
				type="empresa:OperadoraTelefonia" minOccurs="0" maxOccurs="1" />
			<xs:element name="tipoPortabilidade" minOccurs="0"
				maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="RECEPCAO"></xs:enumeration>
						<xs:enumeration value="DOACAO"></xs:enumeration>
						<xs:enumeration value="ESTORNO"></xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="status" type="xs:string" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="contrato" type="contrato:ContratoDeVenda"
				minOccurs="0" maxOccurs="1">
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="Bilhete" type="port:Bilhete"></xs:element>
</xs:schema>