NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/ppv/schemas/Parametro.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema 
	targetNamespace="http://www.netservicos.com.br/Parametro/schemas" 
	elementFormDefault="qualified" 
	xmlns="http://www.w3.org/2001/XMLSchema" 
	xmlns:para="http://www.netservicos.com.br/Parametro/schemas">
	
	<complexType name="Parametro">
		<annotation>
			<documentation>
				Parâmetro
			</documentation>
		</annotation>
		<sequence>
			<element name="nomeParametro" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="valorParametro" type="double" minOccurs="0" maxOccurs="1"/>
			<element name="descricao" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="instrucao" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="valorParametroString" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="processarMetre" type="int" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>
	
	<element name="Parametro" type="para:Parametro"/>
</schema>