JAVA/ALDSP/NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/chave/contrato/physical/netsms/schemas/BuscarChaveContratoDSP.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="ld:br/com/netservicos/atendimento/chave/contrato/physical/netsms/BuscarChaveContratoDSP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="BuscarChaveContratoDSP">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="IDCHAVEPRODUTO" type="xs:integer"/>
            <xs:element name="CDCHAVEPRODUTO" type="xs:string"/>
            <xs:element name="DHAQUISICAO" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="IDSTATUSCHAVEPRODUTO" type="xs:integer"/>
            <xs:element name="DSSTATUSCHAVEPRODUTO" type="xs:string"/>
            <xs:element name="DESCRICAO" type="xs:string"/>
            <xs:element name="DSSTATUSCHAVEPRODUTOSITE" type="xs:string" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
