JAVA/ESB/NETWorkspaceESB/relacionar/cliente/dadocobranca/wsdl/business/DadoCobrancaBSWLIWSDLV1_0.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<s0:definitions name="DadoCobrancaJWSServiceDefinitions" targetNamespace="http://br/com/netservicos/relacionar/cliente/jws" xmlns="" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://br/com/netservicos/relacionar/cliente/jws" xmlns:s2="http://www.netservicos.com.br/v2/NetHeader" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap12/">
  <s0:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.netservicos.com.br/NETClienteWLIWeb/DadoCobranca" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:evento="http://www.netservicos.com.br/NETClienteWLIWeb/DadoCobranca" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:complexType name="DadoCobrancaRegistroType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="Protocolo" type="xsd:string">
			</xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="NumeroChamado" type="xsd:string">
			</xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="NomeContato" type="xsd:string">
			</xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="formaContato" type="string">
			</xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="identificador" type="string">
			</xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="RegistroContato" type="evento:DadoCobrancaRegistroType">
        <xsd:annotation>
          <xsd:documentation>
				Registro de Contato com o cliente - Traduzação para
				legado --&gt; Ocorrencia de que e fechado e esta referente
				um contato com o cliente
			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:schema>
    <schema targetNamespace="http://www.netservicos.com.br/v2/NetHeader" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:evento="http://www.netservicos.com.br/modelocanonico/v2/evento" xmlns:tns="http://www.netservicos.com.br/v2/NetHeader">
      <element name="NetHeader" type="tns:Header">
        <annotation>
          <documentation>
				Header padrão de NET. Sera utilizando como um header
				explicito de todos os WSDL's e operações
			</documentation>
        </annotation>
      </element>
      <complexType name="Header">
        <annotation>
          <documentation>
				Elemento raiz de header de NET.
			</documentation>
        </annotation>
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="aplicacao">
            <annotation>
              <documentation>
						Aplicação que esta consumindo o serviço
					</documentation>
            </annotation>
            <simpleType>
              <restriction base="string">
                <enumeration value="NETSMS"/>
                <enumeration value="NETSALES"/>
                <enumeration value="PORTAL NET"/>
                <enumeration value="URA"/>
                <enumeration value="MODULO COBRANCA"/>
                <enumeration value="ATLAS"/>
                <enumeration value="RETENCAO REVERSAO"/>
                <enumeration value="COMISSIONAMENTO"/>
                <enumeration value="WORKASSURE"/>
                <enumeration value="EMBRATEL"/>
                <enumeration value="ACTIVIA"/>
                <enumeration value="DECODER DIGITAL"/>
                <enumeration value="NETADMIN"/>
                <enumeration value="WLI_EVENT"/>
                <enumeration value="OTHER"/>
              </restriction>
            </simpleType>
          </element>
          <element maxOccurs="1" minOccurs="0" name="funcionalidade">
            <annotation>
              <documentation>
						Funcionalidade de consumidor enquanto esta
						consumido este serviço. Sera utilizado para
						auditoria e tracking.
					</documentation>
            </annotation>
            <simpleType>
              <restriction base="string">
                <minLength value="0"/>
                <maxLength value="200"/>
              </restriction>
            </simpleType>
          </element>
          <element maxOccurs="1" minOccurs="0" name="versaoServico" type="string">
            <annotation>
              <documentation>
						Versão de serviço que sera consumido
					</documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="token">
            <annotation>
              <documentation>
						Token de consumidor, utilizado para tracking e
						rastrabilidade de transação.
					</documentation>
            </annotation>
            <simpleType>
              <restriction base="string">
                <minLength value="0"/>
                <maxLength value="200"/>
              </restriction>
            </simpleType>
          </element>
          <element maxOccurs="1" minOccurs="0" name="atendimento" type="tns:Atendimento">
            <annotation>
              <documentation>
						Atendimento de cliente.
					</documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="username" type="string"/>
        </sequence>
      </complexType>
      <complexType name="Atendimento">
        <annotation>
          <documentation>
				Elemento que representar um atendimento da uma cliente
				de NET. Todos os consumidores de serviços que tem os
				informações de protocolo e chamada deveria preencher os
				valores desde entidade.
			</documentation>
        </annotation>
        <sequence>
          <element name="numeroProtocolo" type="string">
            <annotation>
              <documentation>
						Numero de protocolo de atendimento.
					</documentation>
            </annotation>
          </element>
          <element name="numeroChamada" type="string">
            <annotation>
              <documentation>
						Numero de chamanda de atendimento
					</documentation>
            </annotation>
          </element>
        </sequence>
      </complexType>
    </schema>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.netservicos.com.br/NETClienteWLIWeb/DadoCobranca" xmlns:tns="http://www.netservicos.com.br/NETClienteWLIWeb/DadoCobranca" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:complexType name="DadoCobrancaContratoType">
        <xsd:complexContent>
          <xsd:extension base="tns:DadoCobrancaType">
            <xsd:sequence>
              <xsd:element name="numeroContrato" type="xsd:long"/>
              <xsd:element name="nomeContato" type="xsd:string"/>
              <xsd:element name="telefoneContato" type="xsd:string"/>
              <xsd:element name="observacao" type="xsd:string"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="DadoCobrancaPropostaType">
        <xsd:complexContent>
          <xsd:extension base="tns:DadoCobrancaType">
            <xsd:sequence>
              <xsd:element name="numeroProposta" type="xsd:string"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType abstract="true" name="DadoCobrancaType">
        <xsd:sequence>
          <xsd:element name="identificacaoCidade" type="xsd:string"/>
          <xsd:element name="indicadorCoboletamento" type="xsd:boolean"/>
          <xsd:element name="idTipoPostagem" type="xsd:long"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://br/com/netservicos/relacionar/cliente/jws" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://www.netservicos.com.br/NETClienteWLIWeb/DadoCobranca"/>
      <xs:element name="alterar">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="DadoCobrancaType" type="dad:DadoCobrancaType" xmlns:dad="http://www.netservicos.com.br/NETClienteWLIWeb/DadoCobranca"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="alterarResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="DadoCobrancaRegistroType" type="dad:DadoCobrancaRegistroType" xmlns:dad="http://www.netservicos.com.br/NETClienteWLIWeb/DadoCobranca"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.netservicos.com.br/v2/NetHeader" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
  </s0:types>
  <s0:message name="alterar">
    <s0:part element="s1:alterar" name="parameters"/>
    <s0:part element="s2:NetHeader" name="netHeader"/>
  </s0:message>
  <s0:message name="alterarResponse">
    <s0:part element="s1:alterarResponse" name="parameters"/>
  </s0:message>
  <s0:portType name="DadoCobrancaJWS">
    <s0:operation name="alterar" parameterOrder="parameters netHeader">
      <s0:input message="s1:alterar"/>
      <s0:output message="s1:alterarResponse"/>
    </s0:operation>
  </s0:portType>
  <s0:binding name="DadoCobrancaJWSServiceSoapBinding" type="s1:DadoCobrancaJWS">
    <s3:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <s0:operation name="alterar">
      <s3:operation soapAction="" style="document"/>
      <s0:input>
        <s3:body parts="parameters" use="literal"/>
        <s3:header message="s1:alterar" part="netHeader" use="literal"/>
      </s0:input>
      <s0:output>
        <s3:body parts="parameters" use="literal"/>
      </s0:output>
    </s0:operation>
  </s0:binding>
  <s0:service name="DadoCobrancaJWSService">
    <s0:port binding="s1:DadoCobrancaJWSServiceSoapBinding" name="DadoCobrancaJWSSoapPort">
      <s3:address location="http://localhost:7001/NETClienteWLIWeb/DadoCobrancaJWS"/>
    </s0:port>
  </s0:service>
</s0:definitions>