JAVA/ESB/NETWorkspaceESB/relacionar/cliente/clienteclaro/wsdl/business/ESB/Claro/CalcularMultaAssinante/v2/CalcularMultaAssinantev2.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.claro.com.br/EBS/Claro/v2"
	xmlns:tns="http://www.claro.com.br/EBS/Claro/v2"
	xmlns:ns1="http://www.claro.com.br/EBO/Claro/v1"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" attributeFormDefault="qualified"
	version="1.0">

	<xsd:annotation>
		<xsd:documentation>
		<![CDATA[

	ATENCAO: Arquivo gerado automaticamente, as alteracoes realizada diretamente neste arquivo serao perdidas.
	Ferramenta: GeraSoa-v4.5.1
	Especificacao de servico: CalcularMultaAssinante v-2.5.3

		]]>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:import namespace="http://www.claro.com.br/EBO/Claro/v1" schemaLocation="CalcularMultaAssinanteNSv2.xsd" />

	<xsd:element name="CalcularMultaAssinanteRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="cliente" type="ns1:CalcularMultaAssinantev2_ClienteType" minOccurs="0" maxOccurs="1" />
				<xsd:element name="operacao" type="ns1:CalcularMultaAssinantev2_OperacaoMultaType" minOccurs="0" maxOccurs="1" />
				<xsd:element name="motivo" type="ns1:CalcularMultaAssinantev2_MotivoType" minOccurs="0" maxOccurs="1" />
				<xsd:element name="cliente-destino" type="ns1:CalcularMultaAssinantev2_ClienteType" minOccurs="0" maxOccurs="1" />
				<xsd:element name="tipo-participacao-assinante-contrato" type="ns1:CalcularMultaAssinantev2_TipoParticipacaoAssinanteContratoType" minOccurs="0" maxOccurs="1" />
				<xsd:element name="meta-informacao" type="ns1:CalcularMultaAssinantev2_MetaInfType" minOccurs="1" maxOccurs="1" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="CalcularMultaAssinanteResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="tipo-operacoes" type="ns1:CalcularMultaAssinantev2_ArrayOfTipoOperacaoMultaType" minOccurs="0" maxOccurs="1" />
				<xsd:element name="multas" type="ns1:CalcularMultaAssinantev2_ArrayOfMultaType" minOccurs="0" maxOccurs="1" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="AssinanteNaoEncontradoFault" type="ns1:AssinanteNaoEncontradoFaultType" /> 
	<xsd:element name="ParametroInvalidoFault" type="ns1:ParametroInvalidoFaultType" /> 
	<xsd:element name="TechnicalFault" type="ns1:TechnicalFaultType" /> 

</xsd:schema>
