JAVA/ESB/NETWorkspaceESB/relacionar/cliente/clienteclaro/wsdl/business/ESB/Claro/CalcularMultaAssinante/v2/CalcularMultaAssinantev2.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	name="CalcularMultaAssinantev2"
	targetNamespace="http://www.claro.com.br/EBS/Claro/v2"
	xmlns:tns="http://www.claro.com.br/EBS/Claro/v2"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<wsdl:documentation>
	<![CDATA[

	ATENCAO: Arquivo gerado automaticamente, as alteracoes realizada diretamente neste arquivo serao perdidas.
	Ferramenta: GeraSoa-v4.5.1
	Especificacao de servico: CalcularMultaAssinante v-2.5.3

	]]>
	</wsdl:documentation>

	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.claro.com.br/EBS/Claro/v2" schemaLocation="CalcularMultaAssinantev2.xsd" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="CalcularMultaAssinanteRequestMsg">
		<wsdl:part name="request" element="tns:CalcularMultaAssinanteRequest" />
	</wsdl:message>

	<wsdl:message name="CalcularMultaAssinanteResponseMsg">
		<wsdl:part name="response" element="tns:CalcularMultaAssinanteResponse" />
	</wsdl:message>

	<wsdl:message name="AssinanteNaoEncontradoFaultMsg">
		<wsdl:part name="AssinanteNaoEncontradoFault" element="tns:AssinanteNaoEncontradoFault" />
	</wsdl:message>

	<wsdl:message name="ParametroInvalidoFaultMsg">
		<wsdl:part name="ParametroInvalidoFault" element="tns:ParametroInvalidoFault" />
	</wsdl:message>

	<wsdl:message name="TechnicalFaultMsg">
		<wsdl:part name="TechnicalFault" element="tns:TechnicalFault" />
	</wsdl:message>


	<wsdl:portType name="SynPortType">

		<wsdl:operation name="calcularMultaAssinante">
			<wsdl:input message="tns:CalcularMultaAssinanteRequestMsg" />
			<wsdl:output message="tns:CalcularMultaAssinanteResponseMsg" />
			<wsdl:fault name="AssinanteNaoEncontradoFault" message="tns:AssinanteNaoEncontradoFaultMsg" />
			<wsdl:fault name="ParametroInvalidoFault" message="tns:ParametroInvalidoFaultMsg" />
			<wsdl:fault name="TechnicalFault" message="tns:TechnicalFaultMsg" />
		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="SynPortTypeSOAP" type="tns:SynPortType">

		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="calcularMultaAssinante">
			<soap:operation soapAction="calcularMultaAssinante" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="AssinanteNaoEncontradoFault">
				<soap:fault name="AssinanteNaoEncontradoFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="ParametroInvalidoFault">
				<soap:fault name="ParametroInvalidoFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="TechnicalFault">
				<soap:fault name="TechnicalFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

	</wsdl:binding>

	<wsdl:service name="CalcularMultaAssinantev2">
		<wsdl:port name="SynPortSOA" binding="tns:SynPortTypeSOAP">
			<soap:address location="http://esbsoa.claro.com.br/esb/services/CalcularMultaAssinantev2" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
