JAVA/ESB/NETWorkspaceESB/relacionar/cliente/clienteclaro/wsdl/business/ESB/Claro/CalcularMultaAssinante/v2/CalcularMultaAssinanteNSv2.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema"
		targetNamespace="http://www.claro.com.br/EBO/Claro/v1"
		xmlns:tns="http://www.claro.com.br/EBO/Claro/v1"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		elementFormDefault="qualified" attributeFormDefault="qualified"
		version="1.0">

	<xsd:include schemaLocation="../../../../EBO/Claro/v1/AssinanteNaoEncontradoFaultEBOv1.xsd" />
	<xsd:include schemaLocation="../../../../EBO/Claro/v1/ParametroInvalidoFaultEBOv1.xsd" />
	<xsd:include schemaLocation="../../../../EBO/Claro/v1/TechnicalFaultEBOv1.xsd" />

<xsd:simpleType name="CalcularMultaAssinantev2_TipoServicoType">
		<xsd:annotation>
			<xsd:documentation>
				<![CDATA[
				Corresponde aos tipos de serviços oferecidos pela Claro:

				MOVEL - Serviço de Telefonia Móvel (Celular)

				FIXO - Serviço de Telefonia Fixa
				
				BANDA_LARGA - Serviço de Acesso a Internet

				TELEMETRIA - Serviço de telemetria de dados, por exemplo: 
				             monitoramento de frota, leitura de relógios de água e
				             luz, etc.
				
				GLP	- classificação alternativa de serviço utilizada para representar um produto instalado GLP; 
				incluído para representar a abordagem do projeto CPC, em que o GLP é representado como um 
				produto instalado independente dos assinantes que compartilham a oferta GLP; 
				neste cenário, haverá um produto do tipo GLP e outros do tipo MOVEL, e
				serão representados como produtos independentes   
				
				Exemplo de Tipo de Serviço: MOVEL
				]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="MOVEL"/>
			<xsd:enumeration value="FIXO"/>
			<xsd:enumeration value="BANDA_LARGA"/>
			<xsd:enumeration value="TELEMETRIA"/>
			<xsd:enumeration value="GLP"/>
		</xsd:restriction>
	</xsd:simpleType>
<xsd:complexType name="CalcularMultaAssinantev2_ArrayOfTipoOperacaoMultaType">
		<xsd:sequence><xsd:element maxOccurs="unbounded" minOccurs="0" name="tipo-operacao" type="tns:CalcularMultaAssinantev2_TipoOperacaoMultaType">
			</xsd:element></xsd:sequence>
	</xsd:complexType>
<xsd:complexType name="CalcularMultaAssinantev2_OfertaType">
		<xsd:annotation>
			<xsd:documentation>
			<![CDATA[
				Representa uma oferta de serviço de telefonia.
			]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence><xsd:element maxOccurs="1" minOccurs="0" name="mobile-oferta-id" nillable="true" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Código de identificação da oferta de serviço no
						Mobile.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="data-inicio-vigencia" nillable="true" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Data de início de vigência da oferta.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="data-termino-vigencia" nillable="true" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Data de término de vigência da oferta
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element default="false" maxOccurs="1" minOccurs="0" name="indicador-subsidio" nillable="true" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Indicador que sinaliza se a oferta é subsidiada
						ou não.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="valor-subsidio" nillable="true" type="xsd:double">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Valor do subsídio associado à oferta
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="lista-parametros" type="tns:CalcularMultaAssinantev2_ArrayOfParametroOfertaType">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Lista de parâmetros da oferta.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element></xsd:sequence>
	</xsd:complexType>
<xsd:simpleType name="CalcularMultaAssinantev2_SubTipoRedeMovelType">
		<xsd:annotation>
			<xsd:documentation>
			<![CDATA[
          		Representa os subtipos de tecnologia de rede com os quais a
          		Claro atua, 2G, 2_5G, 3G         
			]]>
			</xsd:documentation>
		</xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="2G"/>
      <xsd:enumeration value="2_5G"/>
      <xsd:enumeration value="3G"/>
      <xsd:enumeration value="4G"/>
    </xsd:restriction>
  </xsd:simpleType>
<xsd:complexType name="CalcularMultaAssinantev2_AssinanteType">

		<xsd:annotation>
			<xsd:documentation>
			<![CDATA[
				Representa um assinante do serviço de telefonia.
			]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence><xsd:element maxOccurs="1" minOccurs="0" name="tipo-servico" nillable="true" type="tns:CalcularMultaAssinantev2_TipoServicoType">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Tipo de serviço contratado pelo assinante.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="tipo-assinatura" nillable="true" type="tns:CalcularMultaAssinantev2_ProdutoType">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Tipo de assinatura contratada pelo assinante.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="numero-telefone" nillable="false" type="tns:CalcularMultaAssinantev2_NumeroTelefoneType">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Número que identifica um dispositivo na rede de
						telefonia, no caso de telefone celular
						corresponde ao próprio MSISDN.
						
						Representado separadamente de Simcard e Dispositivo, pois 
						é independente de ambos, além da necessidade de indicar
						a origem do número, se é portado, etc.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="memos" type="tns:CalcularMultaAssinantev2_ArrayOfMemoType">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Lista dos memorandos associados ao assinante.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="mobile-assinante-id" nillable="true" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Código de identificação do assinante no sistema
						de billing (Mobile).
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="tecnologia-rede" type="tns:CalcularMultaAssinantev2_TecnologiaRedeType">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Especificações técnicas da rede de comunicação utilizada pelo assinante 
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="ordens-ofertas" nillable="false" type="tns:CalcularMultaAssinantev2_ArrayOfOrdemOfertasType">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Relação de ordens de alteração de ofertas de um Assinante.	
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element></xsd:sequence>
	</xsd:complexType>
<xsd:complexType name="CalcularMultaAssinantev2_ArrayOfOrdemOfertasType">
		<xsd:sequence><xsd:element maxOccurs="unbounded" minOccurs="0" name="ordem" type="tns:CalcularMultaAssinantev2_OrdemOfertasType">
			</xsd:element></xsd:sequence>
	</xsd:complexType>
<xsd:complexType name="CalcularMultaAssinantev2_NumeroTelefoneType">
		<xsd:annotation>
			<xsd:documentation>
			<![CDATA[
				Representa um número de telefone, por exemplo um número de telefone móvel, fixo, 
				CNG (0800, 4004, 3003, 0303, 0900, etc.), ou de um modem.
			]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence><xsd:element maxOccurs="1" minOccurs="0" name="msisdn" nillable="true" type="tns:CalcularMultaAssinantev2_MsisdnType">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Atributo descontinuado em nome de
						numero-telefone.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element></xsd:sequence>
	</xsd:complexType>
<xsd:complexType name="CalcularMultaAssinantev2_ArrayOfMemoType">
		<xsd:annotation>
			<xsd:documentation>
			<![CDATA[
				Representa uma lista de memorandos.
			]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence><xsd:element maxOccurs="unbounded" minOccurs="0" name="memo" type="tns:CalcularMultaAssinantev2_MemoType">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Representa um memorando.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element></xsd:sequence>
	</xsd:complexType>
<xsd:complexType name="CalcularMultaAssinantev2_ParametroOfertaType">
		<xsd:annotation>
			<xsd:documentation>
			<![CDATA[
				Representa um parâmetro associado à uma oferta no
				sistema de faturamento de pós-pago.
			]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence><xsd:element maxOccurs="1" minOccurs="0" name="nome" nillable="true" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Nome do parâmetro.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="lista-valores" type="tns:CalcularMultaAssinantev2_ArrayOfParametroValorType">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Lista de valores do parâmetro.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element></xsd:sequence>
	</xsd:complexType>
<xsd:complexType name="CalcularMultaAssinantev2_TipoOperacaoMultaType">
		<xsd:sequence><xsd:element maxOccurs="1" minOccurs="0" name="abrangencia" nillable="true" type="tns:CalcularMultaAssinantev2_TipoMultaType"/><xsd:element maxOccurs="1" minOccurs="0" name="classe" nillable="true" type="tns:CalcularMultaAssinantev2_ClasseOperacaoMultaType"/><xsd:element maxOccurs="1" minOccurs="0" name="motivo-classe" nillable="false" type="tns:CalcularMultaAssinantev2_MotivoType"/></xsd:sequence>
	</xsd:complexType>
<xsd:complexType name="CalcularMultaAssinantev2_OrdemOfertasType">
		<xsd:annotation>
			<xsd:documentation>
			<![CDATA[
				Representa uma ordem de manipulação de ofertas de um Assinante ou contrato.
				O objetivo de uma ordem de oferta é adicionar/remover/atualizar um conjunto 
				de ofertas para um Assinante ou Contrato.
			]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence><xsd:element maxOccurs="1" minOccurs="0" name="tipo-operacao" nillable="true" type="tns:CalcularMultaAssinantev2_TipoOperacaoOrdemOfertasType">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Tipo de operação a ser efetivada com as ofertas, que pode ser:
						ADICIONAR/REMOVER/ATUALIZAR.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="ofertas" nillable="false" type="tns:CalcularMultaAssinantev2_ArrayOfOfertaType">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Relação das ofertas que compõem esta ordem.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element></xsd:sequence>
	</xsd:complexType>
<xsd:complexType name="CalcularMultaAssinantev2_ArrayOfParametroValorType">
		<xsd:annotation>
			<xsd:documentation>
			<![CDATA[
				Representa uma lista de valores de parâmetros de
				uma
				oferta no sistema de faturamento de pós-pago.
			]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence><xsd:element maxOccurs="unbounded" minOccurs="0" name="valor" nillable="true" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Valor de um parâmetro de oferta.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element></xsd:sequence>
	</xsd:complexType>
<xsd:simpleType name="CalcularMultaAssinantev2_TipoMultaType">
		<xsd:annotation>
			<xsd:documentation>
			<![CDATA[
				Corresponde aos tipos possíveis de multa, que podem ser:

				PERMANENCIA - tipo de multa de permanência no contrato. Este tipo é associado à multa total 
				(multa resultante) prevista caso a permanência não seja cumprida, ou seja, corresponde à soma das 
				multas da composição.

				PLANO_PRECO - tipo de multa vinculada a desconto no plano.

				PACOTE_DADOS - tipo de multa vinculada a desconto em pacote de dados.

				PACOTE - tipo de multa vinculada a desconto em pacote, de qualquer tipo.

				APARELHO - tipo de multa vinculada a desconto em aparelho.

				SERVICO - tipo de multa vinculada a desconto em em serviço. O serviço nesse caso é genérico, podendo 
				ser plano de preço ou pacote. Este tipo é utilizado para identificar uma multa contraída por descontos 
				em plano e pacote ao mesmo tempo.

				DESCONTO - tipo de multa vinculada a descontos.

				Exemplo de Tipo de Multa: PERMANENCIA
			]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="PERMANENCIA"/>
			<xsd:enumeration value="PLANO_PRECO"/>
			<xsd:enumeration value="PACOTE_DADOS"/>
			<xsd:enumeration value="PACOTE"/>
			<xsd:enumeration value="APARELHO"/>
			<xsd:enumeration value="SERVICO"/>
			<xsd:enumeration value="DESCONTO"/>
		</xsd:restriction>
	</xsd:simpleType>
<xsd:complexType name="CalcularMultaAssinantev2_TecnologiaRedeType">
		<xsd:annotation>
			<xsd:documentation>
			<![CDATA[
					Representa as especificações/características que definem a tecnologia 
					de rede de comunicação utilizada por um assinante, como por exemplo, 
					tipo de rede móvel (GSM, TDMA), subtipo de rede móvel (3G, 4G), 
					tipo de rede fixa, capacidade de tráfego de dados, frequência de atuação, 
					limitações, etc. 
					
			]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence><xsd:element maxOccurs="1" minOccurs="0" name="tipo-rede-movel" nillable="true" type="tns:CalcularMultaAssinantev2_TipoRedeMovelType">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Tipo de tecnologia da rede móvel (GSM, TDMA) 
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="subtipo-rede-movel" nillable="true" type="tns:CalcularMultaAssinantev2_SubTipoRedeMovelType">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Subtipo da tecnologia de rede móvel (2_5G, 3G, etc.)
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element></xsd:sequence>
	</xsd:complexType>
<xsd:simpleType name="CalcularMultaAssinantev2_TipoParticipacaoAssinanteContratoType">
		<xsd:annotation>
			<xsd:documentation>
			<![CDATA[
				Corresponde aos tipos possíveis de participação de um assinante em um contrato.
				
				TITULAR - O assinante é o titular do contrato.

				DEPENDENTE - O assinante é um dependente no contrato.
								
				Exemplo de perfil de participação do assinante em um contrato: TITULAR
			]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="TITULAR"/>
			<xsd:enumeration value="DEPENDENTE"/>
		</xsd:restriction>
	</xsd:simpleType>
<xsd:complexType name="CalcularMultaAssinantev2_MultaType">
		<xsd:annotation>
			<xsd:documentation>
			<![CDATA[
				Representa uma multa a ser aplicada a um cliente ou assinante
			]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence><xsd:element maxOccurs="1" minOccurs="0" name="assinante" nillable="false" type="tns:CalcularMultaAssinantev2_AssinanteType">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Assinante sobre o qual se aplica a multa
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="valor" nillable="true" type="xsd:double">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Valor atual da multa.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="descricao" nillable="true" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Descrição da multa
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="tipo-multa" nillable="true" type="tns:CalcularMultaAssinantev2_TipoMultaType">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Classificação da multa
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="data-inicio-carencia" nillable="true" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Data de início do período de carência sujeito a
						multa
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="data-termino-carencia" nillable="true" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Data de início do período de carência sujeito a
						multa
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="ofertas" nillable="false" type="tns:CalcularMultaAssinantev2_ArrayOfOfertaType">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Lista dos ofertas que sinalizam a multa
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element></xsd:sequence>
	</xsd:complexType>
<xsd:simpleType name="CalcularMultaAssinantev2_ProdutoType">
		<xsd:annotation>
			<xsd:documentation>
				<![CDATA[
				Corresponde aos tipos de produtos oferecidos pela Claro:

				Claro Cartao - Serviço de Pré-Pago

				Claro Conta - Serviço de Pós-Pago
				
				Claro Controle - Serviço híbrido, onde o assinante possui uma 
				assinantura e franquia de uso, como no Claro Conta, mas ao 
				ultrapassar a franquia, apresenta comportamento semelhante ao
				Claro Cartao
				
				Exemplo de Produto: CLARO_CARTAO
				]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="CLARO_CARTAO"/>
			<xsd:enumeration value="CLARO_CONTA"/>
			<xsd:enumeration value="CLARO_CONTROLE"/>
		</xsd:restriction>
	</xsd:simpleType>
<xsd:complexType name="CalcularMultaAssinantev2_ClienteType">
		<xsd:annotation>
			<xsd:documentation>
			<![CDATA[
				Representa um cliente contratante de serviço de
				telefonia.
			]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence><xsd:element maxOccurs="1" minOccurs="0" name="contratos" nillable="false" type="tns:CalcularMultaAssinantev2_ArrayOfContratoType">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Lista dos contratos do cliente
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element></xsd:sequence>
	</xsd:complexType>
<xsd:simpleType name="CalcularMultaAssinantev2_OperacaoMultaType">
		<xsd:annotation>
			<xsd:documentation>
			<![CDATA[
				Corresponde às operações que incidem multa, os valores possíveis são:

				CANCELAMENTO - cancelamento de serviço.

				SUSPENSAO_FINAL - suspensão final de serviço.

				SUSPENSAO - suspensão de serviço.

				TROCA_OFERTAS - troca de ofertas.

				ATIVACAO - ativação de serviço.

				RETENCAO - alteração de serviços para retenção do assinante.

				Exemplo de Operação de Multa: CANCELAMENTO
			]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="CANCELAMENTO"/>
			<xsd:enumeration value="SUSPENSAO_FINAL"/>
			<xsd:enumeration value="SUSPENSAO"/>
			<xsd:enumeration value="TROCA_OFERTAS"/>
			<xsd:enumeration value="ATIVACAO"/>
			<xsd:enumeration value="RETENCAO"/>
		</xsd:restriction>
	</xsd:simpleType>
<xsd:simpleType name="CalcularMultaAssinantev2_TipoRedeMovelType">
		<xsd:annotation>
			<xsd:documentation>
			<![CDATA[
          		Representa os tipos de tecnlogia de rede com os quais a
          		Claro atua: GSM, TDMA         
			]]>
			</xsd:documentation>
		</xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="GSM"/>
      <xsd:enumeration value="TDMA"/>
      <xsd:enumeration value="LTE"/>
      <!--   <xsd:enumeration value="CDMA" />  -->
    </xsd:restriction>
  </xsd:simpleType>
<xsd:complexType name="CalcularMultaAssinantev2_MemoType">
		<xsd:annotation>
			<xsd:documentation>
			<![CDATA[
				Representa um memorando, ou seja, uma informação
				registrada, que pode estar associada a um cliente, a um
				assinante, a
				uma account, etc.
			]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence><xsd:element maxOccurs="1" minOccurs="0" name="texto" nillable="true" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
							Conteúdo do memorando.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element></xsd:sequence>
	</xsd:complexType>
<xsd:complexType name="CalcularMultaAssinantev2_MotivoType">
		<xsd:annotation>
			<xsd:documentation>
			<![CDATA[
				Representa um tipo genérico para Motivos (motivos
				de cancelamento, de suspensão, de atendimento, etc)
			]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence><xsd:element maxOccurs="1" minOccurs="0" name="motivo-id" nillable="true" type="xsd:string"/></xsd:sequence>
	</xsd:complexType>
<xsd:complexType name="CalcularMultaAssinantev2_ArrayOfParametroOfertaType">
		<xsd:annotation>
			<xsd:documentation>
			<![CDATA[
				Representa uma lista de parâmetros de oferta de
				sistema
				de faturamento de pós-pago.
			]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence><xsd:element maxOccurs="unbounded" minOccurs="0" name="parametro" type="tns:CalcularMultaAssinantev2_ParametroOfertaType">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Parâmetro de oferta de sistema de faturamento de
						pós-pago.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element></xsd:sequence>
	</xsd:complexType>
<xsd:simpleType name="CalcularMultaAssinantev2_TipoOperacaoOrdemOfertasType">
		<xsd:annotation>
			<xsd:documentation>
			<![CDATA[
				Corresponde aos tipos de operação que podem ser realizadas 
				sobre um conjunto de ofertas, que pode ser:
				
				ADICIONAR - operação para incluir o conjunto de ofertas para um determinado assinante ou contrato 
				
				REMOVER - operação para remover/expirar o conjunto de ofertas para um determinado assinante ou contrato

				ATUALIZAR - operação para atualizar alguma informação (parâmetro) de um conjunto de ofertas para um determinado assinante ou contrato

				SUBSTITUIR - operação para substituir as ofertas que o assinante possua pelas informadas, ou seja remove todas as ofertas atuais do assinante e deixa apenas as informadas

			]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ADICIONAR"/>
			<xsd:enumeration value="REMOVER"/>
			<xsd:enumeration value="ATUALIZAR"/>
			<xsd:enumeration value="SUBSTITUIR"/>
		</xsd:restriction>
	</xsd:simpleType>
<xsd:complexType name="CalcularMultaAssinantev2_ArrayOfContratoType">
		<xsd:annotation>
			<xsd:documentation>
			<![CDATA[
				Representa uma lista de contratos.
			]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence><xsd:element maxOccurs="unbounded" minOccurs="0" name="contrato" type="tns:CalcularMultaAssinantev2_ContratoType">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Lista de contratos.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element></xsd:sequence>
	</xsd:complexType>
<xsd:complexType name="CalcularMultaAssinantev2_ArrayOfMultaType">
		<xsd:sequence><xsd:element maxOccurs="unbounded" minOccurs="0" name="multa" type="tns:CalcularMultaAssinantev2_MultaType">
			</xsd:element></xsd:sequence>
	</xsd:complexType>
<xsd:complexType name="CalcularMultaAssinantev2_MetaInfType">
		<xsd:annotation>
			<xsd:documentation>
			<![CDATA[
				Representa informações referentes à aplicação que
				gerou
				a solicitação para o serviço. esta informações são úteis
				na
				identificação de problemas e são utilizadas para
				rastreamento de
				segurança.
			]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence><xsd:element maxOccurs="1" minOccurs="1" name="codigo-aplicacao-origem" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Código de identificação da aplicação de origem.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="1" name="codigo-operacao-origem" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Código de identificação da operação realizada na
						aplicação de origem.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="1" name="correlacao-id-origem" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Código de identificação da transação na
						aplicação de origem.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="1" name="endereco-aplicacao-origem" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Endereço de origem da transação. Em geral contém
						o IP ou nome da máquina ge gerou a solicitação
						para o serviço.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="1" name="usuario-id-origem" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Código de identificação do usuário autenticado
						na aplicação de origem.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="data-hora-origem" nillable="true" type="xsd:dateTime">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Data e hora em que o serviço foi solicitado pela
						aplicação de origem.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="canal-id-origem" nillable="true" type="string">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Código do canal de interação com o cliente (da aplicação) 
						em que a aplicação que originou a requisição funciona;
						pode assumir valores de canais de atendimento, 
						vendas e interação em geral, como por exemplo:
						
						SITE, URA, LOJAONLINE, TOTEM, RCV, etc. 
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element></xsd:sequence>
	</xsd:complexType>
<xsd:complexType name="CalcularMultaAssinantev2_ArrayOfOfertaType">
		<xsd:annotation>
			<xsd:documentation>
			<![CDATA[
				Representa uma lista de ofertas.
			]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence><xsd:element maxOccurs="unbounded" minOccurs="0" name="oferta" type="tns:CalcularMultaAssinantev2_OfertaType">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Oferta de serviço de telefonia.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element></xsd:sequence>
	</xsd:complexType>
<xsd:complexType name="CalcularMultaAssinantev2_ContratoType">
		<xsd:annotation>
			<xsd:documentation>
			<![CDATA[
				Representa um contrato de serviço realizado por um
				cliente de telefonia.
			]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence><xsd:element maxOccurs="1" minOccurs="0" name="assinantes" nillable="false" type="tns:CalcularMultaAssinantev2_ArrayOfAssinanteType">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Lista de assinantes relacionados a este
						contrato.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="ordens-ofertas" nillable="false" type="tns:CalcularMultaAssinantev2_ArrayOfOrdemOfertasType">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Relação de ordens de alteração de ofertas de um Contrato.	
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element></xsd:sequence>
	</xsd:complexType>
<xsd:simpleType name="CalcularMultaAssinantev2_ClasseOperacaoMultaType">
		<xsd:annotation>
			<xsd:documentation>
			<![CDATA[
				Corresponde aos níveis de operações que podem incidir multa, os valores possíveis são:

				UPGRADE - upgrade de serviço.

				SIMILAR - similar de serviço.

				DOWNGRADE - downgrade de serviço.

				CANCELAMENTO - cancelamento de serviço.

				MIGRACAO_CONTRATO - migração de contrato, ou seja, o assinante sai de uma estrutura de
				contrato/cliente e passa para uma nova estrutura de contrato/cliente, assumindo a condição 
				de titular ou dependente nessa nova estrutura.

				ATIVACAO - Nome da operação referente a exibição da multa futura de desconto de serviços. 
				Essa operação diferenciará a adição de ofertas para uma ativação.

				Exemplo de Operação de Multa: CANCELAMENTO 
			]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="UPGRADE"/>
			<xsd:enumeration value="SIMILAR"/>
			<xsd:enumeration value="DOWNGRADE"/>
			<xsd:enumeration value="CANCELAMENTO"/>
			<xsd:enumeration value="MIGRACAO_CONTRATO"/>
			<xsd:enumeration value="ATIVACAO"/>
		</xsd:restriction>
	</xsd:simpleType>
<xsd:simpleType name="CalcularMultaAssinantev2_MsisdnType">
		<xsd:annotation>
			<xsd:documentation>
				<![CDATA[
				Mobile Subscriber Integrated Services Digital Network
				Number (MSISDN) - é o número que identifica unicamente
				um assinante em uma rede de celulares GSM ou UMTS.
				Corresponde ao número do telefone associado a um SIM
				card de um celular.
				
				A restrição aplicada a esse type significa que deve existir 
				um primeiro caracter que deve estar entre 1 e 9, e deve ser completado 
				com mais 9 ou 15 caracteres que devem estar entre 0 e 9.
				
				Exemplo de MSISDN: 1191234567
				]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[1-9][0-9]{9,15}"/>
		</xsd:restriction>
	</xsd:simpleType>
<xsd:complexType name="CalcularMultaAssinantev2_ArrayOfAssinanteType">
		<xsd:annotation>
			<xsd:documentation>
			<![CDATA[
				Representa uma lista de assinantes de serviço de
				telefonia.
			]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence><xsd:element maxOccurs="unbounded" minOccurs="0" name="assinante" type="tns:CalcularMultaAssinantev2_AssinanteType">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Lista de assinantes de telefonia.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element></xsd:sequence>
	</xsd:complexType></xsd:schema>
