JAVA/ALDSP/NETWorkspaceALDSP/NETClienteDS/schemas/br/com/netservicos/modelocanonico/fatura/Fatura.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	targetNamespace="http://www.netservicos.com.br/modelocanonico/fatura"
	elementFormDefault="qualified"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:fatura="http://www.netservicos.com.br/modelocanonico/fatura" xmlns:cobranca="http://www.netservicos.com.br/modelocanonico/cobranca">
	<xsd:import namespace="http://www.netservicos.com.br/modelocanonico/cobranca" schemaLocation="../cobranca/Cobranca.xsd"></xsd:import>

	<xsd:complexType name="Fatura">
		<xsd:sequence>
			<xsd:element name="IdentificadorFatura" type="xsd:string"
				minOccurs="0" maxOccurs="1">
			</xsd:element>
			<xsd:element name="TipoCobranca"
				type="cobranca:TipoCobranca" minOccurs="0" maxOccurs="1">
			</xsd:element>
			<xsd:element name="SituacaoFatura"
				type="fatura:SitucaoFatura" minOccurs="0" maxOccurs="1">
			</xsd:element>
			<xsd:element name="NotaFiscal" type="fatura:NotaFiscal"
				minOccurs="0" maxOccurs="1">
			</xsd:element>
			<xsd:element name="DataVencimento" type="xsd:date"
				maxOccurs="1" minOccurs="0">
			</xsd:element>
			<xsd:element name="DataPagamento" type="xsd:date"
				minOccurs="0" maxOccurs="1">
			</xsd:element>
			<xsd:element name="DataBaixaPagamento" type="xsd:date"
				minOccurs="0" maxOccurs="1">
			</xsd:element>
			<xsd:element name="ValorFatura" type="xsd:double" minOccurs="0" maxOccurs="1"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="SitucaoFatura">
		<xsd:sequence>
			<xsd:element name="IdentificadorSitucaoFatura"
				type="xsd:string" minOccurs="0" maxOccurs="1">
			</xsd:element>
			<xsd:element name="DescricaoSitucaoFatura" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="NotaFiscal">
    	<xsd:sequence>
    		<xsd:element name="NumeroNotaFisical" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>

	<xsd:complexType name="Faturas">
		<xsd:sequence>
			<xsd:element name="Faturas" type="fatura:Fatura" minOccurs="0" maxOccurs="unbounded"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>