JAVA/ALDSP/NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/fatura/schemas/FaturaPEC.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="ld:br/com/netservicos/atendimento/fatura/logical/entity/FaturaPecDSL"
	xmlns:fat="ld:br/com/netservicos/atendimento/fatura/logical/entity/FaturaPecDSL"
	elementFormDefault="qualified">

	<xs:complexType name="FaturaType">
		<xs:sequence>
			<xs:element name="numeroDocumento" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="nomeCliente" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="numContrato" type="xs:long" minOccurs="0" maxOccurs="1"/>
			<xs:element name="cidContrato" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="dataVencimento" type="xs:date" minOccurs="0" maxOccurs="1"/>
			<xs:element name="codigoBarras" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="valorDocumento" type="xs:double" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="Faturas">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Fatura" type="fat:FaturaType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>


</xs:schema>