JAVA/ALDSP/NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/fatura/schemas/NotaFiscal.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.netservicos.com.br/NotaFiscal"
	xmlns:tns="http://www.netservicos.com.br/NotaFiscal"
	elementFormDefault="qualified">


	<complexType name="NotaFiscalType">
		<sequence>
			<element name="numeroNotaFiscal" type="string"
				minOccurs="0" />
		</sequence>

	</complexType>

	<element name="NotaFiscal" type="tns:NotaFiscalType" />
</schema>