NETWorkspaceESB/general/NETSMSDatabaseConfig/wsdl/proxy/IdentificacaoOperadoraNETWSDLV1_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="IdentificacaoOperadoraNET" targetNamespace="http://www.netservicos.com.br/IdentificacaoOperadoraNET/" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.netservicos.com.br/IdentificacaoOperadoraNET/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netheader="http://www.netservicos.com.br/v2/NetHeader" xmlns:empresa="http://www.netservicos.com.br/modelocanonico/v2/empresa" xmlns:iden="http://www.netservicos.com.br/modelocanonico/v2/identificacaoOperadoraNET">

	<wsdl:types>
		<xsd:schema targetNamespace="http://www.netservicos.com.br/IdentificacaoOperadoraNET/">

            <xsd:import schemaLocation="../../../../modelocanonicoV2/geral/Empresa.xsd" namespace="http://www.netservicos.com.br/modelocanonico/v2/empresa"/>

            <xsd:import schemaLocation="../../../../modelocanonicoV2/geral/IdentificacaoOperadoraNET.xsd" namespace="http://www.netservicos.com.br/modelocanonico/v2/identificacaoOperadoraNET"/>

            <xsd:element name="identificarOperadoraNETResponse" type="tns:identificarOperadoraNETResponseType"/>
			<xsd:element name="listarOperadorasNETRequest" type="tns:listarOperadorasNETRequestType"/>
          	<xsd:element name="listarOperadorasNETResponse" type="tns:listarOperadorasNETResponseType"/>

            <xsd:complexType name="identificarOperadoraNETResponseType">
            	<xsd:complexContent>
            		<xsd:extension base="empresa:OperadoraNET">
            			<xsd:sequence>
            				<xsd:element name="aliasDatabase" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            			</xsd:sequence>
            		</xsd:extension>
            	</xsd:complexContent>
            </xsd:complexType>

            <xsd:complexType name="identificacaoOperadoraNET">
            	<xsd:complexContent>
            		<xsd:extension base="empresa:OperadoraNET">
            			<xsd:sequence>
            				<xsd:element name="aliasDatabase" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            			</xsd:sequence>
            		</xsd:extension>
            	</xsd:complexContent>
            </xsd:complexType>

			<xsd:complexType name="listarOperadorasNETResponseType">
				<xsd:sequence>
					<xsd:element name="identificacaoOperadoraNET" type="tns:identificacaoOperadoraNET" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="listarOperadorasNETRequestType">				
			</xsd:complexType>
		</xsd:schema>

		<xsd:schema>
			<xsd:import namespace="http://www.netservicos.com.br/modelocanonico/v2/empresa" schemaLocation="../../../../modelocanonicoV2/geral/Empresa.xsd"/>
			<xsd:import namespace="http://www.netservicos.com.br/v2/NetHeader" schemaLocation="../../../../modelocanonicoV2/geral/NETHeader.xsd"/>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="identificarOperadoraNETRequest">
		<wsdl:part name="request_header" element="netheader:NetHeader"/>
        <wsdl:part name="identificarOperadoraNETRequest" element="iden:IdentificacaoOperadoraNET"/>
    </wsdl:message>

	<wsdl:message name="identificarOperadoraNETResponse">
		<wsdl:part name="identificarOperadoraNETResponse" element="tns:identificarOperadoraNETResponse"/>
	</wsdl:message>
	
	<wsdl:message name="listarOperadorasNETRequest">
    	<wsdl:part element="netheader:NetHeader" name="request_header"/>
    	<wsdl:part name="listarOperadorasNETRequest" element="tns:listarOperadorasNETRequest"/>
  	</wsdl:message>
  	<wsdl:message name="listarOperadorasNETResponse">
    	<wsdl:part name="listarOperadorasNETResponse" element="tns:listarOperadorasNETResponse"/>
  	</wsdl:message>

	<wsdl:portType name="IdentificacaoOperadoraNET">
		<wsdl:operation name="identificarOperadoraNET">
			<wsdl:input message="tns:identificarOperadoraNETRequest"/>
			<wsdl:output message="tns:identificarOperadoraNETResponse"/>
		</wsdl:operation>
		<wsdl:operation name="listarOperadorasNET">
			<wsdl:input message="tns:listarOperadorasNETRequest"/>
			<wsdl:output message="tns:listarOperadorasNETResponse"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="IdentificacaoOperadoraNETSOAP11" type="tns:IdentificacaoOperadoraNET">
		<soap11:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="identificarOperadoraNET">
			<soap11:operation soapAction="http://www.netservicos.com.br/IdentificacaoOperadoraNET/identificarOperadoraNET"/>
			<wsdl:input>
				<soap11:header wsdl:required="true" part="request_header" use="literal" message="tns:identificarOperadoraNETRequest"/>
				<soap11:body use="literal" parts="identificarOperadoraNETRequest"/>
			</wsdl:input>
			<wsdl:output>
				<soap11:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="listarOperadorasNET">
			<soap11:operation soapAction="http://www.netservicos.com.br/IdentificacaoOperadoraNET/listarOperadorasNET"/>
			<wsdl:input>
				<soap11:header wsdl:required="true" part="request_header" use="literal" message="tns:listarOperadorasNETRequest"/>
				<soap11:body use="literal" parts="listarOperadorasNETRequest"/>
			</wsdl:input>
			<wsdl:output>
				<soap11:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:binding name="IdentificacaoOperadoraNETSOAP12" type="tns:IdentificacaoOperadoraNET">
		<soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="identificarOperadoraNET">
			<soap12:operation soapAction="http://www.netservicos.com.br/IdentificacaoOperadoraNET/identificarOperadoraNET"/>
			<wsdl:input>
				<soap12:header wsdl:required="true" part="request_header" use="literal" message="tns:identificarOperadoraNETRequest"/>
				<soap12:body use="literal" parts="identificarOperadoraNETRequest"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="listarOperadorasNET">
			<soap12:operation soapAction="http://www.netservicos.com.br/IdentificacaoOperadoraNET/listarOperadorasNET"/>
			<wsdl:input>
				<soap12:header wsdl:required="true" part="request_header" use="literal" message="tns:listarOperadorasNETRequest"/>
				<soap12:body use="literal" parts="listarOperadorasNETRequest"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="IdentificacaoOperadoraNET">
		<wsdl:port binding="tns:IdentificacaoOperadoraNETSOAP11" name="IdentificacaoOperadoraNETSOAP11">
			<soap11:address location="http://www.netservicos.com.br/IdentificacaoOperadoraNET"/>
		</wsdl:port>
		<wsdl:port binding="tns:IdentificacaoOperadoraNETSOAP12" name="IdentificacaoOperadoraNETSOAP12">
			<soap12:address location="http://www.netservicos.com.br/IdentificacaoOperadoraNET"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>