NETWorkspaceESB/general/NETSMSDatabaseConfig/wsdl/proxy/TransformaIdentificacaoContratoWSDL12V1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="TransformaIdentificacaoContratoWSDL12V1" targetNamespace="http://www.netservicos.com.br/TransformaIdentificacaoContrato12V1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:transContrato="http://www.netservicos.com.br/TransformaIdentificacaoContrato12V1" xmlns:netHdr="http://www.netservicos.com.br/v2/NetHeader" xmlns:idContrato="http://www.netservicos.com.br/modelocanonico/v2/identificacaoContrato">
	<wsdl:types>

		<xsd:schema targetNamespace="http://www.netservicos.com.br/TransformaIdentificacaoContrato12V1" elementFormDefault="qualified" xmlns:transctr="http://www.netservicos.com.br/TransformaIdentificacaoContrato12V1" xmlns:oidContrato="http://www.netservicos.com.br/modelocanonico/v2/identificacaoContrato">

			<xsd:import namespace="http://www.netservicos.com.br/modelocanonico/v2/identificacaoContrato" schemaLocation="../../../../modelocanonicoV2/geral/IdentificacaoContrato.xsd"/>
			<xsd:import namespace="http://www.netservicos.com.br/v2/NetHeader" schemaLocation="../../../../modelocanonicoV2/geral/NETHeader.xsd"/>

			<xsd:element name="IdentificacaoContratoResponse" type="transctr:IdentificacaoContratoResponseType">
				<xsd:annotation>
					<xsd:documentation>
						Elemento que representa a identificação do
						Contrato para retorno do Serviço
						TransformaIdentificacaoContrato.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:complexType name="IdentificacaoContratoResponseType">
				<xsd:annotation>
					<xsd:documentation>
						Tipo para retorno da transformação de contrato.
						Customizado para ser menos restritivo que o tipo
						do modelo canônico, de forma a suportar as
						necessidades deste serviços.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="SmartCard" type="transctr:SmartCardResponseType" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>
								Número do SmartCard ou Código do
								Endereçavel do terminal.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Contrato" type="transctr:ContratoResponseType" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>
								Tipo para representar identificador do
								contrato. Que é formado pela combinação
								de Número do Contrato e: - Código da
								Operadora E Identificação da Cidade.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Protocolo" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>
								Número de protocolo do atendimento do
								Assinante.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="EnderecoMAC" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>
								Endereço Físico de um Equipamento na
								Rede.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="AliasDatabase" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>
								Álias da base de dados em que se
								encontra o contrato. Ex: Usado para
								definir o atributo j_identity_base no
								header das requisições.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>

					</xsd:sequence>
			</xsd:complexType>

			<xsd:simpleType name="SmartCardResponseType">
				<xsd:annotation>
					<xsd:documentation>
						Número do SmartCard ou Código do Endereçavel do
						terminal.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>


			<xsd:complexType name="ContratoResponseType">
				<xsd:sequence>
					<xsd:element name="NumeroContrato" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>
								Número do contrato do assinante,
								conforme cadastro no legado.
							</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:long"/>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="CodigoOperadora" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>
								Código da Operadora onde o contrato está
								cadastrado, conforme cadastro no legado.
							</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">

								<xsd:length value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="IdentificacaoCidade" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>
								Identificação da Cidade onde o contrato
								está cadastrado, conforme cadastro no
								legado.
							</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">

								<xsd:length value="5"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

		</xsd:schema>

	</wsdl:types>

	<wsdl:message name="transformaIdentificacaoContratoRequest">
		<wsdl:part name="IdentificacaoContratoRequestHeader" element="netHdr:NetHeader"/>
		<wsdl:part name="IdentificacaoContratoRequestBody" element="idContrato:IdentificacaoContrato"/>
	</wsdl:message>

	<wsdl:message name="transformaIdentificacaoContratoResponse">
		<wsdl:part name="IdentificacaoContratoResponseHeader" element="netHdr:NetHeader"/>
		<wsdl:part name="IdentificacaoContratoResponseBody" element="transContrato:IdentificacaoContratoResponse"/>
	</wsdl:message>

	<wsdl:portType name="TransformaIdentificacaoContratoWSDL12V1">
		<wsdl:operation name="transformaIdentificacaoContrato">
			<wsdl:input name="TransformaIdentificacaoContratoInput" message="transContrato:transformaIdentificacaoContratoRequest"/>
			<wsdl:output name="TransformaIdentificacaoContratoOutput" message="transContrato:transformaIdentificacaoContratoResponse"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="TransformaIdentificacaoContratoWSDL12V1SOAP" type="transContrato:TransformaIdentificacaoContratoWSDL12V1">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="transformaIdentificacaoContrato">
			<soap:operation soapAction="http://www.netservicos.com.br/TransformaIdentificacaoContrato12/transformaIdentificacaoContrato"/>
			<wsdl:input name="TransformaIdentificacaoContratoInput">
				<soap:header message="transContrato:transformaIdentificacaoContratoRequest" part="IdentificacaoContratoRequestHeader" use="literal"/>
				<soap:body parts="IdentificacaoContratoRequestBody" use="literal"/>
			</wsdl:input>
			<wsdl:output name="TransformaIdentificacaoContratoOutput">
				<soap:header message="transContrato:transformaIdentificacaoContratoResponse" part="IdentificacaoContratoResponseHeader" use="literal"/>
				<soap:body parts="IdentificacaoContratoResponseBody" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="TransformaIdentificacaoContratoWSDL12V1">
		<wsdl:port binding="transContrato:TransformaIdentificacaoContratoWSDL12V1SOAP" name="TransformaIdentificacaoContratoWSDL12V1SOAP">
			<soap:address location="http://servbus/general/TransformaIdentificacaoContrato12V1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>