JAVA/ALDSP/NETWorkspaceALDSP/NETClienteDS/schemas/br/com/netservicos/modelocanonico/v2/produto/ProdutoServicoContratado.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.netservicos.com.br/modelocanonico/v2/produtocontratado"
	xmlns="http://www.w3.org/2001/XMLSchema" 
	xmlns:produtocontratado="http://www.netservicos.com.br/modelocanonico/v2/produtocontratado"
	xmlns:produto="http://www.netservicos.com.br/modelocanonico/v2/produto"
	xmlns:contratoparceiro="http://www.netservicos.com.br/modelocanonico/v2/contratoparceiro"
	elementFormDefault="qualified"
	xmlns:oferta="http://www.netservicos.com.br/modelocanonico/v2/oferta">

	<import schemaLocation="../venda/Oferta.xsd"
		namespace="http://www.netservicos.com.br/modelocanonico/v2/oferta"></import>

	<import schemaLocation="ProdutoServico.xsd"
		namespace="http://www.netservicos.com.br/modelocanonico/v2/produto"></import>
	
	<import
		namespace="http://www.netservicos.com.br/modelocanonico/v2/contratoparceiro"
		schemaLocation="../contratoparceiro/ContratoParceiro.xsd">
	</import>

	<annotation>
		<documentation>
			Entidade responsavel por efetuar o mapeamento entre o
			contrato e o produto
		</documentation>
	</annotation>

	<complexType name="ProdutoServicoContratado">

		<sequence>

			<element name="identificadorProdutoServicoContratado"
				maxOccurs="1" minOccurs="0" nillable="true">
				<annotation>
					<documentation>
						Identificador do produto servico associado a um
						contrato
					</documentation>
				</annotation>
				<simpleType>
					<restriction base="long" />
				</simpleType>
			</element>
			<element name="dataInstalacaoProduto" maxOccurs="1"
				minOccurs="0" nillable="true">
				<annotation>
					<documentation>
						Data da instalacao do produto ou o servico
					</documentation>
				</annotation>
				<simpleType>
					<restriction base="date" />
				</simpleType>
			</element>
			<element name="situacaoInstalacaoProduto" maxOccurs="1"
				minOccurs="0" nillable="true">
				<annotation>
					<documentation>
						Situacao do produto ou servico
					</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<enumeration value="instalado" />
						<enumeration value="nao instalado" />
					</restriction>
				</simpleType>
			</element>


			<element name="contratoParceiro"
				type="contratoparceiro:ContratoParceiro" minOccurs="0"
				maxOccurs="1">
			</element>
			<element name="produtoServicoAgregado"
				type="produto:ProdutoServicoAgregado" minOccurs="0"
				maxOccurs="unbounded">
			</element>
			<element name="Oferta" type="oferta:Oferta" minOccurs="0"
				maxOccurs="1">
			</element>
			<element name="produtoServico" type="produto:ProdutoServico" minOccurs="1" maxOccurs="1"></element>
		</sequence>

	</complexType>

	<complexType name="ProdutosServicosContratados">
		<sequence>
			<element name="produtosServicosContratados" type="produtocontratado:ProdutoServicoContratado"
				maxOccurs="unbounded" minOccurs="0" nillable="true">
				<annotation>
					<documentation>
						Conjunto de produtos ou servicos associados a um
						contrato
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<element name="ProdutoServicoContratado" type="produtocontratado:ProdutoServicoContratado">
		<annotation>
			<documentation>
				Elemento instanciavel de um produto contratado
				associado
				a um determinado contrato
			</documentation>
		</annotation>
	</element>

	<element name="ProdutosServicosContratados" type="produtocontratado:ProdutosServicosContratados">
		<annotation>
			<documentation>
				Conjunto de elementos instanciaveis de produtos
				contratados associados a um determinado contrato
			</documentation>
		</annotation>
	</element>




</schema>