JAVA/ALDSP/NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/clienteprospect/physical/netsms/table/schemas/SnProfissaoDSP.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="ld:br/com/netservicos/atendimento/clienteprospect/physical/netsms/table/SnProfissaoDSP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="SnProfissaoDSP">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="ID_PROFISSAO" type="xs:integer"/>
            <xs:element name="DESCRICAO" type="xs:string"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
