JAVA/ALDSP/NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/autorizacaoproduto/physical/netsms/table/schemas/SnRelObjTipoProdutoDSP_KEY.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="ld:br/com/netservicos/atendimento/autorizacaoproduto/physical/netsms/table/SnRelObjTipoProdutoDSP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="SnRelObjTipoProdutoDSP_KEY">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="ID_OBJETO" type="xs:double"/>
            <xs:element name="ID_TIPO_PRODUTO" type="xs:integer"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
