JAVA/ALDSP/NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/autorizacaoproduto/physical/netsms/table/schemas/SnRelAtributosProdutoDSP.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="ld:br/com/netservicos/atendimento/autorizacaoproduto/physical/netsms/table/SnRelAtributosProdutoDSP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="SnRelAtributosProdutoDSP">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="ID_ATRIBUTO_PRODUTO" type="xs:integer"/>
            <xs:element name="ID_ATRIBUTO_PARAMETRO" type="xs:integer" minOccurs="0"/>
            <xs:element name="ID_PRODUTO" type="xs:integer" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
