NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/fatura/physical/netsms/table/schemas/SnCrnoCobrancaInadimplenteDSP.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="ld:br/com/netservicos/atendimento/fatura/physical/netsms/table/SnCrnoCobrancaInadimplenteDSP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="SnCrnoCobrancaInadimplenteDSP">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="ID_CNRO_COBRANCA_INADIMPLENTE" type="xs:integer"/>
            <xs:element name="ID_COBRANCA" type="xs:integer" minOccurs="0"/>
            <xs:element name="ID_COBRANCA_PARCEIRO" type="xs:integer" minOccurs="0"/>
            <xs:element name="ID_PARCEIRO" type="xs:integer"/>
            <xs:element name="ID_CNRO_PERFIL" type="xs:integer" minOccurs="0"/>
            <xs:element name="NUM_CONTRATO" type="xs:integer" minOccurs="0"/>
            <xs:element name="CID_CONTRATO" type="xs:string" minOccurs="0"/>
            <xs:element name="DT_VENCIMENTO" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="DT_VENCIMENTO_ORIGINAL" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="DT_FIM_INADIMPLENCIA" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="VL_COBRANCA" type="xs:decimal" minOccurs="0"/>
            <xs:element name="VL_DIVIDA" type="xs:decimal" minOccurs="0"/>
            <xs:element name="DT_ULTIMO_CALCULO" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="FC_SISTEMA_COBRANCA" type="xs:string" minOccurs="0"/>
            <xs:element name="FC_NEGATIVADO" type="xs:string" minOccurs="0"/>
            <xs:element name="FC_EMPRESA_COBRANCA" type="xs:string" minOccurs="0"/>
            <xs:element name="FC_ACORDO_COBRANCA" type="xs:string" minOccurs="0"/>
            <xs:element name="FC_NEGATIVADO_SERASA" type="xs:string"/>
            <xs:element name="FC_PENDENCIA_EQUIPAMENTO" type="xs:string"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
