NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/fatura/physical/netsms/table/schemas/SnRelCobrancaBoletoDSP.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="ld:br/com/netservicos/atendimento/fatura/physical/netsms/table/SnRelCobrancaBoletoDSP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="SnRelCobrancaBoletoDSP">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="ID_REL_COBRANCA_BOLETO" type="xs:integer"/>
            <xs:element name="ID_BOLETO" type="xs:integer"/>
            <xs:element name="ID_COBRANCA" type="xs:integer" minOccurs="0"/>
            <xs:element name="ID_COBRANCA_PARCEIRO" type="xs:integer" minOccurs="0"/>
            <xs:element name="ID_PARCEIRO" type="xs:integer"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
