JAVA/ALDSP/NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/autorizacaoproduto/schemas/ContratoDeVenda.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://www.netservicos.com.br/ContratoDeVenda/schemas" 
	xmlns:tns="http://www.netservicos.com.br/ContratoDeVenda/schemas" 
	elementFormDefault="qualified">

	<complexType name="ContratoDeVenda">
		<sequence>
			<element name="numeroContrato" maxOccurs="1" minOccurs="0"
				nillable="true">
				<simpleType>
					<restriction base="long" />
				</simpleType>
			</element>
			<element name="identificacaoCidade" minOccurs="0"
				maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<length value="5"></length>
					</restriction>
				</simpleType>
			</element>
			<element name="identificacaoTipoContrato" minOccurs="0"
				maxOccurs="1">
				<simpleType>
					<restriction base="long"/>
				</simpleType>
			</element>
			<element name="descricaoTipoContrato" minOccurs="0"
				maxOccurs="1">
				<simpleType>
					<restriction base="string"/>
				</simpleType>
			</element>
			<element name="titular" minOccurs="0"
				maxOccurs="1" type="tns:TitularType">
			</element>
		</sequence>
	</complexType>

	<complexType name="TitularType">
		<sequence>
			<element name="nomeTitular" minOccurs="0"
				maxOccurs="1">
				<simpleType>
					<restriction base="string">
					</restriction>
				</simpleType>
			</element>
			<element name="cpf" maxOccurs="1" minOccurs="0"
				nillable="true">
				<simpleType>
					<restriction base="string">
						<pattern value="\d{10,11}" />
						<maxLength value="15" />
					</restriction>
				</simpleType>
			</element>
			<element name="cnpj" maxOccurs="1" minOccurs="0"
				nillable="true">
				<simpleType>
					<restriction base="string">
						<pattern value="\d{14,15}" />
						<maxLength value="15" />
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>

	<complexType name="ContratosDeVenda">
		<sequence>
			<element name="contratoDeVenda"
				type="tns:ContratoDeVenda" maxOccurs="unbounded" minOccurs="0" />
		</sequence>
	</complexType>

	<element name="contratoDeVenda" type="tns:ContratoDeVenda">
	</element>

	<element name="contratosDeVenda" type="tns:ContratosDeVenda">
	</element>

</schema>