NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/contrato/physical/netsms/table/schemas/NodeProdutoDSP.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="ld:br/com/netservicos/atendimento/contrato/physical/netsms/table/NodeProdutoDSP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="NodeProdutoDSP">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="COD_OPERADORA" type="xs:integer"/>
            <xs:element name="COD_NODE" type="xs:string"/>
            <xs:element name="COD_PRODUTO" type="xs:integer"/>
            <xs:element name="QTD_HP_INSTAL" type="xs:integer" minOccurs="0"/>
            <xs:element name="DT_ATIVACAO" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="DT_PREV_ATIVACAO" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="DT_ATUALIZACAO" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="DT_ATIVACAO_COM" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="DT_PREV_ATIVACAO_COM" type="xs:dateTime" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
