NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/contrato/physical/netsms/table/schemas/NodeProdutoDSP_KEY.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="ld:br/com/netservicos/atendimento/contrato/physical/netsms/table/NodeProdutoDSP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="NodeProdutoDSP_KEY">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="COD_OPERADORA" type="xs:integer"/>
            <xs:element name="COD_NODE" type="xs:string"/>
            <xs:element name="COD_PRODUTO" type="xs:integer"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
