NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/contrato/physical/netsms/table/schemas/SnAtendimentoAssDSP.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="ld:br/com/netservicos/atendimento/contrato/physical/netsms/table/SnAtendimentoAssDSP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="SnAtendimentoAssDSP">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="ID_CHAMADA" type="xs:integer"/>
            <xs:element name="NUM_CONTRATO" type="xs:integer"/>
            <xs:element name="CID_CONTRATO" type="xs:string"/>
            <xs:element name="ID_MOTIVO_CHAMADA" type="xs:integer" minOccurs="0"/>
            <xs:element name="DH_ATENDIMENTO_ASS" type="xs:dateTime"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
