NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/contrato/physical/netsms/table/schemas/SnCidadeOperadoraDSP.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="ld:br/com/netservicos/atendimento/contrato/physical/netsms/table/SnCidadeOperadoraDSP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="SnCidadeOperadoraDSP">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="CID_CONTRATO" type="xs:string"/>
            <xs:element name="CI_NOME" type="xs:string" minOccurs="0"/>
            <xs:element name="CI_ESTADO" type="xs:string" minOccurs="0"/>
            <xs:element name="ID_EMPRESA" type="xs:string" minOccurs="0"/>
            <xs:element name="RAZAO_SOCIAL" type="xs:string" minOccurs="0"/>
            <xs:element name="NOME_PESSOA" type="xs:string" minOccurs="0"/>
            <xs:element name="COD_OPERADORA" type="xs:string"/>
            <xs:element name="ID_TIPO_TRIBUT" type="xs:integer"/>
            <xs:element name="COD_OPE_JDE" type="xs:string" minOccurs="0"/>
            <xs:element name="COD_LOCALIDADE_EBT" type="xs:string" minOccurs="0"/>
            <xs:element name="CD_MUNICIPIO_IBGE" type="xs:string"/>
            <xs:element name="CD_REGIONAL_WA" type="xs:string" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
