NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/contrato/physical/netsms/table/schemas/SnProdutoCreditoPPVDSP.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="ld:br/com/netservicos/atendimento/contrato/physical/netsms/table/SnProdutoCreditoPPVDSP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="SnProdutoCreditoPPVDSP">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="CID_CONTRATO" type="xs:string"/>
            <xs:element name="ID_PRODUTO" type="xs:integer"/>
            <xs:element name="DT_INI" type="xs:dateTime"/>
            <xs:element name="DT_FIM" type="xs:dateTime"/>
            <xs:element name="CREDITO" type="xs:decimal"/>
            <xs:element name="USR_LIM" type="xs:string"/>
            <xs:element name="ID_TIPO_SEGMENTO" type="xs:integer"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
