NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/contrato/physical/netsms/table/schemas/SnRelAtributosParametroDSP.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="ld:br/com/netservicos/atendimento/contrato/physical/netsms/table/SnRelAtributosParametroDSP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="SnRelAtributosParametroDSP">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="ID_ATRIBUTO_PARAMETRO" type="xs:integer"/>
            <xs:element name="ID_ATRIBUTO" type="xs:integer" minOccurs="0"/>
            <xs:element name="DESCRICAO" type="xs:string"/>
            <xs:element name="ID_NETSMS_ORIGEM" type="xs:integer" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
