NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/contrato/physical/netsms/table/schemas/SnRelObjSitCobrancaDSP_KEY.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="ld:br/com/netservicos/atendimento/contrato/physical/netsms/table/SnRelObjSitCobrancaDSP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="SnRelObjSitCobrancaDSP_KEY">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="ID_OBJETO" type="xs:double"/>
            <xs:element name="ID_SIT_COBRANCA" type="xs:integer"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
