NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/contrato/physical/netsms/table/schemas/SnRelAssinanteSegmentacaoDSP.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="ld:br/com/netservicos/atendimento/contrato/physical/netsms/table/SnRelAssinanteSegmentacaoDSP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="SnRelAssinanteSegmentacaoDSP">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="ID_REL_ASS_SEGMENTACAO" type="xs:double"/>
            <xs:element name="ID_ARQUIVO_PROPENSAO" type="xs:integer" minOccurs="0"/>
            <xs:element name="NUM_CONTRATO" type="xs:integer" minOccurs="0"/>
            <xs:element name="CID_CONTRATO" type="xs:string" minOccurs="0"/>
            <xs:element name="QUARTIL" type="xs:integer" minOccurs="0"/>
            <xs:element name="VALOR_CLIENTE" type="xs:decimal" minOccurs="0"/>
            <xs:element name="ID_TIPO_SEGMENTO" type="xs:integer" minOccurs="0"/>
            <xs:element name="SEGMENTO_POTENCIAL" type="xs:integer" minOccurs="0"/>
            <xs:element name="DT_INI_VALIDADE" type="xs:dateTime" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
