NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/contrato/physical/netsms/table/schemas/SnRelContratoPerfilCltDSP.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="ld:br/com/netservicos/atendimento/contrato/physical/netsms/table/SnRelContratoPerfilCltDSP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="SnRelContratoPerfilCltDSP">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="ID_CONTRATO_PERFIL_CLT" type="xs:integer"/>
            <xs:element name="NUM_CONTRATO" type="xs:integer" minOccurs="0"/>
            <xs:element name="ID_PERFIL_CLIENTE" type="xs:integer" minOccurs="0"/>
            <xs:element name="CID_CONTRATO" type="xs:string" minOccurs="0"/>
            <xs:element name="DT_INICIO_PERFIL" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="DT_FIM_OFERTA" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="FN_INSTALADO" type="xs:integer" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
