NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/contrato/physical/netsms/table/schemas/SnRelPontoProdutoPrecoDSP.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="ld:br/com/netservicos/atendimento/contrato/physical/netsms/table/SnRelPontoProdutoPrecoDSP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="SnRelPontoProdutoPrecoDSP">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="ID_PONTO" type="xs:integer"/>
            <xs:element name="ID_PROD_INSTALADO" type="xs:integer"/>
            <xs:element name="DT_INI" type="xs:dateTime"/>
            <xs:element name="DT_FIM" type="xs:dateTime"/>
            <xs:element name="ORDEM" type="xs:integer"/>
            <xs:element name="ID_TIPO_PONTO" type="xs:integer"/>
            <xs:element name="CONSOL_CBR" type="xs:integer"/>
            <xs:element name="ID_PRECO" type="xs:integer"/>
            <xs:element name="ID_PROD_COBRADO" type="xs:integer"/>
            <xs:element name="DT_REF_PROD" type="xs:dateTime"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
