NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/contrato/physical/netsms/table/schemas/SnSitCobrancaDSP.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="ld:br/com/netservicos/atendimento/contrato/physical/netsms/table/SnSitCobrancaDSP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="SnSitCobrancaDSP">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="ID_SIT_COBRANCA" type="xs:integer"/>
            <xs:element name="DESCRICAO" type="xs:string"/>
            <xs:element name="COD_COR" type="xs:string"/>
            <xs:element name="ID_SITUACAO_BOLETO" type="xs:integer" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
