NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/contrato/physical/netsms/table/schemas/SnStatusContratoDSP.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="ld:br/com/netservicos/atendimento/contrato/physical/netsms/table/SnStatusContratoDSP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="SnStatusContratoDSP">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="ID_STATUS_CONTRATO" type="xs:integer"/>
            <xs:element name="DESCRICAO" type="xs:string"/>
            <xs:element name="COD_COR" type="xs:string"/>
            <xs:element name="INSTALADO" type="xs:integer" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
