NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/contrato/physical/netsms/table/schemas/SnTipoSegmentoDSP.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="ld:br/com/netservicos/atendimento/contrato/physical/netsms/table/SnTipoSegmentoDSP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="SnTipoSegmentoDSP">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="ID_TIPO_SEGMENTO" type="xs:integer"/>
            <xs:element name="DESCRICAO" type="xs:string" minOccurs="0"/>
            <xs:element name="ESTRELAS" type="xs:string" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
