JAVA/ALDSP/NETWorkspaceALDSP/NETClienteDS/schemas/br/com/netservicos/modelocanonico/v2/equipamento/Material.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
	targetNamespace="http://www.netservicos.com.br/modelocanonico/v2/material"
	elementFormDefault="qualified"
	xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:material="http://www.netservicos.com.br/modelocanonico/v2/material">

	<complexType name="Material">
		<sequence>
			<element name="identificador" type="long"
				minOccurs="0" maxOccurs="1">
			</element>
			<element name="descricao" type="string"
				minOccurs="0" maxOccurs="1">
			</element>
		</sequence>
	</complexType>

	<element name="Material" type="material:Material"></element>
	
</schema>