JAVA/ALDSP/NETWorkspaceALDSP/NETClienteDS/schemas/br/com/netservicos/modelocanonico/v2/equipamento/Sinal.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
	targetNamespace="http://www.netservicos.com.br/modelocanonico/v2/equipamento"
	elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:equ="http://www.netservicos.com.br/modelocanonico/v2/equipamento">

	<complexType name="Sinal">
		<sequence>
			<element name="tipo" minOccurs="0" maxOccurs="1"
				type="equ:TipoSinal">
			</element>
			<element name="valor" type="string" minOccurs="0"
				maxOccurs="1">
			</element>
		</sequence>
	</complexType>

	<element name="Sinais" type="equ:Sinais"></element>

	<complexType name="Sinais">
		<sequence>
			<element name="sinal" type="equ:Sinal" minOccurs="0"
				maxOccurs="unbounded">
			</element>
		</sequence>
	</complexType>


	<simpleType name="TipoSinal">
		<restriction base="string">
			<enumeration value="CMTS"></enumeration>
			<enumeration value="STATUS"></enumeration>
			<enumeration value="TEMPOONLINE"></enumeration>
			<enumeration value="PLACA"></enumeration>
			<enumeration value="CMTSRECPOWER"></enumeration>
			<enumeration value="CMTS_SNR"></enumeration>
			<enumeration value="IPCABLE"></enumeration>
			<enumeration value="UPTIME"></enumeration>
			<enumeration value="TXCABLE"></enumeration>
			<enumeration value="SNRCABLE"></enumeration>
			<enumeration value="RXCABLE"></enumeration>
			<enumeration value="UPCABLE"></enumeration>
			<enumeration value="DOWNCABLE"></enumeration>
			<enumeration value="PROFILE"></enumeration>
			<enumeration value="MODELO"></enumeration>
		</restriction>
	</simpleType>


	<element name="TiposSinal" type="equ:TiposSinal"></element>

	<complexType name="TiposSinal">
		<sequence>
			<element name="tipo" type="equ:TipoSinal" minOccurs="0"
				maxOccurs="unbounded">
			</element>
		</sequence>
	</complexType>
</schema>