NETWorkspaceESB/relacionar/atendimento/contratovenda/wsdl/proxyservice/ContratoVendaWSDLV2_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ContratoVendaV2"
	targetNamespace="http://www.netservicos.com.br/ContratoVendaV2/" 
	xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
	xmlns:tns="http://www.netservicos.com.br/ContratoVendaV2/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:netheader="http://www.netservicos.com.br/v2/NetHeader">

	<wsdl:types>
		<xsd:schema targetNamespace="http://www.netservicos.com.br/ContratoVendaV2/" 
					xmlns:Q1="http://www.netservicos.com.br/modelocanonico/v2/cliente" 
					xmlns:Q2="http://www.netservicos.com.br/modelocanonico/v2/identificacaoContrato"
					xmlns:Q3="http://www.netservicos.com.br/modelocanonico/v2/contrato">

            <xsd:import schemaLocation="../../../../../modelocanonicoV2/geral/IdentificacaoContrato.xsd" namespace="http://www.netservicos.com.br/modelocanonico/v2/identificacaoContrato"></xsd:import>
            <xsd:import schemaLocation="../../../../../modelocanonicoV2/cliente/ClienteProspect.xsd" namespace="http://www.netservicos.com.br/modelocanonico/v2/cliente"></xsd:import>
            <xsd:import schemaLocation="../../../../../modelocanonicoV2/contrato/ContratoDeVenda.xsd" namespace="http://www.netservicos.com.br/modelocanonico/v2/contrato"></xsd:import>

			<xsd:element name="parametrosConsultarDadoCadastralTitular" type="tns:ConsultarDadoCadastralTitularType"/>

			<xsd:element name="resultadoConsultarDadoCadastralTitular" type="tns:ResultadoConsultarDadoCadastralTitularType"/>

			<xsd:element name="parametrosAlterarDadoCadastralTitular" type="tns:AlterarDadoCadastralTitularType"/>

			<xsd:element name="resultadoAlterarDadoCadastralTitular" type="tns:ResultadoAlterarDadoCadastralTitularType"/>

			<xsd:element name="parametrosAlterarDadoContatoTitular" type="tns:AlterarDadoContatoTitularType"/>

			<xsd:element name="resultadoAlterarDadoContatoTitular" type="tns:ResultadoAlterarDadoContatoTitularType"/>

			<xsd:element name="parametrosValidarDadoCadastralTitular" type="tns:ValidarDadoCadastralTitularType"/>

			<xsd:element name="resultadoValidarDadoCadastralTitular" type="tns:ResultadoValidarDadoCadastralTitularType"/>

			<xsd:element name="parametrosValidarDadoContatoTitular" type="tns:ValidarDadoContatoTitularType"/>

			<xsd:element name="resultadoValidarDadoContatoTitular" type="tns:ResultadoValidarDadoContatoTitularType"/>
			
			<xsd:complexType name="ConsultarDadoCadastralTitularType">
				<xsd:sequence>
					<xsd:element name="identificacaoContrato" minOccurs="1" maxOccurs="1" type="Q2:IdentificacaoContratoType"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ResultadoConsultarDadoCadastralTitularType">
				<xsd:sequence>
					<xsd:element name="clienteProspect" type="Q1:ClienteProspect" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="AlterarDadoCadastralTitularType">
				<xsd:sequence>
					<xsd:element name="identificacaoContrato" minOccurs="1" maxOccurs="1" type="Q2:IdentificacaoContratoType" />
					<xsd:element name="dadoCadastralTitular" type="tns:DadoCadastralTitularType" minOccurs="1" maxOccurs="1" />
					<xsd:element name="registroContato" type="tns:RegistroContatoType" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ResultadoAlterarDadoCadastralTitularType">
			</xsd:complexType>

			<xsd:complexType name="AlterarDadoContatoTitularType">
				<xsd:sequence>
					<xsd:element name="identificacaoContrato" minOccurs="1" maxOccurs="1" type="Q2:IdentificacaoContratoType"/>
					<xsd:element name="dadoContatoTitular" type="tns:DadoContatoTitularType" minOccurs="1" maxOccurs="1"/>
					<xsd:element name="registroContato" type="tns:RegistroContatoType" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ResultadoAlterarDadoContatoTitularType">
			</xsd:complexType>

			<xsd:complexType name="ValidarDadoCadastralTitularType">
				<xsd:sequence>
					<xsd:element name="identificacaoContrato" minOccurs="1" maxOccurs="1" type="Q2:IdentificacaoContratoType"/>
					<xsd:element name="dadoCadastralTitular" type="tns:DadoCadastralTitularType" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ResultadoValidarDadoCadastralTitularType">
			</xsd:complexType>

			<xsd:complexType name="ValidarDadoContatoTitularType">
				<xsd:sequence>
					<xsd:element name="identificacaoContrato" minOccurs="1" maxOccurs="1" type="Q2:IdentificacaoContratoType"/>
					<xsd:element name="dadoContatoTitular" type="tns:DadoContatoTitularType" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ResultadoValidarDadoContatoTitularType">
			</xsd:complexType>
			
			<xsd:complexType name="DadoCadastralTitularType">
				<xsd:sequence>
					<xsd:element name="nome" type="xsd:string"	minOccurs="0" maxOccurs="1" />
					<xsd:element name="codigoSuframa" type="xsd:string"	minOccurs="0" maxOccurs="1" />
					<xsd:element name="pessoa" type="tns:AbstractPessoaType" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="DadoContatoTitularType">
				<xsd:sequence>
					<xsd:element name="telefones" type="tns:TelefonesContatoType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="email" type="tns:EmailType" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="TelefonesContatoType">
				<xsd:sequence>
					<xsd:element name="telefone" type="tns:TelefoneContatoType" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="TelefoneContatoType">
				<xsd:sequence>
					<xsd:element name="dddTelefone" minOccurs="1" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:pattern value="\d{3}"></xsd:pattern>
								<xsd:minLength value="3"></xsd:minLength>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="numeroTelefone" minOccurs="1" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="14"></xsd:maxLength>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>						
					<xsd:element name="ramal" minOccurs="0" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4"></xsd:maxLength>
							</xsd:restriction>
						</xsd:simpleType>					
					</xsd:element>
					<xsd:element name="tipoTelefone" minOccurs="1" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="RESIDENCIAL" />
								<xsd:enumeration value="COMERCIAL" />
								<xsd:enumeration value="CELULAR" />
								<xsd:enumeration value="FAX" />
								<xsd:enumeration value="OUTROS" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="EmailType">
				<xsd:sequence>
					<xsd:element name="enderecoEmail" minOccurs="0" maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:pattern
									value="[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+(\.[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+)*@[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+(\.[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+)*">
								</xsd:pattern>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="tipoEmail" type="xsd:string" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="aceitaContato" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="AbstractPessoaType" abstract="true">
			</xsd:complexType>

			<xsd:complexType name="PessoaJuridicaType">
				<xsd:complexContent>
					<xsd:extension base="tns:AbstractPessoaType">
					
						<xsd:sequence>
							<xsd:element name="CNPJ" minOccurs="0" maxOccurs="1">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:pattern value="\d{14,15}" />
										<xsd:maxLength value="15" />
									</xsd:restriction>
								</xsd:simpleType>							
							</xsd:element>
							<xsd:element name="InscricaoEstadual" minOccurs="0" maxOccurs="1">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="14" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="orgaoExpedidor" type="xsd:string" minOccurs="0" maxOccurs="1" />
						</xsd:sequence>
	
	            	</xsd:extension>
	            </xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="PessoaFisicaType">
				<xsd:complexContent>
					<xsd:extension base="tns:AbstractPessoaType">
                        
		                <xsd:sequence>
							<xsd:element name="dataNascimento" type="xsd:date" minOccurs="0" maxOccurs="1" />
							<xsd:element name="CPF" minOccurs="0" maxOccurs="1">
								<xsd:simpleType>							
									<xsd:restriction base="xsd:string">
										<xsd:pattern value="\d{10,11}" />
										<xsd:maxLength value="11" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="RG" minOccurs="0" maxOccurs="1">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:maxLength value="20" />
									</xsd:restriction>
								</xsd:simpleType>							
							</xsd:element>
							<xsd:element name="orgaoExpedidor" type="xsd:string" minOccurs="0" maxOccurs="1" />
							<xsd:element name="flagEstrangeiro" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
							<xsd:element name="passaporte" type="xsd:string" minOccurs="0" maxOccurs="1" />
							<xsd:element name="nomePai" type="xsd:string" minOccurs="0" maxOccurs="1" />
							<xsd:element name="nomeMae" type="xsd:string" minOccurs="0" maxOccurs="1" />
							<xsd:element name="sexo" maxOccurs="1" minOccurs="0"
								nillable="true">
								<xsd:annotation>
									<xsd:documentation>
										Sexo do cliente Masculino, Feminino e Indefinido
										no caso de cliente pessoa juridica
									</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:enumeration value="MASCULINO" />
										<xsd:enumeration value="FEMININO" />
										<xsd:enumeration value="NAO SE APLICA" />
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="identificacaoEstadoCivil" type="xsd:long" minOccurs="0" maxOccurs="1" />
							<xsd:element name="identificacaoProfissao" type="xsd:long" minOccurs="0" maxOccurs="1" />
							<xsd:element name="identificacaoEscolaridade" type="xsd:long" minOccurs="0" maxOccurs="1" />
						</xsd:sequence>
                        			
		            </xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			
			<xsd:complexType name="RegistroContatoType">
				<xsd:sequence>
					<xsd:element name="nomeContato" type="xsd:string" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="telefoneContato" minOccurs="0" maxOccurs="1">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="dddTelefone" minOccurs="1" maxOccurs="1">
									<xsd:simpleType>
										<xsd:restriction
											base="xsd:string">
											<xsd:pattern
												value="[0-9].*">
											</xsd:pattern>
											<xsd:length value="3"></xsd:length>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="numeroTelefone" minOccurs="1" maxOccurs="1">
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:maxLength value="14"></xsd:maxLength>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>							
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="observacao" type="xsd:string" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>

		</xsd:schema>
		
		<xsd:schema>
			<xsd:import namespace="http://www.netservicos.com.br/v2/NetHeader" schemaLocation="../../../../../modelocanonicoV2/geral/NETHeader.xsd"/>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="consultarDadoCadastralTitularRequest">
		<wsdl:part name="request_header" element="netheader:NetHeader"/>
		<wsdl:part name="consultarDadoCadastralTitularRequest" element="tns:parametrosConsultarDadoCadastralTitular"/>
	</wsdl:message>

	<wsdl:message name="consultarDadoCadastralTitularResponse">
		<wsdl:part name="consultarDadoCadastralTitularResponse" element="tns:resultadoConsultarDadoCadastralTitular"/>
	</wsdl:message>

	<wsdl:message name="alterarDadoCadastralTitularRequest">
		<wsdl:part name="request_header" element="netheader:NetHeader"/>
		<wsdl:part name="alterarDadoCadastralTitularRequest" element="tns:parametrosAlterarDadoCadastralTitular"/>
	</wsdl:message>

	<wsdl:message name="alterarDadoCadastralTitularResponse">
		<wsdl:part name="alterarDadoCadastralTitularResponse" element="tns:resultadoAlterarDadoCadastralTitular"/>
	</wsdl:message>

	<wsdl:message name="alterarDadoContatoTitularRequest">
		<wsdl:part name="request_header" element="netheader:NetHeader"/>
		<wsdl:part name="alterarDadoContatoTitularRequest" element="tns:parametrosAlterarDadoContatoTitular"/>
	</wsdl:message>

	<wsdl:message name="alterarDadoContatoTitularResponse">
		<wsdl:part name="alterarDadoContatoTitularResponse" element="tns:resultadoAlterarDadoContatoTitular"/>
	</wsdl:message>
						 
	<wsdl:message name="validarDadoCadastralTitularRequest">
		<wsdl:part name="request_header" element="netheader:NetHeader"/>
		<wsdl:part name="validarDadoCadastralTitularRequest" element="tns:parametrosValidarDadoCadastralTitular"/>
	</wsdl:message>

	<wsdl:message name="validarDadoCadastralTitularResponse">
		<wsdl:part name="validarDadoCadastralTitularResponse" element="tns:resultadoValidarDadoCadastralTitular"/>
	</wsdl:message>

	<wsdl:message name="validarDadoContatoTitularRequest">
		<wsdl:part name="request_header" element="netheader:NetHeader"/>
		<wsdl:part name="validarDadoContatoTitularRequest" element="tns:parametrosValidarDadoContatoTitular"/>
	</wsdl:message>

	<wsdl:message name="validarDadoContatoTitularResponse">
		<wsdl:part name="validarDadoContatoTitularResponse" element="tns:resultadoValidarDadoContatoTitular"/>
	</wsdl:message>

	<wsdl:portType name="ContratoVendaPortType">
		<wsdl:operation name="consultarDadoCadastralTitular">
			<wsdl:input  message="tns:consultarDadoCadastralTitularRequest"/>
			<wsdl:output message="tns:consultarDadoCadastralTitularResponse"/>
		</wsdl:operation>
		<wsdl:operation name="alterarDadoCadastralTitular">
			<wsdl:input message="tns:alterarDadoCadastralTitularRequest"/>
			<wsdl:output message="tns:alterarDadoCadastralTitularResponse"/>
		</wsdl:operation>
		<wsdl:operation name="alterarDadoContatoTitular">
			<wsdl:input message="tns:alterarDadoContatoTitularRequest"/>
			<wsdl:output message="tns:alterarDadoContatoTitularResponse"/>
		</wsdl:operation>	  
		<wsdl:operation name="validarDadoCadastralTitular">
			<wsdl:input message="tns:validarDadoCadastralTitularRequest"/>
			<wsdl:output message="tns:validarDadoCadastralTitularResponse"/>
		</wsdl:operation>
		<wsdl:operation name="validarDadoContatoTitular">
			<wsdl:input message="tns:validarDadoContatoTitularRequest"/>
			<wsdl:output message="tns:validarDadoContatoTitularResponse"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="ContratoVendaBinding11" type="tns:ContratoVendaPortType">
		<soap11:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="consultarDadoCadastralTitular">
			<soap11:operation soapAction=""/>
			<wsdl:input>
				<soap11:body use="literal" parts="consultarDadoCadastralTitularRequest"/>
				<soap11:header wsdl:required="true" part="request_header" use="literal" message="tns:consultarDadoCadastralTitularRequest"/>
			</wsdl:input>
			<wsdl:output>
				<soap11:body use="literal" parts="consultarDadoCadastralTitularResponse"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="alterarDadoCadastralTitular">
			<soap11:operation soapAction=""/>
			<wsdl:input>
				<soap11:body use="literal" parts="alterarDadoCadastralTitularRequest"/>
				<soap11:header wsdl:required="true" part="request_header" use="literal" message="tns:alterarDadoCadastralTitularRequest"/>
			</wsdl:input>
			<wsdl:output>
				<soap11:body use="literal" parts="alterarDadoCadastralTitularResponse"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="alterarDadoContatoTitular">
			<soap11:operation soapAction=""/>
			<wsdl:input>
				<soap11:body use="literal" parts="alterarDadoContatoTitularRequest"/>
				<soap11:header wsdl:required="true" part="request_header" use="literal" message="tns:alterarDadoContatoTitularRequest"/>
			</wsdl:input>
			<wsdl:output>
				<soap11:body use="literal" parts="alterarDadoContatoTitularResponse"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="validarDadoCadastralTitular">
			<soap11:operation soapAction=""/>
			<wsdl:input>
				<soap11:body use="literal" parts="validarDadoCadastralTitularRequest"/>
				<soap11:header wsdl:required="true" part="request_header" use="literal" message="tns:validarDadoCadastralTitularRequest"/>
			</wsdl:input>
			<wsdl:output>
				<soap11:body use="literal" parts="validarDadoCadastralTitularResponse"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="validarDadoContatoTitular">
			<soap11:operation soapAction=""/>
			<wsdl:input>
				<soap11:body use="literal" parts="validarDadoContatoTitularRequest"/>
				<soap11:header wsdl:required="true" part="request_header" use="literal" message="tns:validarDadoContatoTitularRequest"/>
			</wsdl:input>
			<wsdl:output>
				<soap11:body use="literal" parts="validarDadoContatoTitularResponse"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:binding name="ContratoVendaBinding12" type="tns:ContratoVendaPortType">
		<soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="consultarDadoCadastralTitular">
			<soap12:operation soapAction=""/>
			<wsdl:input>
				<soap12:body use="literal" parts="consultarDadoCadastralTitularRequest"/>
				<soap12:header wsdl:required="true" part="request_header" use="literal" message="tns:consultarDadoCadastralTitularRequest"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" parts="consultarDadoCadastralTitularResponse"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="alterarDadoCadastralTitular">
			<soap12:operation soapAction=""/>
			<wsdl:input>
				<soap12:body use="literal" parts="alterarDadoCadastralTitularRequest"/>
				<soap12:header wsdl:required="true" part="request_header" use="literal" message="tns:alterarDadoCadastralTitularRequest"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" parts="alterarDadoCadastralTitularResponse"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="alterarDadoContatoTitular">
			<soap12:operation soapAction=""/>
			<wsdl:input>
				<soap12:body use="literal" parts="alterarDadoContatoTitularRequest"/>
				<soap12:header wsdl:required="true" part="request_header" use="literal" message="tns:alterarDadoContatoTitularRequest"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" parts="alterarDadoContatoTitularResponse"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="validarDadoCadastralTitular">
			<soap12:operation soapAction=""/>
			<wsdl:input>
				<soap12:body use="literal" parts="validarDadoCadastralTitularRequest"/>
				<soap12:header wsdl:required="true" part="request_header" use="literal" message="tns:validarDadoCadastralTitularRequest"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" parts="validarDadoCadastralTitularResponse"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="validarDadoContatoTitular">
			<soap12:operation soapAction=""/>
			<wsdl:input>
				<soap12:body use="literal" parts="validarDadoContatoTitularRequest"/>
				<soap12:header wsdl:required="true" part="request_header" use="literal" message="tns:validarDadoContatoTitularRequest"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" parts="validarDadoContatoTitularResponse"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="ContratoVendaService">
		<wsdl:port binding="tns:ContratoVendaBinding11" name="ContratoVendaPort11">
			<soap11:address location="http://www.netservicos.com.br/ContratoVendaV2"/>
		</wsdl:port>
		<wsdl:port binding="tns:ContratoVendaBinding12" name="ContratoVendaPort12">
			<soap12:address location="http://www.netservicos.com.br/ContratoVendaV2"/>
		</wsdl:port>
	</wsdl:service>
	
</wsdl:definitions>