JAVA/ALDSP/NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/equipamento/physical/nethome/table/schemas/EnderecavelDSP.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="ld:br/com/netservicos/atendimento/equipamento/physical/ENDERECAVEL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ENDERECAVEL">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="ID_ENDERECAVEL" type="xs:integer"/>
            <xs:element name="CD_ENDERECAVEL" type="xs:string"/>
            <xs:element name="ID_EQUIPAMENTO" type="xs:integer"/>
            <xs:element name="ID_MOD_EQUIP_TIPO_ENDER" type="xs:integer"/>
            <xs:element name="DH_ULTIMA_ATUALIZACAO" type="xs:dateTime"/>
            <xs:element name="FC_ERRO" type="xs:string" minOccurs="0"/>
            <xs:element name="DS_ERRO" type="xs:string" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
