JAVA/ESB/NETWorkspaceESB/relacionar/cliente/clienteclaro/wsdl/business/ESB/Claro/ListarAssinantes/v1/ListarAssinantesNSv1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema"
		targetNamespace="http://www.claro.com.br/EBO/Claro/v1"
		xmlns:tns="http://www.claro.com.br/EBO/Claro/v1"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		elementFormDefault="qualified" attributeFormDefault="qualified"
		version="1.0">

	<xsd:include schemaLocation="../../../../EBO/Claro/v1/ParametroInvalidoFaultEBOv1.xsd" />
	<xsd:include schemaLocation="../../../../EBO/Claro/v1/TechnicalFaultEBOv1.xsd" />

<xsd:simpleType name="ListarAssinantesv1_CpfType">
		<xsd:annotation>
			<xsd:documentation>
				<![CDATA[
				Cadastro de Pessoas Físicas (CPF) - é o registro de um
				cidadão na Receita Federal brasileira no qual devem
				estar todos os contribuintes (pessoas físicas
				brasileiras ou estrangeiras com negócios no Brasil). O
				CPF armazena informações fornecidas pelo próprio
				contribuinte e por outros sistemas da Receita Federal.
				
				Exemplo de CPF: 22233344405
				]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{0,11}"/>
		</xsd:restriction>
	</xsd:simpleType>
<xsd:complexType name="ListarAssinantesv1_RgType">
		<xsd:annotation>
			<xsd:documentation>
				<![CDATA[
				Registro Geral (RG) - é o documento nacional de
				identificação civil no Brasil. é conhecido popularmente
				por cédula de identidade, carteira de identidade ou
				simplesmente RG .

				Sua emissão é de responsabilidade dos governos
				estaduais, entretanto a cédula de identidade tem
				validade em todo território nacional.
				
				Exemplo de RG: 123.456.789-0
				]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence><xsd:element maxOccurs="1" minOccurs="0" name="numero" nillable="true" type="xsd:string"/></xsd:sequence>
	</xsd:complexType>
<xsd:simpleType name="ListarAssinantesv1_TipoServicoType">
		<xsd:annotation>
			<xsd:documentation>
				<![CDATA[
				Corresponde aos tipos de serviços oferecidos pela Claro:

				MOVEL - Serviço de Telefonia Móvel (Celular)

				FIXO - Serviço de Telefonia Fixa
				
				BANDA_LARGA - Serviço de Acesso a Internet

				TELEMETRIA - Serviço de telemetria de dados, por exemplo: 
				             monitoramento de frota, leitura de relógios de água e
				             luz, etc.
				
				GLP	- classificação alternativa de serviço utilizada para representar um produto instalado GLP; 
				incluído para representar a abordagem do projeto CPC, em que o GLP é representado como um 
				produto instalado independente dos assinantes que compartilham a oferta GLP; 
				neste cenário, haverá um produto do tipo GLP e outros do tipo MOVEL, e
				serão representados como produtos independentes   
				
				Exemplo de Tipo de Serviço: MOVEL
				]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="MOVEL"/>
			<xsd:enumeration value="FIXO"/>
			<xsd:enumeration value="BANDA_LARGA"/>
			<xsd:enumeration value="TELEMETRIA"/>
			<xsd:enumeration value="GLP"/>
		</xsd:restriction>
	</xsd:simpleType>
<xsd:complexType name="ListarAssinantesv1_UnidadeOrganizacionalType">
		<xsd:annotation>
			<xsd:documentation>
			<![CDATA[
				Corresponde à unidade organizacional de um cliente PJ, que na verdade pode ser
				uma hierarquia de unidades organizacionais.
			]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence><xsd:element maxOccurs="1" minOccurs="0" name="mobile-unidade-organizacional-id" nillable="true" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Representa o código de identificação da unidade organizacional de um cliente PJ.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element></xsd:sequence>
	</xsd:complexType>
<xsd:complexType name="ListarAssinantesv1_TitularidadeAssinanteType">
		<xsd:sequence><xsd:element maxOccurs="1" minOccurs="0" name="indicador-titular" nillable="true" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Indica se o assinante é titular. O conceito de titular que
						está sendo aplicado no Projeto CPC, consiste em:
							1) Para determinados planos de preço o assinante titular 
							terá a sua disposição ofertas especiais Ex: Desconto.
							2) Nem todos os planos de preço possuem o conceito de titular.
						Este conceito não se aplica a autorização. Por exemplo quem pode 
						efetuar alterações no Cliente.		  
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element></xsd:sequence>
	</xsd:complexType>
<xsd:complexType name="ListarAssinantesv1_DispositivoType">
		<xsd:annotation>
			<xsd:documentation>
			<![CDATA[
				Representa um dispositivo que o assinante possui,
				por exemplo um aparelho celular ou um modem.
			]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence><xsd:element maxOccurs="1" minOccurs="0" name="msisdn" nillable="true" type="tns:ListarAssinantesv1_MsisdnType">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Número que identifica o dispositivo na rede de
						telefonia, no caso de telefone celular
						corresponde ao número do
						telefone.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element></xsd:sequence>
	</xsd:complexType>
<xsd:simpleType name="ListarAssinantesv1_SituacaoAssinaturaType">
		<xsd:annotation>
			<xsd:documentation>
			<![CDATA[
				Corresponde à situação do assinante, os valores possíveis são:

				PRE_ATIVO - Assinante preparado na rede, mas ainda não cadastrado.

				ATIVO - Assinante cadastrado e com serviços ativos na rede.
				
				SUSPENSO - Assinante cadastrado mas com os serviços suspensos na rede tanto parcialmente como em sua totalidade.
				 
				CANCELADO - Assinante que apresenta os serviços cancelados.
				
				TEMPORARIAMENTE_BLOQUEADO - Assinante cadastrado mas com os serviços bloqueados de forma temporária.

				BLOQUEADO - Assinante cadastrado mas com os serviços bloqueados.

				Exemplo de Situação do Assinante: ATIVO 
			]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="PRE_ATIVO"/>
			<xsd:enumeration value="ATIVO"/>
			<xsd:enumeration value="SUSPENSO"/>
			<xsd:enumeration value="CANCELADO"/>
			<xsd:enumeration value="TEMPORARIAMENTE_BLOQUEADO"/>
			<xsd:enumeration value="BLOQUEADO"/>
		</xsd:restriction>
	</xsd:simpleType>
<xsd:complexType name="ListarAssinantesv1_AssinanteType">

		<xsd:annotation>
			<xsd:documentation>
			<![CDATA[
				Representa um assinante do serviço de telefonia.
			]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence><xsd:element maxOccurs="1" minOccurs="0" name="oms-assinante-id" nillable="true" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Código de identificação do assinante no OMS
						(Amdocs Ordering Management Ssystem).
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="nome" nillable="true" type="tns:ListarAssinantesv1_NomePessoaType">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Nome do assinante.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="tipo-servico" nillable="true" type="tns:ListarAssinantesv1_TipoServicoType">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Tipo de serviço contratado pelo assinante.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="tipo-assinatura" nillable="true" type="tns:ListarAssinantesv1_ProdutoType">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Tipo de assinatura contratada pelo assinante.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="produto-cobertura" nillable="false" type="tns:ListarAssinantesv1_CoberturaProdutoType">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Referência para o produto definido para uma cobertura. A cobertura
						representa a abrangência tecnológica (rede e tipos de serviço) na qual
						determinados produtos são compatíveis.
						No aspecto de negócio o produto de uma cobertura define o portfolio
						tecnológico de produtos ofertados pelas empresas do grupo America Movil.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="data-ativacao" nillable="true" type="xsd:dateTime">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Data e hora de ativação do assinante.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="data-cancelamento" type="xsd:dateTime">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Data e hora de cancelamento do assinante.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="situacao" nillable="true" type="tns:ListarAssinantesv1_SituacaoAssinanteType">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Situação do assinante.
						@depreciado - Utilize o
						elemento situacao-assinantura
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="data-situacao" nillable="true" type="xsd:dateTime">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Data e hora em que o assinante assumiu a
						situação.
						@depreciado - Utilize o elemento situacao-assinantura
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="situacao-documentacao" nillable="false" type="tns:ListarAssinantesv1_SituacaoDocumentacaoType">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Define o status de entrega e processamento da documentacao do assinante.	
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="senha-atendimento" nillable="true" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Senha de identificação do assinante junto à
						central de atendimento.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="contrato" type="tns:ListarAssinantesv1_ContratoType">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Contrato ao qual o assinante está vinculado.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="aparelho" type="tns:ListarAssinantesv1_DispositivoType">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Aparelho utilizado pelo assinante
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="crm-assinante-id" nillable="true" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Código de identificação do assinante no sistema
						de CRM.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="mobile-assinante-id" nillable="true" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Código de identificação do assinante no sistema
						de billing (Mobile).
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="titularidade-assinante" nillable="false" type="tns:ListarAssinantesv1_TitularidadeAssinanteType">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Objeto para indicar o assinante titular ou referenciá-lo.	
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element></xsd:sequence>
	</xsd:complexType>
<xsd:complexType name="ListarAssinantesv1_CoberturaProdutoType">
		<xsd:annotation>
			<xsd:documentation>
			<![CDATA[
				Representa um produto ao qual se aplica uma rede de transmissão.
			]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence><xsd:element maxOccurs="1" minOccurs="0" name="tipo-combo" nillable="true" type="tns:ListarAssinantesv1_TipoType">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Quando o tipo de composição do produto é "COMBO", indica o tipo de combo, da forma como
						o produto é conhecido comercialmente. Por exemplo: COMBO_NET, COMBO_EMBRATEL, COMBO_CLARO.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element></xsd:sequence>
	</xsd:complexType>
<xsd:complexType name="ListarAssinantesv1_DadosCadastraisPFType">
		<xsd:annotation>
			<xsd:documentation>
			<![CDATA[
				Representa os dados cadastrais de uma pessoa
				física.
			]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence><xsd:element maxOccurs="1" minOccurs="0" name="nome" nillable="true" type="tns:ListarAssinantesv1_NomePessoaType">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Nome da pessoa.
						SPED: Obrigatório, tamanho máximo
						100 caracteres
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="cpf" nillable="true" type="tns:ListarAssinantesv1_CpfType">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						CPF da pessoa, tanto para brasileiros como
						estrangeiros. Cadastro Pessoa Física, código
						utilizado no Brasil para identificar de forma
						única pessoas físicas.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="rg" nillable="true" type="tns:ListarAssinantesv1_RgType">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Documento de identificação da pessoa, apenas
						para brasileiros.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="passaporte" nillable="true" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Identificação do passaporte da pessoa.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element></xsd:sequence>
	</xsd:complexType>
<xsd:simpleType name="ListarAssinantesv1_SituacaoAssinanteType">
		<xsd:annotation>
			<xsd:documentation>
			<![CDATA[
				Corresponde à situação do assinante, os valores possíveis são:

				ATIVO - Assinante apresenta os serviços ativos na plataforma
				
				SUSPENSO - Assinante apresenta os serviços suspensos na plataforma
				 
				CANCELADO - Assinante que teve seus serviços cancelados na plataforma
				
				Exemplo de Situação do Assinante: ATIVO 
			]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ATIVO"/>
			<xsd:enumeration value="CANCELADO"/>
			<xsd:enumeration value="SUSPENSO"/>
			<xsd:enumeration value="RESERVADO"/>
			<xsd:enumeration value="PREATIVO"/>
			<xsd:enumeration value="NAO_APLICAVEL"/>
			<xsd:enumeration value="SUSPENSO_COBRANCA"/>
			<xsd:enumeration value="SUSPENSO_COBRANCA_DE_SUSPENSO"/>
			<xsd:enumeration value="SUSPENSO_FINAL"/>
			<xsd:enumeration value="SUSPENSO_FINAL_COBRANCA"/>
			<xsd:enumeration value="SUSPENSO_FINAL_COBRANCA_DE_SUSPENSO"/>
			<xsd:enumeration value="SUSPENSO_FINAL_COBRANCA_DE_SUSPENSO_FINAL"/>
			<xsd:enumeration value="RESERVADO_PORTABILIDADE"/>
			<xsd:enumeration value="PORTADO"/>
			<xsd:enumeration value="PORTADO_DE SUSPENSO"/>
			<xsd:enumeration value="PORTADO_DE_SUSPENSO_COBRANCA"/>
			<xsd:enumeration value="PORTADO_DE_SUSPENSO_COBRANCA_DE_SUSPENSO"/>
			<xsd:enumeration value="PORTADO_DE_SUSPENSO_FINAL"/>
			<xsd:enumeration value="PORTADO_DE_SUSPENSO_FINAL_COBRANCA"/>
			<xsd:enumeration value="PORTADO_DE_SUSPENSO_FINAL_COBRANCA_DE_SUSPENSO"/>
			<xsd:enumeration value="PORTADO_DE_SUSPENSO_FINAL_COBRANCA_DE_SUSPENSO_FINAL"/>
			<xsd:enumeration value="SUSPENSO_FRAUDE"/>
			<xsd:enumeration value="SUSPENSO_ZB1"/>
			<xsd:enumeration value="SUSPENSO_ZB2"/>
			<xsd:enumeration value="COOLING"/>
		</xsd:restriction>
	</xsd:simpleType>
<xsd:simpleType name="ListarAssinantesv1_ProdutoType">
		<xsd:annotation>
			<xsd:documentation>
				<![CDATA[
				Corresponde aos tipos de produtos oferecidos pela Claro:

				Claro Cartao - Serviço de Pré-Pago

				Claro Conta - Serviço de Pós-Pago
				
				Claro Controle - Serviço híbrido, onde o assinante possui uma 
				assinantura e franquia de uso, como no Claro Conta, mas ao 
				ultrapassar a franquia, apresenta comportamento semelhante ao
				Claro Cartao
				
				Exemplo de Produto: CLARO_CARTAO
				]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="CLARO_CARTAO"/>
			<xsd:enumeration value="CLARO_CONTA"/>
			<xsd:enumeration value="CLARO_CONTROLE"/>
		</xsd:restriction>
	</xsd:simpleType>
<xsd:complexType name="ListarAssinantesv1_ClienteType">
		<xsd:annotation>
			<xsd:documentation>
			<![CDATA[
				Representa um cliente contratante de serviço de
				telefonia.
			]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence><xsd:element maxOccurs="1" minOccurs="0" name="acrm-cliente-id" nillable="true" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Código de identificação do cliente no AMS
						(Amdocs Crm).
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element default="PF" maxOccurs="1" minOccurs="0" name="tipo-pessoa" nillable="true" type="tns:ListarAssinantesv1_TipoPessoaType">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Corresponde ao tipo de pessoa, se PF - pessoa
						física ou PJ - Pessoa Jurídica.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="tipo-cliente" nillable="true" type="tns:ListarAssinantesv1_TipoType">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Tipo do cliente segundo a visão canônica (corporativa)
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="subtipo-cliente" nillable="true" type="tns:ListarAssinantesv1_TipoType">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Subtipo do cliente segundo a visão canônica (corporativa)
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="segmentacoes" nillable="false" type="tns:ListarAssinantesv1_ArrayOfSegmentacaoType">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Segmentações de um cliente. Um cliente pode possuir "n" maneiras
						de ser segmentado.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="dados-cadastrais-pf" nillable="false" type="tns:ListarAssinantesv1_DadosCadastraisPFType">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Dados cadastrais do cliente, apenas para
						clientes Pessoa Física.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="dados-cadastrais-pj" nillable="false" type="tns:ListarAssinantesv1_DadosCadastraisPJType">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Dados cadastrais do cliente, apenas para Pessoa
						Jurídica.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="accounts" nillable="false" type="tns:ListarAssinantesv1_ArrayOfAccountType">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Lista de contas de cobrança do cliente.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="unidade-organizacional" nillable="false" type="tns:ListarAssinantesv1_UnidadeOrganizacionalType">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Unidade organizacional de um cliente PJ
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="contratos" nillable="false" type="tns:ListarAssinantesv1_ArrayOfContratoType">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Lista dos contratos do cliente
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="crm-cliente-id" nillable="true" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Código de identificação do cliente no CRM.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="mobile-cliente-id" nillable="true" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Código de identificação do cliente no sistema de
						billing (Mobile).
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="mobile-cliente-tipo" nillable="true" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Código de identificação do tipo de cliente no
						sistema de billing (Mobile).
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="mobile-cliente-subtipo" nillable="true" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Código de identificação do subtipo de cliente no
						sistema de billing (Mobile).
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="crm-cliente-subtipo" nillable="true" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Código de identificação do subtipo de cliente no
						sistema de CRM (People Soft).
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element></xsd:sequence>
	</xsd:complexType>
<xsd:simpleType name="ListarAssinantesv1_SituacaoDocumentacaoType">
		<xsd:annotation>
			<xsd:documentation>
			<![CDATA[
				Corresponde a situacao de entrega e processamento da 
				documentacao do assinante. 
				Possiveis valores:

				COMPLETA - Todos os documentos foram entregues. 
				
				EXPURGADA - Documentacao foi expurgada.
				
				FRAUDE_COMPROVADA - Documentacao com fraude comprovada. 
				
				IMCOMPLETA - Nem todos os documentos exigidos foram entregues.
				
				NAO_INSPECIONADA - Documentacao nao foi inspecionada.
				
				NAO_RECEBIDA - Nenhuma documentacao recebida.
				
				Exemplo de Situacao da Documentacao: COMPLETA 
			]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="COMPLETA"/>
			<xsd:enumeration value="EXPURGADA"/>
			<xsd:enumeration value="FRAUDE_COMPROVADA"/>
			<xsd:enumeration value="INCOMPLETA"/>
			<xsd:enumeration value="NAO_INSPECIONADA"/>
			<xsd:enumeration value="NAO_RECEBIDA"/>
		</xsd:restriction>
	</xsd:simpleType>
<xsd:complexType name="ListarAssinantesv1_AccountType">
		<xsd:annotation>
			<xsd:documentation>
			<![CDATA[
				Representa a conta-corrente de um cliente junto à
				Claro.
			]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence><xsd:element maxOccurs="1" minOccurs="0" name="mobile-ban" nillable="true" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Código de identificação da account no módulo de
						cobrança do sistema de pós-pago.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element></xsd:sequence>
	</xsd:complexType>
<xsd:complexType name="ListarAssinantesv1_TipoType">
		<xsd:annotation>
			<xsd:documentation>
			<![CDATA[
				Representa um tipo genérico para Tipos (tipos de clientes, tipos de premios, sub-tipos, etc).
			]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence><xsd:element maxOccurs="1" minOccurs="0" name="tipo-id" nillable="true" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Código de identificação do tipo
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element></xsd:sequence>
	</xsd:complexType>
<xsd:complexType name="ListarAssinantesv1_ArrayOfSituacaoAssinaturaType">
		<xsd:annotation>
			<xsd:documentation>
			<![CDATA[
					Representa uma lista de situações de assinatura.
			]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence><xsd:element maxOccurs="unbounded" minOccurs="0" name="situacao" type="tns:ListarAssinantesv1_SituacaoAssinaturaType">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Situação da assinatura.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element></xsd:sequence>
	</xsd:complexType>
<xsd:simpleType name="ListarAssinantesv1_CnpjType">
		<xsd:annotation>
			<xsd:documentation>
				<![CDATA[
				Cadastro Nacional da Pessoa Jurídica (CNPJ) - é um
				número único que identifica uma pessoa jurídica junto à
				Receita Federal brasileira (órgão do Ministério da
				Fazenda), necessário para que a pessoa jurídica tenha
				capacidade de fazer contratos e processar ou ser
				processada. O CNPJ veio substituir o CGC, Cadastro Geral
				de Contribuintes.

				Um número típico de CNPJ tem o formato:
				03.847.655/0001-98 onde os oito primeiros números formam
				a "raiz" - que identifica a empresa, os quatro seguintes
				formam o "sufixo" que identifica uma unidade de atuação
				de empresa, ou seja, um endereço de atividade da pessoa
				jurídica, e os dois últimos formam o "dígito
				verificador" que é resultado de uma equação com os doze
				números anteriores. Deste modo, o número acima
				exemplificado identifica a matriz da empresa.
				
				Exemplo de CNPJ: 40432544000147
				]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{0,15}"/>
		</xsd:restriction>
	</xsd:simpleType>
<xsd:complexType name="ListarAssinantesv1_ArrayOfAccountType">
		<xsd:sequence><xsd:element maxOccurs="unbounded" minOccurs="0" name="account" type="tns:ListarAssinantesv1_AccountType">
			</xsd:element></xsd:sequence>
	</xsd:complexType>
<xsd:complexType name="ListarAssinantesv1_ArrayOfSegmentacaoType">
		<xsd:sequence><xsd:element maxOccurs="unbounded" minOccurs="0" name="segmentacao" type="tns:ListarAssinantesv1_SegmentacaoType">
			</xsd:element></xsd:sequence>
	</xsd:complexType>
<xsd:complexType name="ListarAssinantesv1_SegmentacaoType">
		<xsd:annotation>
			<xsd:documentation>
			<![CDATA[			
				Corresponde a um tipo de segmento ao qual o cliente/assinante
				pertence. A segmentação pode ser efetuada sob diversos critérios, por
				exemplo valor agregado, região, householding, tamanho do cliente,
				numero de linhas etc...				
			]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence><xsd:element maxOccurs="1" minOccurs="0" name="segmentacao-id" nillable="true" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Código de identificação da segmentação.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element></xsd:sequence>
	</xsd:complexType>
<xsd:complexType name="ListarAssinantesv1_ArrayOfTipoServicoType">
		<xsd:annotation>
			<xsd:documentation>
			<![CDATA[
				Representa uma lista de tipos de serviço.
			]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence><xsd:element maxOccurs="unbounded" minOccurs="0" name="tipo-servico" type="tns:ListarAssinantesv1_TipoServicoType">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Lista de tipos de serviço.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element></xsd:sequence>
	</xsd:complexType>
<xsd:complexType name="ListarAssinantesv1_ArrayOfContratoType">
		<xsd:annotation>
			<xsd:documentation>
			<![CDATA[
				Representa uma lista de contratos.
			]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence><xsd:element maxOccurs="unbounded" minOccurs="0" name="contrato" type="tns:ListarAssinantesv1_ContratoType">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Lista de contratos.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element></xsd:sequence>
	</xsd:complexType>
<xsd:complexType name="ListarAssinantesv1_DadosCadastraisPJType">
		<xsd:annotation>
			<xsd:documentation>
			<![CDATA[
				Representa os dados cadastrais de uma pessoa
				jurídica.
			]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence><xsd:element maxOccurs="1" minOccurs="0" name="razao-social" nillable="true" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Nome da razão social da pessoa jurídica.
						SPED: Obrigatório, tamanho máximo 100 caracteres
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="nome-fantasia" nillable="true" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Nome de fantasia da pessoa jurídica.
						SPED: Obrigatório, tamanho máximo 100 caracteres
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="cnpj" nillable="true" type="tns:ListarAssinantesv1_CnpjType">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						CNPJ da pessoa jurídica. Cadastro Nacional de Pessoa Jurídica, 
						código utilizado para identificar de forma única empresas, 
						seja matriz ou filial no Brasil.
						SPED: Obrigatório
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="inscricao-estadual" nillable="true" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Número da inscrição estadual da pessoa jurídica, 
						junto à Secretaria da Fazenda do Estado onde a 
						empresa está constituída.
						SPED: Obrigatório, tamanho máximo 16 caracteres
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element></xsd:sequence>
	</xsd:complexType>
<xsd:complexType name="ListarAssinantesv1_MetaInfType">
		<xsd:annotation>
			<xsd:documentation>
			<![CDATA[
				Representa informações referentes à aplicação que
				gerou
				a solicitação para o serviço. esta informações são úteis
				na
				identificação de problemas e são utilizadas para
				rastreamento de
				segurança.
			]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence><xsd:element maxOccurs="1" minOccurs="1" name="codigo-aplicacao-origem" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Código de identificação da aplicação de origem.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="1" name="codigo-operacao-origem" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Código de identificação da operação realizada na
						aplicação de origem.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="1" name="correlacao-id-origem" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Código de identificação da transação na
						aplicação de origem.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="1" name="endereco-aplicacao-origem" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Endereço de origem da transação. Em geral contém
						o IP ou nome da máquina ge gerou a solicitação
						para o serviço.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="1" name="usuario-id-origem" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Código de identificação do usuário autenticado
						na aplicação de origem.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="data-hora-origem" nillable="true" type="xsd:dateTime">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Data e hora em que o serviço foi solicitado pela
						aplicação de origem.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="canal-id-origem" nillable="true" type="string">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Código do canal de interação com o cliente (da aplicação) 
						em que a aplicação que originou a requisição funciona;
						pode assumir valores de canais de atendimento, 
						vendas e interação em geral, como por exemplo:
						
						SITE, URA, LOJAONLINE, TOTEM, RCV, etc. 
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element></xsd:sequence>
	</xsd:complexType>
<simpleType name="ListarAssinantesv1_TipoPessoaType">
		<annotation>
			<documentation>
				<![CDATA[
				Corresponde ao tipo de pessoa, que pode ser:

				PF - Pessoa Física 

				PJ - Pessoa Jurídica
				
				Exemplo de Tipo de Pessoa: PF
				]]>
			</documentation>
		</annotation>
		<restriction base="xsd:string">
			<enumeration value="PF"/>
			<enumeration value="PJ"/>
		</restriction>
	</simpleType>
<xsd:complexType name="ListarAssinantesv1_ContratoType">
		<xsd:annotation>
			<xsd:documentation>
			<![CDATA[
				Representa um contrato de serviço realizado por um
				cliente de telefonia.
			]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence><xsd:element maxOccurs="1" minOccurs="0" name="cliente" nillable="false" type="tns:ListarAssinantesv1_ClienteType">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Cliente que contratou os serviços de telefonia.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="assinantes" nillable="false" type="tns:ListarAssinantesv1_ArrayOfAssinanteType">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Lista de assinantes relacionados a este
						contrato.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="mobile-contrato-id" nillable="true" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Código de identificação do contrato no sistema
						de billing (Mobile)
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element></xsd:sequence>
	</xsd:complexType>
<xsd:simpleType name="ListarAssinantesv1_NomePessoaType">
		<xsd:annotation>
			<xsd:documentation>
				<![CDATA[
				Nome de Pessoa corresponde ao nome de uma pessoa, que
				deve ser composto por pelo menos duas palavras.
				
				Exemplo de Nome de Pessoa: José da Silva
				]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
<xsd:simpleType name="ListarAssinantesv1_MsisdnType">
		<xsd:annotation>
			<xsd:documentation>
				<![CDATA[
				Mobile Subscriber Integrated Services Digital Network
				Number (MSISDN) - é o número que identifica unicamente
				um assinante em uma rede de celulares GSM ou UMTS.
				Corresponde ao número do telefone associado a um SIM
				card de um celular.
				
				A restrição aplicada a esse type significa que deve existir 
				um primeiro caracter que deve estar entre 1 e 9, e deve ser completado 
				com mais 9 ou 15 caracteres que devem estar entre 0 e 9.
				
				Exemplo de MSISDN: 1191234567
				]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[1-9][0-9]{9,15}"/>
		</xsd:restriction>
	</xsd:simpleType>
<xsd:complexType name="ListarAssinantesv1_ArrayOfAssinanteType">
		<xsd:annotation>
			<xsd:documentation>
			<![CDATA[
				Representa uma lista de assinantes de serviço de
				telefonia.
			]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence><xsd:element maxOccurs="unbounded" minOccurs="0" name="assinante" type="tns:ListarAssinantesv1_AssinanteType">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Lista de assinantes de telefonia.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element></xsd:sequence>
	</xsd:complexType></xsd:schema>
