JAVA/ALDSP/NETWorkspaceALDSP/NETClienteDS/schemas/br/com/netservicos/modelocanonico/v2/venda/Venda.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.netservicos.com.br/modelocanonico/v2/venda"
	xmlns:venda="http://www.netservicos.com.br/modelocanonico/v2/venda"
	xmlns:proposta="http://www.netservicos.com.br/modelocanonico/v2/proposta"
	elementFormDefault="qualified"
	xmlns:usuario="http://www.netservicos.com.br/modelocanonico/v2/usuario"
	xmlns:empresa="http://www.netservicos.com.br/modelocanonico/v2/empresa"
	xmlns:atend="http://www.netservicos.com.br/modelocanonico/v2/atendimento">

	<import namespace="http://www.netservicos.com.br/modelocanonico/v2/usuario"
		schemaLocation="../geral/Usuario.xsd">
	</import>
	<import namespace="http://www.netservicos.com.br/modelocanonico/v2/empresa"
		schemaLocation="../geral/Empresa.xsd">
	</import>

	<import namespace="http://www.netservicos.com.br/modelocanonico/v2/atendimento"
		schemaLocation="../atendimento/Atendimento.xsd"></import>
	<complexType name="Vendedor">
		<complexContent>
			<extension base="usuario:Usuario">
				<sequence>
					<element name="empresa" type="empresa:Terceiro" minOccurs="0"
						maxOccurs="1">
					</element>
					<element name="equipes" type="venda:EquipeVenda" minOccurs="0"
						maxOccurs="unbounded">
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	
	<complexType name="Vendedores">
		<sequence>
			<element name="Vendedor" type="venda:Vendedor"
				minOccurs="0" maxOccurs="unbounded"></element>
		</sequence>
	</complexType>

	<element name="Vendedores" type="venda:Vendedores"></element>
	
	<complexType name="Campanhas">
		<sequence>
			<element name="campanha" type="venda:Campanha" minOccurs="0"
				maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<complexType name="TipoVenda">
		<sequence>
			<element name="Identificador" type="long" minOccurs="0"
				maxOccurs="1">
			</element>
			<element name="Descricao" type="string" minOccurs="0"
				maxOccurs="1">
			</element>
		</sequence>
	</complexType>


	<complexType name="Midia">
		<sequence>
			<element name="identificador" type="long" minOccurs="0"
				maxOccurs="1">
			</element>
			<element name="descricao" type="string" minOccurs="0"
				maxOccurs="1">
			</element>
		</sequence>
	</complexType>

	<complexType name="EquipeVenda">
		<sequence>
			<element name="identificador" type="long" minOccurs="0"
				maxOccurs="1">
			</element>
			<element name="descricao" type="string" minOccurs="0"
				maxOccurs="1">
			</element>
			<element name="canaisVenda" type="venda:CanalVenda" minOccurs="0"
				maxOccurs="unbounded">
			</element>
		</sequence>
	</complexType>

	<complexType name="Comunicacao">
		<sequence>
			<element name="identificador" type="long" minOccurs="0"
				maxOccurs="1">
			</element>
			<element name="descricao" type="string" minOccurs="0"
				maxOccurs="1">
			</element>
			<element name="dataInicioVigencia" type="dateTime" minOccurs="0"
				maxOccurs="1">
			</element>
			<element name="dataFimVigencia" type="dateTime" minOccurs="0"
				maxOccurs="1">
			</element>
			<element name="publicosAlvo" type="venda:PublicoAlvo"
				minOccurs="0" maxOccurs="unbounded">
			</element>
		</sequence>
	</complexType>

	<complexType name="Promocao">
		<complexContent>
			<extension base="venda:Comunicacao"></extension>
		</complexContent>
	</complexType>

	<complexType name="Campanha">
		<complexContent>
			<extension base="venda:Comunicacao">
				<sequence>
					<element name="codigo" type="string" minOccurs="0"
						maxOccurs="1">
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>


	<complexType name="PublicoAlvo">
		<sequence>
			<element name="descricao" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<enumeration value="CLIENTE"></enumeration>
						<enumeration value="PROSPECT"></enumeration>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>

	<element name="CanalVenda" type="venda:CanalVenda" />

	<complexType name="CanalVenda">
		<annotation>
			<documentation>
				Entidade que representa o canal de vendas responsavel
				pela execucao da venda. Ex.: Internet, URA, Central
				Atendimento
			</documentation>
		</annotation>
		<complexContent>
			<extension base="atend:Canal">
				<sequence>
					<element name="dataInicioVigencia" type="dateTime"
						minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>Data em que inicia a vigencia do Canal de
								venda</documentation>
						</annotation>
					</element>
					<element name="dataFimVigencia" type="dateTime" minOccurs="0"
						maxOccurs="1">
						<annotation>
							<documentation>Data em que termina a vigencia do Canal de
								venda</documentation>
						</annotation>
					</element>
				</sequence>

			</extension>
		</complexContent>
	</complexType>



	<element name="Campanha" type="venda:Campanha"></element>

	<element name="Midia" type="venda:Midia"></element>

	<element name="Promocao" type="venda:Promocao"></element>

	<element name="TipoVenda" type="venda:TipoVenda"></element>

	<complexType name="CanaisVenda">
			<sequence>
				<element name="CanalVenda" type="venda:CanalVenda" minOccurs="0" maxOccurs="unbounded"></element>
			</sequence>
	</complexType>

	<element name="CanaisVenda" type="venda:CanaisVenda"></element>

	<complexType name="EquipesVenda">
		<sequence>
			<element name="EquipeVenda" type="venda:EquipeVenda"
				minOccurs="0" maxOccurs="unbounded"></element>
		</sequence>
	</complexType>

	<element name="EquipesVenda" type="venda:EquipeVenda"></element>
	
	<complexType name="Midias">
		<sequence>
			<element name="Midia" type="venda:Midia"
				minOccurs="0" maxOccurs="unbounded"></element>
		</sequence>
	</complexType>

	<element name="Midias" type="venda:Midias"></element>		
</schema>