NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/evento/logical/entity/schemas/OrigemOcorrencia.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="br/com/netservicos/atendimento/evento/logical/entity/schemas/OrigemOcorrencia.xsd" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
 <xs:element name="OrigemOcorrencia">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="idOrigem" type="xs:integer"/>
              <xs:element name="descricao" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
</xs:schema>