JAVA/ALDSP/NETWorkspaceALDSP/NETClienteDS/br/com/netservicos/cliente/dadocobranca/physical/netsms/table/schemas/SnCcDSP.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="ld:br/com/netservicos/cliente/dadocobranca/physical/netsms/table/SnCcDSP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="SnCcDSP">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="ID_CC" type="xs:integer"/>
            <xs:element name="ID_BANCO" type="xs:integer"/>
            <xs:element name="AGENCIA" type="xs:string"/>
            <xs:element name="NUM_CC" type="xs:string"/>
            <xs:element name="DV_CC" type="xs:string" minOccurs="0"/>
            <xs:element name="TIPO_CONTA" type="xs:integer"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
