JAVA/ALDSP/NETWorkspaceALDSP/NETClienteDS/br/com/netservicos/cliente/dadocobranca/physical/netsms/table/schemas/SnDebitoAutomaticoDSP.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="http://www.netservicos.com.br/dataServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="SnDebitoAutomaticoDSP">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="NUM_CONTRATO" type="xs:integer"/>
            <xs:element name="CID_CONTRATO" type="xs:string"/>
            <xs:element name="NOME_TITULAR" type="xs:string"/>
            <xs:element name="ID_CC" type="xs:integer"/>
            <xs:element name="AGENCIA" type="xs:string"/>
            <xs:element name="NUM_CC" type="xs:string"/>
            <xs:element name="ID_BANCO" type="xs:integer"/>
            <xs:element name="NOME_BANCO" type="xs:string"/>
            <xs:element name="DT_INSERCAO" type="xs:dateTime"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
