JAVA/ALDSP/NETWorkspaceALDSP/NETClienteDS/br/com/netservicos/cliente/dadocobranca/physical/netsms/table/schemas/SnFormaEnvioFaturaDSP.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="http://www.netservicos.com.br/dataServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="SnFormaEnvioFaturaDSP">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="ID_FORMA_ENVIO_FATURA" type="xs:integer"/>
            <xs:element name="DS_FORMA_ENVIO_FATURA" type="xs:string" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
