JAVA/ALDSP/NETWorkspaceALDSP/NETClienteDS/br/com/netservicos/cliente/dadocobranca/physical/netsms/table/schemas/SnRelCoboletamentoContratosDSP.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="http://www.netservicos.com.br/dataServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="SnRelCoboletamentoContratosDSP">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="NUM_CONTRATO" type="xs:integer"/>
            <xs:element name="CID_CONTRATO" type="xs:string"/>
            <xs:element name="DT_INICIO" type="xs:dateTime"/>
            <xs:element name="DT_FIM" type="xs:dateTime"/>
            <xs:element name="TP_COBOLETAMENTO" type="xs:string"/>
            <xs:element name="ID_USR" type="xs:string"/>
            <xs:element name="ID_INTERFACE_PARCEIRO" type="xs:integer" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
