JAVA/ALDSP/NETWorkspaceALDSP/NETClienteDS/br/com/netservicos/cliente/dadocobranca/physical/netsms/table/schemas/SnRelCcContratoDSP.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="ld:br/com/netservicos/cliente/dadocobranca/physical/netsms/table/SnRelCcContratoDSP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="SnRelCcContratoDSP">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="NUM_CONTRATO" type="xs:integer"/>
            <xs:element name="CID_CONTRATO" type="xs:string"/>
            <xs:element name="ID_CC" type="xs:integer"/>
            <xs:element name="STATUS" type="xs:double"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
