JAVA/ALDSP/NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/ppv/schemas/Paginacao.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.netservicos.com.br/modelocanonico/v2/paginacao" 
     elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
     xmlns:paginacao="http://www.netservicos.com.br/modelocanonico/v2/paginacao">

    <xsd:complexType name="Paginacao">
    	<xsd:annotation>
    		<xsd:documentation>
				Entidade de paginacao
    		</xsd:documentation>
    	</xsd:annotation>
    	<xsd:sequence>
    		<xsd:element name="NumeroPaginaAtual" type="xsd:long" minOccurs="0" maxOccurs="1">	</xsd:element>
    		<xsd:element name="QuantidadeTotalPagina" type="xsd:long" minOccurs="0" maxOccurs="1"></xsd:element>	
    		<xsd:element name="TotalRegistros" type="xsd:long" minOccurs="0" maxOccurs="1"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>

    <xsd:element name="Paginacao" type="paginacao:Paginacao"></xsd:element>

</xsd:schema>