JAVA/ALDSP/NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/fatura/physical/netsms/table/schemas/SnSituacaoBoletoDSP.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="ld:br/com/netservicos/atendimento/fatura/physical/netsms/table/SnSituacaoBoletoDSP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="SnSituacaoBoletoDSP">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="ID_SITUACAO_BOLETO" type="xs:integer"/>
            <xs:element name="DS_DESCRICAO" type="xs:string" minOccurs="0"/>
            <xs:element name="SG_SIGLA" type="xs:string" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
