JAVA/ALDSP/NETWorkspaceALDSP/NETClienteDS/schemas/br/com/netservicos/modelocanonico/cliente/Email.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.netservicos.com.br/modelocanonico/cliente" 
elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cliente="http://www.netservicos.com.br/modelocanonico/cliente">

    <xsd:complexType name="Email">
    	<xsd:sequence>
    		<xsd:element name="EnderecoEmail">
    			<xsd:simpleType>
    				<xsd:restriction base="xsd:string">
    					<xsd:pattern
    						value="[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+(\.[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+)*@[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+(\.[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+)*">
    					</xsd:pattern>
    				</xsd:restriction>
    			</xsd:simpleType>
    		</xsd:element>
    		<xsd:element name="TipoEmail" type="xsd:string"></xsd:element>
    		<xsd:element name="AceitaContato" type="xsd:boolean"></xsd:element>     		
    	</xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="Emails">
    	<xsd:sequence>
    		<xsd:element name="Emails" type="cliente:Email" minOccurs="0" maxOccurs="unbounded"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>
</xsd:schema>
