JAVA/ALDSP/NETWorkspaceALDSP/NETClienteDS/schemas/br/com/netservicos/modelocanonico/cliente/Sexo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.netservicos.com.br/modelocanonico/cliente" 
			elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
			xmlns:cliente="http://www.netservicos.com.br/modelocanonico/cliente"
			xmlns:empresa="http://www.netservicos.com.br/modelocanonico/empresa">
	<xsd:import schemaLocation="../geral/Empresa.xsd" 
		   namespace="http://www.netservicos.com.br/modelocanonico/empresa"/>			

    <xsd:complexType name="Sexo">
    	<xsd:sequence>
    		<xsd:element name="identificadorSexo" type="xsd:string" minOccurs="0" maxOccurs="1">
    		</xsd:element>
    		<xsd:element name="descricao" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Sexos">
    	<xsd:sequence>
    		<xsd:element name="sexo" type="cliente:Sexo" minOccurs="0" maxOccurs="unbounded"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>

    <xsd:element name="Sexo" type="cliente:Sexo"></xsd:element>

    <xsd:complexType name="NormalizedSexo">
    	<xsd:sequence>
    		<xsd:element name="descricao" type="xsd:string"></xsd:element>
    		<xsd:element name="identificador" type="xsd:string"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>

    <xsd:element name="NormalizedSexo" type="cliente:NormalizedSexo"></xsd:element>
</xsd:schema>