JAVA/ALDSP/NETWorkspaceALDSP/NETClienteDS/schemas/br/com/netservicos/modelocanonico/cliente/TipoPessoa.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.netservicos.com.br/modelocanonico/cliente" 
		elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" 
		xmlns:cliente="http://www.netservicos.com.br/modelocanonico/cliente"
		xmlns:empresa="http://www.netservicos.com.br/modelocanonico/empresa">
	<import schemaLocation="../geral/Empresa.xsd" 
		   namespace="http://www.netservicos.com.br/modelocanonico/empresa"/>

    <complexType name="TipoPessoa">
    	<sequence>
    		<element name="idTipoPessoa" type="string"
    			minOccurs="0" maxOccurs="1">
                <annotation>
                	<documentation>
                		Identificador de Tipo Pessoa
                	</documentation>
                </annotation>
    		</element>
    		<element name="descricao" type="string" minOccurs="0" maxOccurs="1">
    			<annotation>
    				<documentation>
    					Descrição de Tipo Pessoa
    				</documentation>
    			</annotation>
    		</element>
    	</sequence>
    </complexType>

    <complexType name="TiposPessoa">
        <annotation>
        	<documentation>
        		Entidade responsavel por mapear um conjunto de
        		Tipos Pessoa
        	</documentation>
        </annotation>
        <sequence>
    		<element name="tipoPessoa" type="cliente:TipoPessoa" minOccurs="0" maxOccurs="unbounded"></element>
    	</sequence>
    </complexType>
</schema>