NETWorkspaceESB/relacionar/cliente/clienteclaro/wsdl/business/ESB/Claro/ConsultarDadosCadastraisCliente/v1/ConsultarDadosCadastraisClientev1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.claro.com.br/EBS/Claro/v1"
	xmlns:tns="http://www.claro.com.br/EBS/Claro/v1"
	xmlns:ns1="http://www.claro.com.br/EBO/Claro/v1"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" attributeFormDefault="qualified"
	version="1.0">

	<xsd:annotation>
		<xsd:documentation>
		<![CDATA[

	ATENCAO: Arquivo gerado automaticamente, as alteracoes realizada diretamente neste arquivo serao perdidas.
	Ferramenta: GeraSoa-v4.5.1
	Especificacao de servico: ConsultarDadosCadastraisCliente v-1.7.1

		]]>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:import namespace="http://www.claro.com.br/EBO/Claro/v1" schemaLocation="ConsultarDadosCadastraisClienteNSv1.xsd" />

	<xsd:element name="ConsultarDadosCadastraisClienteRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="cliente" type="ns1:ConsultarDadosCadastraisClientev1_ClienteType" minOccurs="0" maxOccurs="1" />
				<xsd:element name="meta-informacao" type="ns1:ConsultarDadosCadastraisClientev1_MetaInfType" minOccurs="1" maxOccurs="1" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ConsultarDadosCadastraisClienteResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="cliente" type="ns1:ConsultarDadosCadastraisClientev1_ClienteType" minOccurs="1" maxOccurs="1" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ClienteNaoEncontradoFault" type="ns1:ClienteNaoEncontradoFaultType" /> 
	<xsd:element name="ParametroInvalidoFault" type="ns1:ParametroInvalidoFaultType" /> 
	<xsd:element name="TechnicalFault" type="ns1:TechnicalFaultType" /> 

</xsd:schema>
