NETWorkspaceESB/relacionar/cliente/clienteclaro/wsdl/business/ESB/Claro/ConsultarDadosCadastraisCliente/v1/ConsultarDadosCadastraisClientev1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	name="ConsultarDadosCadastraisClientev1"
	targetNamespace="http://www.claro.com.br/EBS/Claro/v1"
	xmlns:tns="http://www.claro.com.br/EBS/Claro/v1"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<wsdl:documentation>
	<![CDATA[

	ATENCAO: Arquivo gerado automaticamente, as alteracoes realizada diretamente neste arquivo serao perdidas.
	Ferramenta: GeraSoa-v4.5.1
	Especificacao de servico: ConsultarDadosCadastraisCliente v-1.7.1

	]]>
	</wsdl:documentation>

	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.claro.com.br/EBS/Claro/v1" schemaLocation="ConsultarDadosCadastraisClientev1.xsd" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="ConsultarDadosCadastraisClienteRequestMsg">
		<wsdl:part name="request" element="tns:ConsultarDadosCadastraisClienteRequest" />
	</wsdl:message>

	<wsdl:message name="ConsultarDadosCadastraisClienteResponseMsg">
		<wsdl:part name="response" element="tns:ConsultarDadosCadastraisClienteResponse" />
	</wsdl:message>

	<wsdl:message name="ClienteNaoEncontradoFaultMsg">
		<wsdl:part name="ClienteNaoEncontradoFault" element="tns:ClienteNaoEncontradoFault" />
	</wsdl:message>

	<wsdl:message name="ParametroInvalidoFaultMsg">
		<wsdl:part name="ParametroInvalidoFault" element="tns:ParametroInvalidoFault" />
	</wsdl:message>

	<wsdl:message name="TechnicalFaultMsg">
		<wsdl:part name="TechnicalFault" element="tns:TechnicalFault" />
	</wsdl:message>


	<wsdl:portType name="SynPortType">

		<wsdl:operation name="consultarDadosCadastraisCliente">
			<wsdl:input message="tns:ConsultarDadosCadastraisClienteRequestMsg" />
			<wsdl:output message="tns:ConsultarDadosCadastraisClienteResponseMsg" />
			<wsdl:fault name="ClienteNaoEncontradoFault" message="tns:ClienteNaoEncontradoFaultMsg" />
			<wsdl:fault name="ParametroInvalidoFault" message="tns:ParametroInvalidoFaultMsg" />
			<wsdl:fault name="TechnicalFault" message="tns:TechnicalFaultMsg" />
		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="SynPortTypeSOAP" type="tns:SynPortType">

		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="consultarDadosCadastraisCliente">
			<soap:operation soapAction="consultarDadosCadastraisCliente" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ClienteNaoEncontradoFault">
				<soap:fault name="ClienteNaoEncontradoFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="ParametroInvalidoFault">
				<soap:fault name="ParametroInvalidoFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="TechnicalFault">
				<soap:fault name="TechnicalFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

	</wsdl:binding>

	<wsdl:service name="ConsultarDadosCadastraisClientev1">
		<wsdl:port name="SynPortSOA" binding="tns:SynPortTypeSOAP">
			<soap:address location="http://esbsoa.claro.com.br/esb/services/ConsultarDadosCadastraisClientev1" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
