JAVA/ALDSP/NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/ppv/physical/netsms/table/schemas/PpCategoriaPpvDSP_KEY.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="ld:br/com/netservicos/atendimento/ppv/physical/netsms/table/PpCategoriaPpvDSP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="PpCategoriaPpvDSP_KEY">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="ID_TIPO_PPV" type="xs:integer"/>
            <xs:element name="ID_CATEGORIA" type="xs:integer"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
