JAVA/ALDSP/NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/ppv/physical/netsms/table/schemas/PpStatusVendaDSP.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="ld:br/com/netservicos/atendimento/ppv/physical/netsms/table/PpStatusVendaDSP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="PpStatusVendaDSP">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="ID_STATUS_VENDA" type="xs:integer"/>
            <xs:element name="DESCRICAO" type="xs:string" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
