NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/webservice/wsdl/FaturaPecWSDL12V1_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="ld:br/com/netservicos/atendimento/webservice/FaturaPecDSL_ws" name="FaturaPecJWS" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="ld:br/com/netservicos/atendimento/webservice/FaturaPecDSL_ws" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/">
  <documentation>AquaLogic Data Services Web Service</documentation>
  <types>
    <xs:schema targetNamespace="ld:br/com/netservicos/atendimento/webservice/FaturaPecDSL_ws" elementFormDefault="qualified" xmlns:stns="ld:br/com/netservicos/atendimento/webservice/FaturaPecDSL_ws" xmlns:dsns0="http://www.netservicos.com.br/FaturaPEC/schemas/">
      <xs:import namespace="http://www.netservicos.com.br/FaturaPEC/schemas/"/>
      <xs:element name="listarFaturasEmAberto">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="numeroContrato" type="xs:long"/>
            <xs:element name="identificacaoCidade" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="listarFaturasEmAbertoResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="dsns0:Faturas" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <schema targetNamespace="http://www.netservicos.com.br/FaturaPEC/schemas/" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:fatura="http://www.netservicos.com.br/FaturaPEC/schemas/">
      <complexType name="FaturaType">
        <sequence>
          <element name="numeroDocumento" type="string" minOccurs="0" maxOccurs="1"/>
          <element name="nomeCliente" type="string" minOccurs="0" maxOccurs="1"/>
          <element name="numContrato" type="long" minOccurs="0" maxOccurs="1"/>
          <element name="cidContrato" type="string" minOccurs="0" maxOccurs="1"/>
          <element name="dataVencimento" type="date" minOccurs="0" maxOccurs="1"/>
          <element name="codigoBarras" type="string" minOccurs="0" maxOccurs="1"/>
          <element name="valorDocumento" type="double" minOccurs="0" maxOccurs="1"/>
        </sequence>
      </complexType>
      <complexType name="FaturasType">
        <sequence>
          <element name="Fatura" type="fatura:FaturaType" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
      </complexType>
      <element name="Faturas" type="fatura:FaturasType"/>
    </schema>
  </types>
  <message name="listarFaturasEmAbertoIn">
    <part name="parameters" element="tns:listarFaturasEmAberto"/>
  </message>
  <message name="listarFaturasEmAbertoOut">
    <part name="parameters" element="tns:listarFaturasEmAbertoResponse"/>
  </message>
  <portType name="FaturaPecJWSPT">
    <operation name="listarFaturasEmAberto">
      <input message="tns:listarFaturasEmAbertoIn"/>
      <output message="tns:listarFaturasEmAbertoOut"/>
    </operation>
  </portType>
  <binding name="FaturaPecJWSSoapBinding" type="tns:FaturaPecJWSPT">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="listarFaturasEmAberto">
      <soap:operation soapAction="ld:br/com/netservicos/atendimento/webservice/FaturaPecDSL_ws/listarFaturasEmAberto" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="FaturaPecJWSSoapService">
    <port binding="tns:FaturaPecJWSSoapBinding" name="FaturaPecJWSSoapPort">
      <soap:address location="http://10.10.10.56:7021/NETAtendimentoDSBasicAuth/ALDSPWebServiceSOAP12BasicAuth/br/com/netservicos/atendimento/webservice/FaturaPecJWS.ws"/>
    </port>
  </service>
</definitions>