JAVA/ALDSP/NETWorkspaceALDSP/NETAtendimentoDS/schemas/br/com/netservicos/modelocanonico/v2/equipamento/Equipamento.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.netservicos.com.br/modelocanonico/v2/equipamento" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.netservicos.com.br/modelocanonico/v2/equipamento" xmlns:usuario="http://www.netservicos.com.br/modelocanonico/v2/usuario" xmlns:ident="http://www.netservicos.com.br/modelocanonico/v2/identificacaoContrato">

	<import namespace="http://www.netservicos.com.br/modelocanonico/v2/usuario" schemaLocation="../geral/Usuario.xsd">
	</import>
	<import namespace="http://www.netservicos.com.br/modelocanonico/v2/identificacaoContrato" schemaLocation="../geral/IdentificacaoContrato.xsd">
	</import>
	<complexType name="Equipamento">
		<annotation>
			<documentation>
				Equipamentos utilizados para a disponibilização dos
				serviços.

				Exemplo: Decoders, Emta, Controladoras, Servidores e
				etc.
			</documentation>
		</annotation>
		<sequence>
			<element name="identificador" type="long" minOccurs="0" maxOccurs="1">
			</element>
			<element name="numeroSerie" type="string" minOccurs="0" maxOccurs="1">
			</element>
			<element name="enderecavelPrincipal" type="string" minOccurs="0" maxOccurs="1">
			</element>
			<element name="tipoProprietario" type="string" minOccurs="0" maxOccurs="1">
			</element>
			<element name="identificadorEstado" type="long" minOccurs="0" maxOccurs="1">
			</element>
			<element name="descricaoEstado" type="string" minOccurs="0" maxOccurs="1">
			</element>
			<element name="identificadorTipo" type="long" minOccurs="0" maxOccurs="1">
			</element>
			<element name="descricaoTipo" type="string" minOccurs="0" maxOccurs="1">
			</element>
			<element name="fabricante" type="tns:Fabricante" minOccurs="0" maxOccurs="1">
			</element>
			<element name="modelo" type="tns:Modelo" minOccurs="0" maxOccurs="1">
			</element>
			<element name="localizacao" type="tns:Localizacao" minOccurs="0" maxOccurs="1">
			</element>

			<element name="operadora" type="long" minOccurs="0" maxOccurs="1">
			</element>
			<element name="tecnologia" type="tns:Tecnologia" minOccurs="0" maxOccurs="1">
			</element>
		</sequence>
	</complexType>


	<complexType name="Modelo">
		<sequence>
			<element name="identificador" type="long" minOccurs="0" maxOccurs="1">
			</element>
			<element name="descricao" type="string" minOccurs="0" maxOccurs="1">
			</element>
			<element name="identificadorTecnologia" type="long" minOccurs="0" maxOccurs="1">
			</element>
			<element name="descricaoTecnologia" type="string" minOccurs="0" maxOccurs="1">
			</element>
		</sequence>
	</complexType>

	<complexType name="Fabricante">
		<sequence>
			<element name="identificador" type="long" minOccurs="0" maxOccurs="1">
			</element>
			<element name="descricao" type="string" minOccurs="0" maxOccurs="1">
			</element>
		</sequence>
	</complexType>

	<complexType name="Localizacao">
		<sequence>
			<element name="identificador" type="long" minOccurs="0" maxOccurs="1">
			</element>
			<element name="descricao" type="string" minOccurs="0" maxOccurs="1">
			</element>
			<element name="codigo" type="string" minOccurs="0" maxOccurs="1">
			</element>
			<element name="identificadorTipo" type="long" minOccurs="0" maxOccurs="1">
			</element>
			<element name="descricaoTipo" type="string" minOccurs="0" maxOccurs="1">
			</element>
			<element name="identificadorContrato" type="ident:ContratoType" minOccurs="0" maxOccurs="1">
			</element>
		</sequence>
	</complexType>

	<complexType name="InventarioEquipamento">
		<complexContent>
			<extension base="tns:Equipamento">
				<sequence>
					<element name="data" type="dateTime" minOccurs="0" maxOccurs="1">
					</element>
					<element name="usuario" type="usuario:Usuario" minOccurs="0" maxOccurs="1">
					</element>
				</sequence>

			</extension>
		</complexContent>
	</complexType>

	<complexType name="InventariosEquipamento">
		<sequence>

			<element name="InventarioEquipamento" type="tns:InventarioEquipamento" minOccurs="0" maxOccurs="unbounded"/>

		</sequence>

	</complexType>


	<element name="InventariosEquipamento" type="tns:InventariosEquipamento"/>


	<complexType name="Tecnologia">
		<sequence>
			<element name="identificador" type="long" minOccurs="0" maxOccurs="1">
			</element>
			<element name="descricao" type="string" minOccurs="0" maxOccurs="1">
			</element>
		</sequence>
	</complexType>
</schema>