JAVA/ALDSP/NETWorkspaceALDSP/NETClienteDS/schemas/br/com/netservicos/modelocanonico/v2/geral/Empresa.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.netservicos.com.br/modelocanonico/v2/empresa"
	elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:empresa="http://www.netservicos.com.br/modelocanonico/v2/empresa">

	<complexType name="Empresa" abstract="true">
		<annotation>
			<documentation>
				Empresa que pode se um parceiro, operadora NET etc.
			</documentation>
		</annotation>
		<sequence>
			<element name="identificador" type="long" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>
						Código que identifica unicamente a Empresa na
						base de
						dados.
					</documentation>
				</annotation>
			</element>
			<element name="NomeEmpresa" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>Nome de empresa</documentation>
				</annotation>
			</element>
			<element name="CNPJ" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<pattern value="\d{14,15}" />
						<maxLength value="15" />
					</restriction>
				</simpleType>
			</element>
			<element name="inscricaoEstadual" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>
						Número da Inscrição Estadual da Empresa,
						registro do
						contribuinte no cadastro do ICMS
						mantido pela Receita Estadual.
					</documentation>
				</annotation>
			</element>
			<element name="unidadeFederacao" type="empresa:UnidadeFederacao" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>
						Indica a unidade da federacao em que a Empresa esta. 
					</documentation>
				</annotation>
			</element>
			<element name="nomeFantasia" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>
						Nome Fantasia da empresa, designação popular de
						Título de Estabelecimento, sob a qual ela se
						torna conhecida do
						público.
					</documentation>
				</annotation>
			</element>
			<element name="flagAtivo" type="boolean" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>
						Indica se empresa esta ativa ou nao.
					</documentation>
				</annotation>
			</element>

		</sequence>
	</complexType>

	<complexType name="OperadoraNET">
		<complexContent>
			<extension base="empresa:Empresa">
				<sequence>
					<element name="CodigoOperdaora" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>
								Codigo de Operdaora NET
							</documentation>
						</annotation>
						<simpleType>
							<restriction base="string">

								<length value="3"></length>
							</restriction>
						</simpleType>
					</element>
					<element name="IdentificacaoCidade" minOccurs="0"
						maxOccurs="1">
						<annotation>
							<documentation>
								Identificação de cidade (Cidade
								Contrato)
							</documentation>
						</annotation>
						<simpleType>
							<restriction base="string">
								<length value="5"></length>
							</restriction>
						</simpleType>
					</element>
					<element name="NomeOperadora" type="string" minOccurs="0"
						maxOccurs="1">
						<annotation>
							<documentation>
								Nome de operadora NET
							</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>


	<complexType name="ParceiroNET">
		<annotation>
			<documentation>Parceio de NET</documentation>
		</annotation>
		<complexContent>
			<extension base="empresa:Empresa"></extension>
		</complexContent>
	</complexType>

	<element name="OperadoraNET" type="empresa:OperadoraNET"></element>

	<complexType name="OperadorasNET">
		<sequence>
			<element name="OperadoraNET" type="empresa:OperadoraNET"
				minOccurs="0" maxOccurs="unbounded">
			</element>
		</sequence>
	</complexType>

	<element name="OperadorasNET" type="empresa:OperadorasNET"></element>

	<complexType name="Terceiro">
		<complexContent>
			<extension base="empresa:Empresa"></extension>
		</complexContent>
	</complexType>

	<complexType name="Terceiros">
		<sequence>
			<element name="Terceiro" type="empresa:Terceiro" minOccurs="0"
				maxOccurs="unbounded">
			</element>
		</sequence>
	</complexType>

	<element name="Terceiros" type="empresa:Terceiros"></element>

	<element name="OperadoraTelefonia" type="string"></element>

	<complexType name="Concorrente">
		<annotation>
			<documentation>
				Entidade para representar os concorrentes da NET em um
				ou mais segmentos de trabalho.
			</documentation>
		</annotation>
		<complexContent>
			<extension base="empresa:Empresa">
				<sequence>
					<element name="descricao" type="string" minOccurs="0"
						maxOccurs="1">
					</element>
					<element name="segmentos" type="empresa:SegmentoMercado"
						minOccurs="0" maxOccurs="unbounded">
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="OperadoraTelefonia">
		<complexContent>
			<extension base="empresa:Empresa">
				<sequence>
					<element name="Identificador" type="long" minOccurs="0"
						maxOccurs="1">
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>


	<complexType name="SegmentoMercado">
		<annotation>
			<documentation>
				Entidade para representar os segmentos de mercado em
				que
				a NET seus concorrentes e parceiros atuam.
			</documentation>
		</annotation>
		<sequence>
			<element name="identificador" type="long" minOccurs="0"
				maxOccurs="1">
			</element>
			<element name="descricao" type="string" minOccurs="0"
				maxOccurs="1">
			</element>
		</sequence>
	</complexType>

	<complexType name="UnidadeFederacao">
		<sequence>
			<element name="sigla" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						Sigla da Unidade da Federacao, valores possiveis.:
						"AC", "AL", "AP", "AM", "BA", "CE", "DF", "ES", "GO", "MA", "MT",
						"MS", "MG", "PA", "PB", "PR", "PE", "PI", "RN", "RS", "RJ", "RO",
						"RR", "SC", "SE", "SP", "TO"
					</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<enumeration value="AC" />
						<enumeration value="AL" />
						<enumeration value="AP" />
						<enumeration value="AM" />
						<enumeration value="BA" />
						<enumeration value="CE" />
						<enumeration value="DF" />
						<enumeration value="ES" />
						<enumeration value="GO" />
						<enumeration value="MA" />
						<enumeration value="MT" />
						<enumeration value="MS" />
						<enumeration value="MG" />
						<enumeration value="PA" />
						<enumeration value="PB" />
						<enumeration value="PR" />
						<enumeration value="PE" />
						<enumeration value="PI" />
						<enumeration value="RN" />
						<enumeration value="RS" />
						<enumeration value="RJ" />
						<enumeration value="RO" />
						<enumeration value="RR" />
						<enumeration value="SC" />
						<enumeration value="SE" />
						<enumeration value="SP" />
						<enumeration value="TO" />
					</restriction>
				</simpleType>
			</element>
			<element name="descricao" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>
						Descricao da Unidade da Federacao. 
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
</schema>