JAVA/ALDSP/NETWorkspaceALDSP/NETClienteDS/schemas/br/com/netservicos/modelocanonico/v2/geral/Logging.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.netservicos.com.br/modelocanonico/v2/logging" 
        elementFormDefault="qualified" 
        xmlns="http://www.w3.org/2001/XMLSchema" 
        xmlns:tns="http://www.netservicos.com.br/modelocanonico/v2/logging" 
        xmlns:macroprocesso="http://www.netservicos.com.br/modelocanonico/v2/macroprocesso"
        xmlns:processo="http://www.netservicos.com.br/modelocanonico/v2/processo"
        xmlns:errorinfo="http://www.netservicos.com.br/modelocanonico/v2/errorinfo">

	<import namespace="http://www.netservicos.com.br/modelocanonico/v2/macroprocesso" schemaLocation="MacroProcesso.xsd"/>
	<import namespace="http://www.netservicos.com.br/modelocanonico/v2/processo" schemaLocation="Processo.xsd"/>
	<import namespace="http://www.netservicos.com.br/modelocanonico/v2/errorinfo" schemaLocation="ErrorInfo.xsd"/>
	<complexType name="LogMessage">
        <annotation>
        	<documentation>
        		Tipo que representa uma mensagem de Log e seus detalhes.
        	</documentation>
        </annotation>
        <sequence>
			<element name="transactionId" type="string">
				<annotation>
					<documentation>
						Identificador da Transação.
					</documentation>
				</annotation></element>
 			<element name="logType" type="tns:LogType">
 				<annotation>
 					<documentation>
 						Tipo da entrada de Log.
 					</documentation>
 				</annotation></element>
			<element name="messageCode" type="string">
				<annotation>
					<documentation>
						Código da mensagem a ser logada. O código deve
						estar cadastrado no XML de mensagens de cada
						processo. Caso não seja encontrado, o valor
						informado neste parâmetro será tratado como
						sendo a mensagem a ser logada. Na mensage
						cadastrada pode-se indicar a substituição de
						parâmetros. Ex: O CPF {0} é inválido.
					</documentation>
				</annotation></element>
			<element name="messageParameters" type="tns:MessageParameters">
				<annotation>
					<documentation>
						Parâmetros que serão substituídos na mensagem de
						Log. O primeiro parâmetro, é associado ao índice
						0 (Zero). Ex: message: 'Usuário {0} foi {1} com
						sucesso.', parametros: {'root','excluído'}.
						Resulta em 'Usuário root foi excluído com
						sucesso.'
					</documentation>
				</annotation></element>			
			<element name="username" type="string">
				<annotation>
					<documentation>
						Usuário logado no momento da ocorrência do Log.
					</documentation>
				</annotation></element>
			<element name="timestamp" type="dateTime">
				<annotation>
					<documentation>
						TimeStamp indicando a data e hora da ocorrência
						do evento de Log.
					</documentation>
				</annotation></element>
			<element name="errorInfo" type="errorinfo:ErrorInfo">
				<annotation>
					<documentation>
						Elemento descrevendo o erro encontrado.
					</documentation>
				</annotation></element>
			<element name="macroProcesso" type="macroprocesso:MacroProcesso">
				<annotation>
					<documentation>
						Macro processo de negócio a que a entrada de Log se refere.
						Os Macro Processos possíveis são definidos na
						entidade MacroProcesso.
					</documentation>
				</annotation></element>
			<element name="processo" type="processo:Processo">
				<annotation>
					<documentation>
						Processo de negócio a que a entrada de Log se
						refere. Os Processos possíveis são definidos na
						entidade Processo.
					</documentation>
				</annotation></element>
			<element name="consumidor" type="string">
				<annotation>
					<documentation>
						Consumidor que está gerando a entrada de Log.
					</documentation>
				</annotation></element>
			<element name="funcionalidade" type="string">
				<annotation>
					<documentation>
						Funcionalidade que está gerando a entrada de Log.
					</documentation>
				</annotation></element>				
		</sequence>
	</complexType>

	<complexType name="FormatedLogMessage">
        <annotation>
        	<documentation>
        		Tipo que representa uma mensagem de Log formatada.
        	</documentation>
        </annotation>
        <sequence>
			<element name="transactionId" type="string">
				<annotation>
					<documentation>
						Identificador da transação.
					</documentation>
				</annotation></element>
			<element name="message" type="string">
				<annotation>
					<documentation>
						Mensagem traduzida ou composta com os parâmetros
						informados.
					</documentation>
				</annotation></element>
		</sequence>
	</complexType>
	
	<simpleType name="LogType">
        <annotation>
        	<documentation>
        		Representa os Tipos de Log. Os valores possíveis são: INFO, WARN,  ERROR
        	</documentation>
        </annotation>
        <restriction base="string">
			<enumeration value="INFO"/>
			<enumeration value="WARN"/>
			<enumeration value="ERROR"/>
		</restriction>
	</simpleType>
		
	<complexType name="MessageParameters">
        <annotation>
        	<documentation>
        		Parâmetros que serão substituídos na mensagem de Log. O
        		primeiro parâmetro, é associado ao índice 0 (Zero). Ex:
        		message: 'Usuário {0} foi {1} com sucesso.', parametros:
        		{'root','excluído'}. Resulta em 'Usuário root foi
        		excluído com sucesso.'
        	</documentation>
        </annotation>
        <sequence>
			<element name="value" type="string" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>
						Conjunto de valores dos parâmetros que serão
						substituidos na mensagem.
					</documentation>
				</annotation></element>
		</sequence>
	</complexType>
	
	<element name="MessageParameters" type="tns:MessageParameters"/>
	
	<element name="LogMessage" type="tns:LogMessage"/>
	
	<element name="LogType" type="tns:LogType"/>
			
	<element name="FormatedLogMessage" type="tns:FormatedLogMessage"/>

</schema>