JAVA/ALDSP/NETWorkspaceALDSP/NETClienteDS/schemas/br/com/netservicos/modelocanonico/v2/geral/Moeda.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.netservicos.com.br/modelocanonico/v2/moeda"
	xmlns:tns="http://www.netservicos.com.br/modelocanonico/v2/moeda"
	elementFormDefault="qualified">
	
	<complexType name="Moeda">
		<sequence>
			<element name="nome" type="string" minOccurs="0"
				maxOccurs="1">
			</element>
			<element name="simbolo" type="string" minOccurs="1" maxOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="Valor">
		<sequence>
			<element name="montante" type="float" minOccurs="0" maxOccurs="1"></element>
			<element name="moeda" type="tns:Moeda" minOccurs="0" maxOccurs="1"></element>
		</sequence>
	</complexType>

	<element name="Moeda" type="tns:Moeda"></element>

	<element name="Valor" type="tns:Valor"></element>
</schema>