JAVA/ALDSP/NETWorkspaceALDSP/NETClienteDS/schemas/br/com/netservicos/modelocanonico/v2/geral/NETFault.xsd

<!-- Schema defined in the SOAP Version 1.2 Part 1 specification
     Recommendation:
     http://www.w3.org/TR/2003/REC-soap12-part1-20030624/
     $Id: NETFault.xsd,v 1.2 2010/05/11 17:58:22 T5001097 Exp $

     Copyright (C)2003 W3C(R) (MIT, ERCIM, Keio), All Rights Reserved.
     W3C viability, trademark, document use and software licensing rules
     apply.
     http://www.w3.org/Consortium/Legal/

     This document is governed by the W3C Software License [1] as
     described in the FAQ [2].

     [1] http://www.w3.org/Consortium/Legal/copyright-software-19980720
     [2] http://www.w3.org/Consortium/Legal/IPR-FAQ-20000620.html#DTD
     
     - Customizado para retornar Schema de Erro ErrorInfo dentro do NETFault
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:fault="http://www.netservicos.com.br/modelocanonico/v2/netfault"
           targetNamespace="http://www.netservicos.com.br/modelocanonico/v2/netfault" 
		   elementFormDefault="qualified" 
		   xmlns:errorinfo="http://www.netservicos.com.br/modelocanonico/v2/errorinfo">

  <xs:import namespace="http://www.w3.org/XML/1998/namespace" 
             schemaLocation="xml.xsd"/>
             
  <xs:import namespace="http://www.netservicos.com.br/modelocanonico/v2/errorinfo" schemaLocation="ErrorInfo.xsd"/>

  <!-- Global Attributes.  The following attributes are intended to be
  usable via qualified attribute names on any complex type referencing
  them.  -->
  <xs:attribute name="mustUnderstand" type="xs:boolean" default="0" />
  <xs:attribute name="relay" type="xs:boolean" default="0" />
  <xs:attribute name="role" type="xs:anyURI" />

  <!-- 'encodingStyle' indicates any canonicalization conventions
  followed in the contents of the containing element.  For example, the
  value 'http://www.w3.org/2003/05/soap-encoding' indicates the pattern
  described in the SOAP Version 1.2 Part 2: Adjuncts Recommendation -->

  <xs:attribute name="encodingStyle" type="xs:anyURI" />

  <xs:element name="NETFault" type="fault:Fault" />
  <xs:complexType name="Fault" final="extension" >
    <xs:annotation>
	  <xs:documentation>
	    Fault reporting structure
	  </xs:documentation>
	</xs:annotation>
    <xs:sequence>
      <xs:element name="Code" type="fault:faultcode" />
      <xs:element name="Reason" type="fault:faultreason" />
      <xs:element name="Node" type="xs:anyURI" minOccurs="0" />
	  <xs:element name="Role" type="xs:anyURI" minOccurs="0" />
      <xs:element name="Detail" type="fault:detail" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="faultreason" >
    <xs:sequence>
	  <xs:element name="Text" type="fault:reasontext" 
                  minOccurs="1"  maxOccurs="unbounded" />
	</xs:sequence>
  </xs:complexType>

  <xs:complexType name="reasontext" >
    <xs:simpleContent>
	  <xs:extension base="xs:string" >
	    <xs:attribute ref="xml:lang" use="required" />
	  </xs:extension>
	</xs:simpleContent>
  </xs:complexType>
  
  <xs:complexType name="faultcode">
    <xs:sequence>
      <xs:element name="Value"
                  type="fault:faultcodeEnum"/>
      <xs:element name="Subcode"
                  type="fault:subcode"
                  minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="faultcodeEnum">
    <xs:restriction base="xs:QName">
      <xs:enumeration value="fault:DataEncodingUnknown"/>
      <xs:enumeration value="fault:MustUnderstand"/>
      <xs:enumeration value="fault:Receiver"/>
      <xs:enumeration value="fault:Sender"/>
      <xs:enumeration value="fault:VersionMismatch"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="subcode">
    <xs:sequence>
      <xs:element name="Value"
                  type="xs:QName"/>
      <xs:element name="Subcode"
                  type="fault:subcode"
                  minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="detail">
    <xs:sequence>
      <xs:element name="errorInfo" type="errorinfo:ErrorInfo"/>
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax" /> 
  </xs:complexType>

  <!-- Global element declaration and complex type definition for header entry returned due to a mustUnderstand fault -->
  <xs:element name="NotUnderstood" type="fault:NotUnderstoodType" />
  <xs:complexType name="NotUnderstoodType" >
    <xs:attribute name="qname" type="xs:QName" use="required" />
  </xs:complexType>


  <!-- Global element and associated types for managing version transition as described in Appendix A of the SOAP Version 1.2 Part 1 Recommendation  -->  <xs:complexType name="SupportedEnvType" >
    <xs:attribute name="qname" type="xs:QName" use="required" />
  </xs:complexType>

  <xs:element name="Upgrade" type="fault:UpgradeType" />
  <xs:complexType name="UpgradeType" >
    <xs:sequence>
	  <xs:element name="SupportedEnvelope" type="fault:SupportedEnvType" minOccurs="1" maxOccurs="unbounded" />
	</xs:sequence>
  </xs:complexType>


</xs:schema>







