JAVA/ALDSP/NETWorkspaceALDSP/NETAtendimentoDS/schemas/br/com/netservicos/modelocanonico/v2/ativar/PortabilidadeBilhetePortab.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="http://www.netservicos.com.br/modelocanonico/v2/portabilidade"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:ident="http://www.netservicos.com.br/modelocanonico/v2/identificacaoContrato"
	xmlns:port="http://www.netservicos.com.br/modelocanonico/v2/portabilidade"
	xmlns:empresa="http://www.netservicos.com.br/modelocanonico/v2/empresa"
	xmlns:identcontprop="http://www.netservicos.com.br/modelocanonico/v2/identificacaoContratoProposta"
	elementFormDefault="qualified">

	<xs:import namespace="http://www.netservicos.com.br/modelocanonico/v2/empresa"
		schemaLocation="../geral/Empresa.xsd">
	</xs:import>

	<xs:import
		namespace="http://www.netservicos.com.br/modelocanonico/v2/identificacaoContratoProposta"
		schemaLocation="../geral/IdentificacaoContratoProposta.xsd">
	</xs:import>

	<xs:complexType name="BilhetePortabilidade">
		<xs:annotation>
			<xs:documentation>Entidade que representa o Bilhete de
				Portabilidade. Nao foi possivel reutilizar a entidade Bilhete ja
				existente em funcao de compatibilidade com o legado de servicos e a
				formacao de referencia ciclica. Bilhete -&gt; Contrato -&gt; ProdutoServicoContratado -&gt; ProdutoServio -&gt; Fone -&gt; TelefoneVoip -&gt; Portabilidade -&gt; Bilhete.</xs:documentation></xs:annotation>
        <xs:sequence>
			<xs:element name="identificador" type="xs:long"
				minOccurs="0" maxOccurs="1" >
				<xs:annotation>
					<xs:documentation>Identificador interno do bilhete - este numero eh gerado no momento da solicitacao do bilhete de portabilidade, ele eh baseado numa sequencia e nao eh unico para as 7 bases NETSMS.</xs:documentation></xs:annotation></xs:element>
			<xs:element name="dataAtivacao" type="xs:dateTime" minOccurs="0"
				maxOccurs="1" >
				<xs:annotation>
					<xs:documentation>Data e hora que aconteceu a ativacao do numero na Embratel, este campo nao eh preenchido em portabilidade de doacao.</xs:documentation></xs:annotation></xs:element>
			<xs:element name="dataDesativacao" type="xs:dateTime"
				minOccurs="0" maxOccurs="1" >
				<xs:annotation>
					<xs:documentation>Data e hora que aconteceu a desativacao do numero na Embratel, este campo nao eh preenchido em portabilidade de recepcao.</xs:documentation></xs:annotation></xs:element>
			<xs:element name="numeroBilhete" type="xs:string"
				minOccurs="0" maxOccurs="1" >
				<xs:annotation>
					<xs:documentation>Identificador unico do bilhete de portabilidade, mesmo entre as operadoras de telefonia, este numero eh gerado pela EA e repassado para as operadoras. (Mantido como String por retrocompatibilidade)</xs:documentation></xs:annotation></xs:element>
			<xs:element name="dataMigracao" type="xs:dateTime" minOccurs="0"
				maxOccurs="1" >
				<xs:annotation>
					<xs:documentation>Data e hora da migracao que foi agendada pela EA para a portabilidade efetivamente acontecer.</xs:documentation></xs:annotation></xs:element>
			<xs:element name="status" type="xs:string" minOccurs="0"
				maxOccurs="1" >
				<xs:annotation>
					<xs:documentation>Status atual da portabilidade, pode ter o seguinte dominio: 1.Conflito,2.Ativo,3.Pendente,4.Envio,5.Falha,6.Falha Parcial,7.Desconexao Pendente,8.Antigo,9.Cancelado,10.Cancelado Pendente,11.Suspenso,12.Provisorio,13.Requerido,14.Bilhete Provisorio Cancelado,15.Cancelamento Provisorio (sem constraint por enum para manter retrocompatibilidade)</xs:documentation></xs:annotation></xs:element>
			<xs:element name="tipoBilhete" minOccurs="0"
				maxOccurs="1">
                <xs:annotation>
                	<xs:documentation>Tipo do bilhete de portabilidade, pode ter o seguinte dominio: PTB: Portabilidade de recepcao; DOA: Portabilidade de doacao; EST: Portabilidade de estorno</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="PTB"></xs:enumeration>
						<xs:enumeration value="DOA"></xs:enumeration>
						<xs:enumeration value="EST"></xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="dataSolicitacao" type="xs:dateTime" minOccurs="0"
				maxOccurs="1" >
				<xs:annotation>
					<xs:documentation>Data e hora de solicitacao do bilhete de portabilidade, a solicitacao do bilhete so acontece apos a OS de instalacao ter sido baixada com sucesso, ele eh gerado utilizando um agente batch.</xs:documentation>
				</xs:annotation></xs:element>			
		</xs:sequence>
	</xs:complexType>

	<xs:element name="BilhetePortabilidade" type="port:BilhetePortabilidade"></xs:element>

	<xs:complexType name="Portabilidade">
        <xs:annotation>
        	<xs:documentation>Entidade que representa uma Portabilidade vinculada a um TelefoneVoip.</xs:documentation></xs:annotation>
        <xs:sequence>
			<xs:element name="tipoPortabilidade"
				minOccurs="0" maxOccurs="1">
                <xs:annotation>
                	<xs:documentation>Define qual eh o tipo da portabilidade, com o dominio possivel: 1.Portabilidade Externa; 2.Portabilidade Intrinseca; 3.Portabilidade Interna; 4.Portabilidade Interna &amp; Intrinseca;</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="EXTERNA"></xs:enumeration>
						<xs:enumeration value="INTRINSECA"></xs:enumeration>
						<xs:enumeration value="INTERNA"></xs:enumeration>
                        <xs:enumeration value="INTERNAINTRINSECA"></xs:enumeration>						
					</xs:restriction>
				</xs:simpleType>
			</xs:element>				
			<xs:element name="doadora" type="empresa:OperadoraTelefonia" minOccurs="0"
				maxOccurs="1" >
				<xs:annotation>
					<xs:documentation>Operadora de telefonia que esta doando o numero neste processo de portabilidade.</xs:documentation></xs:annotation></xs:element>
			<xs:element name="receptora" type="empresa:OperadoraTelefonia"
				minOccurs="0" maxOccurs="1" >
				<xs:annotation>
					<xs:documentation>Operadora de telefonia que esta recebendo o numero neste processo de portabilidade (se for um bilhete de recepcao a operadora eh a propria Embratel).</xs:documentation></xs:annotation></xs:element>
			<xs:element name="dataValidacaoAreaLocal" type="xs:dateTime"
				minOccurs="0" maxOccurs="1" >
				<xs:annotation>
					<xs:documentation>Data e hora em que a validacao de area local aconteceu.</xs:documentation></xs:annotation></xs:element>
			<xs:element name="CNLOrigem" type="xs:string" minOccurs="0"
				maxOccurs="1" >
				<xs:annotation>
					<xs:documentation>Codigo de localidade nacional da origem do numero de telefone - este codigo eh definido a partir do DDD, municipio e CEP.</xs:documentation></xs:annotation></xs:element>
			<xs:element name="CNLDestino" type="xs:string"
				minOccurs="0" maxOccurs="1" >
				<xs:annotation>
					<xs:documentation>Codigo de localidade nacional do destino do numero de telefone, em caso de uma mudanca de endereco pode haver mudanca de CNL, e portanto as outras operadoras de telefonia precisam ser avisadas deste.</xs:documentation></xs:annotation></xs:element>
		<xs:element name="bilhete" type="port:BilhetePortabilidade"
				minOccurs="0" maxOccurs="1" >
				<xs:annotation>
					<xs:documentation>Bilhete de portabilidade vinculado a esta portabilidade.</xs:documentation></xs:annotation></xs:element>
		<xs:element name="contratoPropostaOrigem" type="identcontprop:IdentificacaoContratoPropostaType"
				minOccurs="0" maxOccurs="1" >
				<xs:annotation>
					<xs:documentation>Telefones envolvidos na portabilidade.</xs:documentation>
				</xs:annotation></xs:element>
		<xs:element name="contratoPropostaDestino" type="identcontprop:IdentificacaoContratoPropostaType"
				minOccurs="0" maxOccurs="1" >
				<xs:annotation>
					<xs:documentation>Telefones envolvidos na portabilidade.</xs:documentation>
				</xs:annotation></xs:element>
		<xs:element name="autenticacaoTacita" type="xs:boolean"
				minOccurs="0" maxOccurs="1" >
				<xs:annotation>
					<xs:documentation>Indica se houve ou nao autenticacao tacita na portabilidade.</xs:documentation>
				</xs:annotation></xs:element>
		<xs:element name="identificadorEventoOriginador" type="xs:long"
				minOccurs="0" maxOccurs="1" >
				<xs:annotation>
					<xs:documentation>Identificador do Evento Relacionamento que originou a Portabilidade. Pode ser Ordem de Campo (OS no legado)  ou Ordem Ativacao (OC no legado).</xs:documentation>
				</xs:annotation></xs:element>
		<xs:element name="tipoEventoOriginador"
				minOccurs="0" maxOccurs="1">
                <xs:annotation>
                	<xs:documentation>Tipo do Evento Relacionamento que originou a Portabilidade. Valores possiveis: ORDEM_CAMPO, ORDEM_ATIVACAO</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ORDEM_CAMPO"></xs:enumeration>
						<xs:enumeration value="ORDEM_ATIVACAO"></xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>										
								
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="Portabilidade" type="port:Portabilidade"></xs:element>
	
	<xs:complexType name="MensagemPortabilidade">
        <xs:annotation>
        	<xs:documentation>Entidade que representa uma Portabilidade vinculada a um TelefoneVoip.</xs:documentation></xs:annotation>
        <xs:sequence>
			<xs:element name="identificador"
				minOccurs="0" maxOccurs="1" type="xs:long">
                <xs:annotation>
                	<xs:documentation>Identificador da MensagemPortabilidade.</xs:documentation></xs:annotation></xs:element>				
			<xs:element name="dataMensagem" type="xs:dateTime" minOccurs="0"
				maxOccurs="1" >
				<xs:annotation>
					<xs:documentation>Data da mensagem de portabilidade.</xs:documentation></xs:annotation></xs:element>
			<xs:element name="servicoMensagem" type="xs:string"
				minOccurs="0" maxOccurs="1" >
				<xs:annotation>
					<xs:documentation>Servico responsavel pela mensagem de portabilidade..</xs:documentation></xs:annotation></xs:element>
			<xs:element name="acaoServico" type="xs:string"
				minOccurs="0" maxOccurs="1" >
				<xs:annotation>
					<xs:documentation>Acao do servico envolvide na mensagem de portabilidade.</xs:documentation></xs:annotation></xs:element>
			<xs:element name="dataAgendamento" type="xs:dateTime" minOccurs="0"
				maxOccurs="1" >
				<xs:annotation>
					<xs:documentation>Data de agendamento da mensagem de portabilidade.</xs:documentation></xs:annotation></xs:element>
			<xs:element name="motivo" type="xs:string"
				minOccurs="0" maxOccurs="1" >
				<xs:annotation>
					<xs:documentation>Motivo do envio da mensagem de portabilidade..</xs:documentation></xs:annotation></xs:element>
			<xs:element name="mensagem" type="xs:string"
				minOccurs="0" maxOccurs="1" >
				<xs:annotation>
					<xs:documentation>Conteudo de mensagem de portabilidade.</xs:documentation></xs:annotation></xs:element>
			<xs:element name="observacao" type="xs:string"
				minOccurs="0" maxOccurs="1" >
				<xs:annotation>
					<xs:documentation>Observacao da mensagem de portabilidade.</xs:documentation></xs:annotation></xs:element>
			<xs:element name="codigoErro" type="xs:int"
				minOccurs="0" maxOccurs="1" >
				<xs:annotation>
					<xs:documentation>Codigo do erro ocorrido na mensagem de portabiliade.</xs:documentation></xs:annotation></xs:element>
			<xs:element name="mensagemErro" type="xs:string"
				minOccurs="0" maxOccurs="1" >
				<xs:annotation>
					<xs:documentation>Mensagem do erro ocorrido na mensagem de portabiliade.</xs:documentation></xs:annotation></xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="MensagemPortabilidade" type="port:MensagemPortabilidade"></xs:element>	
	
</xs:schema>