JAVA/ALDSP/NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/operadora/physical/netsms/table/schemas/RhPessoaJuridicaDSP.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="ld:br/com/netservicos/atendimento/operadora/physical/netsms/table/RhPessoaJuridicaDSP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="RhPessoaJuridicaDSP">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="ID_EMPRESA" type="xs:string"/>
            <xs:element name="CGC" type="xs:string" minOccurs="0"/>
            <xs:element name="RAZAO_SOCIAL" type="xs:string" minOccurs="0"/>
            <xs:element name="INSCRICAO_ESTADUAL" type="xs:string" minOccurs="0"/>
            <xs:element name="CONTATO_EMPRESA" type="xs:string" minOccurs="0"/>
            <xs:element name="FONE" type="xs:string" minOccurs="0"/>
            <xs:element name="FAX" type="xs:string" minOccurs="0"/>
            <xs:element name="MATRIZ" type="xs:string" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
