JAVA/ALDSP/NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/operadora/physical/netsms/table/schemas/SnOperadoraTelefoniaDSP.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="ld:br/com/netservicos/atendimento/operadora/physical/netsms/table/SnOperadoraTelefoniaDSP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="SnOperadoraTelefoniaDSP">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="ID_OPERADORA_TELEFONIA" type="xs:integer"/>
            <xs:element name="NM_OPERADORA_TELEFONIA" type="xs:string"/>
            <xs:element name="FC_PRODUTO_EBT" type="xs:string"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
