JAVA/ALDSP/NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/diagnostico/physical/netsms/table/schemas/SnDiagnosticoDSP.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="ld:br/com/netservicos/atendimento/diagnostico/physical/netsms/table/SnDiagnosticoDSP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="SnDiagnosticoDSP">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="ID_DIAGNOSTICO" type="xs:integer"/>
            <xs:element name="ID_CARACTERISTICA" type="xs:integer" minOccurs="0"/>
            <xs:element name="ID_TIPO_DIAGNOSTICO" type="xs:integer" minOccurs="0"/>
            <xs:element name="ID_TIPO_OS" type="xs:integer" minOccurs="0"/>
            <xs:element name="ID_TIPO_OC" type="xs:integer" minOccurs="0"/>
            <xs:element name="ID_TIPO_OCORRENCIA" type="xs:integer" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
