JAVA/ALDSP/NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/diagnostico/physical/netsms/table/schemas/SnTipoOCDSP.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="ld:br/com/netservicos/atendimento/diagnostico/physical/netsms/table/SnTipoOCDSP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="SnTipoOCDSP">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="ID_TIPO_OC" type="xs:integer"/>
            <xs:element name="DESCRICAO" type="xs:string"/>
            <xs:element name="VALIDO" type="xs:integer"/>
            <xs:element name="INTERFACE" type="xs:integer" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
