JAVA/ALDSP/NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/contrato/physical/netsms/table/schemas/SnDiaVctoDSP.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="ld:br/com/netservicos/atendimento/contrato/physical/netsms/table/SnDiaVcto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="SnDiaVcto">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="ID_DIA_VCTO" type="xs:integer"/>
            <xs:element name="DIA" type="xs:integer"/>
            <xs:element name="CID_CONTRATO" type="xs:string" minOccurs="0"/>
            <xs:element name="DIA_EBT" type="xs:integer" minOccurs="0"/>
            <xs:element name="DIA_CLARO" type="xs:integer" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
