JAVA/ALDSP/NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/contrato/physical/netsms/table/schemas/SnRelPontoProdutoDSP.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="ld:br/com/netservicos/atendimento/contrato/physical/netsms/table/SnRelPontoProdutoDSP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="SnRelPontoProdutoDSP">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="NUM_CONTRATO" type="xs:integer"/>
            <xs:element name="CID_CONTRATO" type="xs:string"/>
            <xs:element name="ID_PONTO" type="xs:integer"/>
            <xs:element name="ID_PRODUTO" type="xs:integer"/>
            <xs:element name="DT_INI" type="xs:dateTime"/>
            <xs:element name="DT_FIM" type="xs:dateTime"/>
            <xs:element name="INSTALADO" type="xs:integer"/>
            <xs:element name="DT_ALTERACAO" type="xs:dateTime"/>
            <xs:element name="CONSOL_CBR" type="xs:integer"/>
            <xs:element name="CONSOL_VENDAS" type="xs:integer"/>
            <xs:element name="COD_OC" type="xs:integer" minOccurs="0"/>
            <xs:element name="COD_OS" type="xs:string" minOccurs="0"/>
            <xs:element name="DT_FIM_DEMO" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="ID_DEMONSTRACAO" type="xs:integer" minOccurs="0"/>
            <xs:element name="ID_TIPO_CONTRATACAO" type="xs:integer" minOccurs="0"/>
            <xs:element name="EXPLICITO" type="xs:integer"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
