JAVA/ALDSP/NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/contrato/physical/netsms/table/schemas/SnRelStatusContratoAuxDSP_KEY.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="ld:br/com/netservicos/atendimento/contrato/physical/netsms/table/SnRelStatusContratoAuxDSP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="SnRelStatusContratoAuxDSP_KEY">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="NUM_CONTRATO" type="xs:integer"/>
            <xs:element name="CID_CONTRATO" type="xs:string"/>
            <xs:element name="ID_STATUS" type="xs:integer"/>
            <xs:element name="DT_INI" type="xs:dateTime"/>
            <xs:element name="DT_FIM" type="xs:dateTime"/>
            <xs:element name="HORA_STATUS_INI" type="xs:dateTime"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
