JAVA/ALDSP/NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/contrato/physical/netsms/table/schemas/SnTelefoneVoipDSP_KEY.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="ld:br/com/netservicos/atendimento/contrato/physical/netsms/table/SnTelefoneVoipDSP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="SnTelefoneVoipDSP_KEY">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="DDD_TELEFONE_VOIP" type="xs:string"/>
            <xs:element name="NUM_TELEFONE_VOIP" type="xs:string"/>
            <xs:element name="DT_INI" type="xs:dateTime"/>
            <xs:element name="DT_FIM" type="xs:dateTime"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
