JAVA/ALDSP/NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/contrato/physical/netsms/table/schemas/SnTipoCobrancaDSP.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="ld:br/com/netservicos/atendimento/contrato/physical/netsms/table/SnTipoCobrancaDSP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="SnTipoCobrancaDSP">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="ID_TIPO_COBRANCA" type="xs:integer"/>
            <xs:element name="DESCRICAO" type="xs:string"/>
            <xs:element name="ADESAO" type="xs:integer"/>
            <xs:element name="ASSINATURA" type="xs:integer"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
