NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/clienteprospect/physical/netsms/table/schemas/SnAssinanteDSP.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="ld:br/com/netservicos/atendimento/clienteprospect/physical/netsms/table/SnAssinanteDSP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="SnAssinanteDSP">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="ID_ASSINANTE" type="xs:integer"/>
            <xs:element name="NOME_TITULAR" type="xs:string"/>
            <xs:element name="ID_ENDER_INSTALACAO" type="xs:integer"/>
            <xs:element name="ID_ENDER_REVISTA" type="xs:integer" minOccurs="0"/>
            <xs:element name="ID_ENDER_COBRANCA" type="xs:integer" minOccurs="0"/>
            <xs:element name="CPF" type="xs:string"/>
            <xs:element name="NUM_RG" type="xs:string" minOccurs="0"/>
            <xs:element name="ID_ORGAO_EXPEDIDOR" type="xs:integer" minOccurs="0"/>
            <xs:element name="ID_PROFISSAO" type="xs:integer"/>
            <xs:element name="DT_NASCIMENTO" type="xs:dateTime"/>
            <xs:element name="TEL_RES" type="xs:string" minOccurs="0"/>
            <xs:element name="TEL_COM" type="xs:string" minOccurs="0"/>
            <xs:element name="RAMAL" type="xs:string" minOccurs="0"/>
            <xs:element name="FAX" type="xs:string" minOccurs="0"/>
            <xs:element name="ID_TIPO_PESSOA" type="xs:integer"/>
            <xs:element name="INDICADO_POR" type="xs:integer" minOccurs="0"/>
            <xs:element name="QTD_BONUS" type="xs:integer"/>
            <xs:element name="ID_SEXO" type="xs:integer"/>
            <xs:element name="ID_ESTADO_CIVIL" type="xs:integer"/>
            <xs:element name="SPC" type="xs:integer"/>
            <xs:element name="E_MAIL" type="xs:string" minOccurs="0"/>
            <xs:element name="TEL_OUTROS" type="xs:string" minOccurs="0"/>
            <xs:element name="ESTRANGEIRO" type="xs:integer" minOccurs="0"/>
            <xs:element name="E_MAIL_DEFAULT" type="xs:integer" minOccurs="0"/>
            <xs:element name="ID_ESCOLARIDADE" type="xs:integer" minOccurs="0"/>
            <xs:element name="NOME_MAE" type="xs:string" minOccurs="0"/>
            <xs:element name="NOME_PAI" type="xs:string" minOccurs="0"/>
            <xs:element name="CC_TEL_CEL" type="xs:string" minOccurs="0"/>
            <xs:element name="CD_SUFRAMA" type="xs:string" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
