JAVA/ESB/NETWorkspaceESB/relacionar/atendimento/clienteprospect/wsdl/business/ClienteProspectDSLBSWSDLV1_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="ld:br/com/netservicos/atendimento/webservice/ClienteProspectJWS.ws" name="ClienteProspectJWS" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="ld:br/com/netservicos/atendimento/webservice/ClienteProspectJWS.ws" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/">
  <documentation>AquaLogic Data Services Web Service</documentation>
  <types>
    <xs:schema targetNamespace="ld:br/com/netservicos/atendimento/webservice/ClienteProspectJWS.ws" elementFormDefault="qualified" xmlns:stns="ld:br/com/netservicos/atendimento/webservice/ClienteProspectJWS.ws" xmlns:dsns0="http://www.netservicos.com.br/ClientePropesct/schemas">
      <xs:import namespace="http://www.netservicos.com.br/ClientePropesct/schemas"/>
      <xs:element name="consultarClientesPorCPF">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="cpf" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="consultarClientesPorCPFResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="dsns0:ClientesProspect"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="consultarClientePorContrato">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="numeroContrato" type="xs:long"/>
            <xs:element name="identificacaoCidade" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="consultarClientePorContratoResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="dsns0:ClientesProspect"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="consultarClientesPorTelefoneContato">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ddd" type="xs:string"/>
            <xs:element name="numeroTelefone" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="consultarClientesPorTelefoneContatoResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="dsns0:ClientesProspect"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="consultarClientesPorCNPJ">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="cnpj" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="consultarClientesPorCNPJResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="dsns0:ClientesProspect"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <schema targetNamespace="http://www.netservicos.com.br/ClientePropesct/schemas" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.netservicos.com.br/ClientePropesct/schemas">
      <annotation>
        <documentation>Entidade responsavel por mapear um cliente ou um prospect no
			dominio NET</documentation>
      </annotation>
      <element name="ClientesProspect" type="tns:ClientesProspect"/>
      <complexType name="ClientesProspect">
        <annotation>
          <documentation>Entidade responsavel por mapear um conjunto de clientes
				ou prospects no dominio NET</documentation>
        </annotation>
        <sequence>
          <element name="clienteProspect" type="tns:ClienteProspect" maxOccurs="unbounded" minOccurs="0"></element>
        </sequence>
      </complexType>
      <complexType name="ClienteProspect">
        <sequence>
          <element name="Identificador" maxOccurs="1" minOccurs="0" nillable="true">
            <annotation>
              <documentation>Identificador do cliente</documentation>
            </annotation>
            <simpleType>
              <restriction base="long"/>
            </simpleType>
          </element>
          <element name="nome" maxOccurs="1" minOccurs="0" nillable="true">
            <simpleType>
              <annotation>
                <documentation>Nome do cliente</documentation>
              </annotation>
              <restriction base="string"/>
            </simpleType>
          </element>
          <element name="tipoPessoa" maxOccurs="1" minOccurs="0" nillable="true">
            <annotation>
              <documentation>Tipo de pessoa Juridica ou Fisica</documentation>
            </annotation>
            <simpleType>
              <restriction base="string">
                <maxLength value="8"/>
                <enumeration value="fisica"/>
                <enumeration value="juridica"/>
              </restriction>
            </simpleType>
          </element>
          <element name="CPF" maxOccurs="1" minOccurs="0" nillable="true">
            <simpleType>
              <annotation>
                <documentation>CPF do cliente</documentation>
              </annotation>
              <restriction base="string">
                <pattern value="\d{10,11}"/>
                <maxLength value="11"/>
              </restriction>
            </simpleType>
          </element>
          <element name="RG" maxOccurs="1" minOccurs="0" nillable="true">
            <annotation>
              <documentation>RG do cliente</documentation>
            </annotation>
            <simpleType>
              <restriction base="string">
                <maxLength value="20"/>
              </restriction>
            </simpleType>
          </element>
          <element name="CNPJ" maxOccurs="1" minOccurs="0" nillable="true">
            <annotation>
              <documentation>CNPJ do cliente</documentation>
            </annotation>
            <simpleType>
              <restriction base="string">
                <pattern value="\d{14,15}"/>
                <maxLength value="15"/>
              </restriction>
            </simpleType>
          </element>
          <element name="InscricaoEstadual" maxOccurs="1" minOccurs="0" nillable="true">
            <annotation>
              <documentation>Inscricao estadual do cliente</documentation>
            </annotation>
            <simpleType>
              <restriction base="string">
                <maxLength value="14"/>
              </restriction>
            </simpleType>
          </element>
          <element name="OrgaoExpedidor" maxOccurs="1" minOccurs="0" nillable="true">
            <annotation>
              <documentation>Orgao expedidor do documento do cliente</documentation>
            </annotation>
            <simpleType>
              <restriction base="string">
                <maxLength value="10"/>
              </restriction>
            </simpleType>
          </element>
          <element name="Profissao" maxOccurs="1" minOccurs="0" nillable="true" type="tns:Profissao">
            <annotation>
              <documentation>Profissao do cliente</documentation>
            </annotation>
          </element>
          <element name="DataNascimento" maxOccurs="1" minOccurs="0" nillable="true">
            <annotation>
              <documentation>Data de nascimento do cliente</documentation>
            </annotation>
            <simpleType>
              <restriction base="date"/>
            </simpleType>
          </element>
          <element name="Sexo" maxOccurs="1" minOccurs="0" nillable="true">
            <annotation>
              <documentation>Sexo do cliente Masculino, Feminino e Indefinido
						no caso de cliente pessoa juridica</documentation>
            </annotation>
            <simpleType>
              <restriction base="string">
                <enumeration value="MASCULINO"/>
                <enumeration value="FEMININO"/>
                <enumeration value="NAO SE APLICA"/>
              </restriction>
            </simpleType>
          </element>
          <element name="EstadoCivil" maxOccurs="1" minOccurs="0" nillable="true" type="tns:EstadoCivil">
            <annotation>
              <documentation>Estado civil do cliente Solteiro, Casado ou
						Indefinido no caso de cliente Pessoa Juridica</documentation>
            </annotation>
          </element>
          <element name="IndicadorDeEstrangeiro" maxOccurs="1" minOccurs="0" nillable="true">
            <annotation>
              <documentation>Indicador de cliente estrangeiro</documentation>
            </annotation>
            <simpleType>
              <restriction base="boolean"/>
            </simpleType>
          </element>
          <element name="GrauDeInstrucao" maxOccurs="1" minOccurs="0" nillable="true" type="tns:GrauDeInstrucao">
            <annotation>
              <documentation>Grau de instrucao do cliente. Ex: Superior
						incompleto</documentation>
            </annotation>
          </element>
          <element name="NomeMae" maxOccurs="1" minOccurs="0" nillable="true">
            <annotation>
              <documentation>Nome da mae do cliente</documentation>
            </annotation>
            <simpleType>
              <restriction base="string">
                <maxLength value="80"/>
              </restriction>
            </simpleType>
          </element>
          <element name="NomePai" maxOccurs="1" minOccurs="0" nillable="true">
            <annotation>
              <documentation>Nome do Pai do cliente</documentation>
            </annotation>
            <simpleType>
              <restriction base="string">
                <maxLength value="80"/>
              </restriction>
            </simpleType>
          </element>
          <element name="Emails" maxOccurs="1" minOccurs="0" nillable="true" type="tns:Emails">
            <annotation>
              <documentation>Email do cliente</documentation>
            </annotation>
          </element>
          <element name="TelefonesContato" type="tns:TelefonesContato" maxOccurs="1" minOccurs="0" nillable="true">
            <annotation>
              <documentation>Telefones de contato do cliente</documentation>
            </annotation>
          </element>
          <element name="ContratosDeVenda" type="tns:ContratosDeVenda" nillable="true" maxOccurs="1" minOccurs="0">
            <annotation>
              <documentation>Contratos de venda do cliente</documentation>
            </annotation>
          </element>
          <element name="CodigoSuframa" type="string" minOccurs="0" maxOccurs="1"/>
          <element name="TipoCliente" type="string" minOccurs="0" maxOccurs="1"></element>
        </sequence>
      </complexType>
      <complexType name="Profissao">
        <sequence>
          <element name="Identificador" type="string" minOccurs="0" maxOccurs="1">
            <annotation>
              <documentation>Identificador de Profissao de Cliente</documentation>
            </annotation>
          </element>
          <element name="Descricao" type="string" minOccurs="0" maxOccurs="1">
            <annotation>
              <documentation>Descrição de profissão de cliente</documentation>
            </annotation>
          </element>
        </sequence>
      </complexType>
      <complexType name="EstadoCivil">
        <sequence>
          <element name="Identificador" type="string" minOccurs="0" maxOccurs="1"></element>
          <element name="Descricao" type="string" minOccurs="0" maxOccurs="1"></element>
        </sequence>
      </complexType>
      <complexType name="GrauDeInstrucao">
        <sequence>
          <element name="Identificador" type="string" minOccurs="0" maxOccurs="1"></element>
          <element name="Descricao" type="string" minOccurs="0" maxOccurs="1"></element>
        </sequence>
      </complexType>
      <complexType name="Emails">
        <sequence>
          <element name="Emails" type="tns:Email" minOccurs="0" maxOccurs="unbounded"></element>
        </sequence>
      </complexType>
      <complexType name="TelefonesContato">
        <annotation>
          <documentation>Telefones de contato do cliente</documentation>
        </annotation>
        <sequence>
          <element name="telefoneContato" type="tns:TelefoneContato" maxOccurs="unbounded" minOccurs="0" nillable="true"></element>
        </sequence>
      </complexType>
      <complexType name="Email">
        <sequence>
          <element name="EnderecoEmail" maxOccurs="1" minOccurs="0" nillable="true">
            <simpleType>
              <restriction base="string">
                <pattern value="[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+(\.[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+)*@[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+(\.[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+)*"></pattern>
              </restriction>
            </simpleType>
          </element>
          <element name="TipoEmail" type="string" maxOccurs="1" minOccurs="0" nillable="true"></element>
          <element name="AceitaContato" type="boolean" maxOccurs="1" minOccurs="0" nillable="true"></element>
        </sequence>
      </complexType>
      <complexType name="TelefoneContato">
        <sequence>
          <element name="IdentificadorTelefoneContato" maxOccurs="1" minOccurs="0" nillable="true">
            <annotation>
              <documentation>Identificador do telefone de contato do cliente</documentation>
            </annotation>
            <simpleType>
              <restriction base="string"/>
            </simpleType>
          </element>
          <element name="DDD" maxOccurs="1" minOccurs="0">
            <annotation>
              <documentation>DDD do telefone de contato do cliente</documentation>
            </annotation>
            <simpleType>
              <restriction base="string">
                <maxLength value="3"/>
                <pattern value="[0-9].*"/>
              </restriction>
            </simpleType>
          </element>
          <element name="numeroTelefone" maxOccurs="1" minOccurs="0" nillable="true">
            <annotation>
              <documentation>Numero de telefone de contato do cliente</documentation>
            </annotation>
            <simpleType>
              <restriction base="string">
                <maxLength value="14"/>
              </restriction>
            </simpleType>
          </element>
          <element name="ramal" maxOccurs="1" minOccurs="0" nillable="true">
            <annotation>
              <documentation>Ramal do telefone do cliente</documentation>
            </annotation>
            <simpleType>
              <restriction base="string">
                <maxLength value="4"/>
              </restriction>
            </simpleType>
          </element>
          <element name="tipoTelefone" maxOccurs="1" minOccurs="0" nillable="true">
            <annotation>
              <documentation>Tipo de telefone do cliente</documentation>
            </annotation>
            <simpleType>
              <restriction base="string">
                <enumeration value="celular"/>
                <enumeration value="residencial"/>
                <enumeration value="comercial"/>
                <enumeration value="netfone"/>
                <enumeration value="outros"/>
                <enumeration value="fax"/>
              </restriction>
            </simpleType>
          </element>
          <element name="nomeRecado" maxOccurs="1" minOccurs="0" nillable="true">
            <annotation>
              <documentation>Nome para recados</documentation>
            </annotation>
            <simpleType>
              <restriction base="string"/>
            </simpleType>
          </element>
        </sequence>
      </complexType>
      <complexType name="ContratosDeVenda">
        <annotation>
          <documentation>Conjunto de contratos de venda firmados com cliente</documentation>
        </annotation>
        <sequence>
          <element name="contratoDeVenda" type="tns:ContratoDeVenda" maxOccurs="unbounded" minOccurs="0"/>
        </sequence>
      </complexType>
      <complexType name="ContratoDeVenda">
        <sequence>
          <element name="numeroContrato" maxOccurs="1" minOccurs="0" nillable="true">
            <annotation>
              <documentation>Numero do contrato de venda do cliente</documentation>
            </annotation>
            <simpleType>
              <restriction base="long"/>
            </simpleType>
          </element>
          <element name="digitoVerificador" maxOccurs="1" minOccurs="0" nillable="true">
            <annotation>
              <documentation>Digito verificador</documentation>
            </annotation>
            <simpleType>
              <restriction base="int">
                <totalDigits value="1"/>
              </restriction>
            </simpleType>
          </element>
          <element name="operadoraNET" type="tns:OperadoraNET" minOccurs="0" maxOccurs="1"></element>
          <element name="dataVenda" maxOccurs="1" minOccurs="0" nillable="true">
            <annotation>
              <documentation>Data da venda dos produtos</documentation>
            </annotation>
            <simpleType>
              <restriction base="dateTime"/>
            </simpleType>
          </element>
          <element name="dataCancelamento" maxOccurs="1" minOccurs="0" nillable="true">
            <annotation>
              <documentation>Data de cancelamento do contrato</documentation>
            </annotation>
            <simpleType>
              <restriction base="dateTime"/>
            </simpleType>
          </element>
          <element name="motivoCancelamento" type="string" minOccurs="0" maxOccurs="1"></element>
          <element name="dataCadastro" type="dateTime" minOccurs="0" maxOccurs="1"></element>
          <element name="observacao" type="string" minOccurs="0" maxOccurs="1"></element>
        </sequence>
      </complexType>
      <complexType name="OperadoraNET">
        <complexContent>
          <extension base="tns:Empresa">
            <sequence>
              <element name="CodigoOperdaora" minOccurs="0" maxOccurs="1">
                <annotation>
                  <documentation>Codigo de Operdaora NET</documentation>
                </annotation>
                <simpleType>
                  <restriction base="string">
                    <length value="3"/>
                  </restriction>
                </simpleType>
              </element>
              <element name="IdentificacaoCidade" minOccurs="0" maxOccurs="1">
                <annotation>
                  <documentation>Identificação de cidade (Cidade
								Contrato)</documentation>
                </annotation>
                <simpleType>
                  <restriction base="string">
                    <length value="5"/>
                  </restriction>
                </simpleType>
              </element>
              <element name="NomeOperadora" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                  <documentation>Nome de operadora NET</documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="Empresa" abstract="true">
        <annotation>
          <documentation>Empresa que pode se um parceiro, operadora NET etc.</documentation>
        </annotation>
        <sequence>
          <element name="identificador" type="long" minOccurs="0" maxOccurs="1">
            <annotation>
              <documentation>Código que identifica unicamente a Empresa na
						base de dados.</documentation>
            </annotation>
          </element>
          <element name="NomeEmpresa" type="string" minOccurs="0" maxOccurs="1">
            <annotation>
              <documentation>Nome de empresa</documentation>
            </annotation>
          </element>
          <element name="CNPJ" minOccurs="0" maxOccurs="1">
            <simpleType>
              <restriction base="string">
                <pattern value="\d{14,15}"/>
                <maxLength value="15"/>
              </restriction>
            </simpleType>
          </element>
          <element name="inscricaoEstadual" type="string" minOccurs="0" maxOccurs="1">
            <annotation>
              <documentation>Número da Inscrição Estadual da Empresa,
						registro do contribuinte no cadastro do ICMS
						mantido pela Receita Estadual.</documentation>
            </annotation>
          </element>
          <element name="nomeFantasia" type="string" minOccurs="0" maxOccurs="1">
            <annotation>
              <documentation>Nome Fantasia da empresa, designação popular de
						Título de Estabelecimento, sob a qual ela se
						torna conhecida do público.</documentation>
            </annotation>
          </element>
        </sequence>
      </complexType>
    </schema>
  </types>
  <message name="consultarClientesPorCPFIn">
    <part name="parameters" element="tns:consultarClientesPorCPF"/>
  </message>
  <message name="consultarClientesPorCPFOut">
    <part name="parameters" element="tns:consultarClientesPorCPFResponse"/>
  </message>
  <message name="consultarClientesPorCNPJIn">
    <part name="parameters" element="tns:consultarClientesPorCNPJ"/>
  </message>
  <message name="consultarClientesPorCNPJOut">
    <part name="parameters" element="tns:consultarClientesPorCNPJResponse"/>
  </message>
  <message name="consultarClientePorContratoIn">
    <part name="parameters" element="tns:consultarClientePorContrato"/>
  </message>
  <message name="consultarClientePorContratoOut">
    <part name="parameters" element="tns:consultarClientePorContratoResponse"/>
  </message>
  <message name="consultarClientesPorTelefoneContatoIn">
    <part name="parameters" element="tns:consultarClientesPorTelefoneContato"/>
  </message>
  <message name="consultarClientesPorTelefoneContatoOut">
    <part name="parameters" element="tns:consultarClientesPorTelefoneContatoResponse"/>
  </message>
  <portType name="ClienteProspectJWSPT">
    <operation name="consultarClientesPorCPF">
      <input message="tns:consultarClientesPorCPFIn"/>
      <output message="tns:consultarClientesPorCPFOut"/>
    </operation>
    <operation name="consultarClientesPorCNPJ">
      <input message="tns:consultarClientesPorCNPJIn"/>
      <output message="tns:consultarClientesPorCNPJOut"/>
    </operation>
    <operation name="consultarClientePorContrato">
      <input message="tns:consultarClientePorContratoIn"/>
      <output message="tns:consultarClientePorContratoOut"/>
    </operation>
    <operation name="consultarClientesPorTelefoneContato">
      <input message="tns:consultarClientesPorTelefoneContatoIn"/>
      <output message="tns:consultarClientesPorTelefoneContatoOut"/>
    </operation>
  </portType>
  <binding name="ClienteProspectJWSSoapBinding" type="tns:ClienteProspectJWSPT">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="consultarClientesPorCPF">
      <soap:operation soapAction="ld:br/com/netservicos/atendimento/webservice/ClienteProspectJWS.ws/consultarClientesPorCPF" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="consultarClientesPorCNPJ">
      <soap:operation soapAction="ld:br/com/netservicos/atendimento/webservice/ClienteProspectJWS.ws/consultarClientesPorCNPJ" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="consultarClientePorContrato">
      <soap:operation soapAction="ld:br/com/netservicos/atendimento/webservice/ClienteProspectJWS.ws/consultarClientePorContrato" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="consultarClientesPorTelefoneContato">
      <soap:operation soapAction="ld:br/com/netservicos/atendimento/webservice/ClienteProspectJWS.ws/consultarClientesPorTelefoneContato" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ClienteProspectJWSSoapService">
    <port binding="tns:ClienteProspectJWSSoapBinding" name="ClienteProspectJWSSoapPort">
      <soap:address location="http://10.230.230.121:7041/NETAtendimentoDSBasicAuth/ALDSPWebServiceSOAP12BasicAuth/br/com/netservicos/atendimento/webservice/ClienteProspectJWS.ws"/>
    </port>
  </service>
</definitions>