NETWorkspaceALDSP/NETAtendimentoDS/schemas/br/com/netservicos/modelocanonico/v2/geral/IdentificacaoContrato.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.netservicos.com.br/modelocanonico/v2/identificacaoContrato"
    elementFormDefault="qualified" 
	xmlns:ident="http://www.netservicos.com.br/modelocanonico/v2/identificacaoContrato">

	<complexType name="IdentificacaoContratoType">
        <annotation>
        	<documentation>
        		Tipo para padronizar os possíveis atributos usados
        		para identificação de um Contrato na NET, a saber: -
        		SmartCard ou Código do Endereçavel no Terminal OU -
        		Combinação de Número do Contrato e: - Código da
        		Operadora OU Identificação da Cidade.
        	</documentation>
        </annotation>
        <choice>
        	<element name="SmartCard" type="ident:SmartCardType"
        		minOccurs="1" maxOccurs="1">
        		<annotation>
        			<documentation>
        				Número do SmartCard ou Código do Endereçavel do
        				terminal.
        			</documentation>
        		</annotation>
        	</element>
        	<element name="Contrato" type="ident:ContratoType"
        		minOccurs="1" maxOccurs="1">
        		<annotation>
        			<documentation>
        				Tipo para representar identificador do contrato.
        				Que é formado pela combinação de Número do
        				Contrato e: - Código da Operadora OU
        				Identificação da Cidade.
        			</documentation>
        		</annotation>
        	</element>
        	<element name="Protocolo" type="string" minOccurs="0"
        		maxOccurs="1">
        		<annotation>
        			<documentation>
        				Número de protocolo do atendimento do Assinante.
        			</documentation>
        		</annotation>
        	</element>
        	<element name="EnderecoMAC" type="string" minOccurs="0" maxOccurs="1">
        		<annotation>
        			<documentation>
        				Endereço Físico de um Equipamento na Rede.
        			</documentation>
        		</annotation></element>
        	<element name="AliasDatabase" type="string" minOccurs="0" maxOccurs="1">
        		<annotation>
        			<documentation>
        				Álias da base de dados em que se encontra o contrato. 
        				Ex: Usado para definir o atributo j_identity_base no header das requisições.
        			</documentation>
        		</annotation></element>        		
        		
        </choice>
	</complexType>

	<simpleType name="SmartCardType">
        <annotation>
        	<documentation>
        		Número do SmartCard ou Código do Endereçavel do
        		terminal.
        	</documentation>
        </annotation>
        <restriction base="string"></restriction>
	</simpleType>


	<complexType name="ContratoType">
		<sequence>
			<element name="NumeroContrato" minOccurs="1"
				maxOccurs="1">
                <annotation>
                	<documentation>
                		Número do contrato do assinante, conforme
                		cadastro no legado.
                	</documentation>
                </annotation>
                <simpleType>
					<restriction base="long"></restriction>
				</simpleType>
			</element>
			<choice>
				<element name="CodigoOperadora" minOccurs="1"
					maxOccurs="1">
                    <annotation>
                    	<documentation>
                    		Código da Operadora onde o contrato está
                    		cadastrado, conforme cadastro no legado.
                    	</documentation>
                    </annotation>
                    <simpleType>
						<restriction base="string">

							<length value="3"></length>
						</restriction>
					</simpleType>
				</element>
				<element name="IdentificacaoCidade" minOccurs="1"
					maxOccurs="1">
                    <annotation>
                    	<documentation>
                    		Identificação da Cidade onde o contrato está
                    		cadastrado, conforme cadastro no legado.
                    	</documentation>
                    </annotation>
                    <simpleType>
						<restriction base="string">

							<length value="5"></length>
						</restriction>
					</simpleType>
				</element>
			</choice>
		</sequence>
	</complexType>

	<element name="IdentificacaoContrato"
		type="ident:IdentificacaoContratoType">
		<annotation>
			<documentation>
				Elemento que representa a identificação do Contrato na
				NET.
			</documentation>
		</annotation>
	</element>
</schema>