NETWorkspaceALDSP/NETAtendimentoDS/schemas/br/com/netservicos/modelocanonico/v2/geral/Usuario.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.netservicos.com.br/modelocanonico/v2/usuario" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:usuario="http://www.netservicos.com.br/modelocanonico/v2/usuario">

    <xsd:complexType name="Usuario">
    	<xsd:annotation>
    		<xsd:documentation>
    			Usuario de sistemas de NET
    		</xsd:documentation>
    	</xsd:annotation>
    	<xsd:sequence>
    		<xsd:element name="LoginUsuario" type="xsd:string" minOccurs="0" maxOccurs="1">
    			<xsd:annotation>
    				<xsd:documentation>
    					Login de usuario
    				</xsd:documentation>
    			</xsd:annotation>
    		</xsd:element>
    		<xsd:element name="NomeUsuario" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>	
    		
    		<xsd:element maxOccurs="1" minOccurs="0" name="CPF">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value="\d{10,11}"/>
						<xsd:maxLength value="11"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

    		<xsd:element name="EmailUsuario" type="usuario:EmailType"></xsd:element>
    		<xsd:element name="TelefoneUsuario" type="usuario:TelefoneType"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="TelefoneType">
    	<xsd:sequence>
       		<xsd:element name="DDD" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
    		<xsd:element name="Telefone" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
     		<xsd:element name="Ramal" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>     
       	</xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="EmailType">
    	<xsd:sequence>
    		<xsd:element name="EnderecoEmail" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Usuarios">
    	<xsd:sequence>
    		<xsd:element name="Usuarios" type="usuario:Usuario" minOccurs="0" maxOccurs="unbounded"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>
</xsd:schema>