NETWorkspaceALDSP/NETAtendimentoDS/schemas/br/com/netservicos/modelocanonico/v2/evento/PeriodoAgendamento.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
	targetNamespace="http://www.netservicos.com.br/modelocanonico/v2/evento"
	elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:evento="http://www.netservicos.com.br/modelocanonico/v2/evento"
	xmlns:contrato="http://www.netservicos.com.br/modelocanonico/v2/contrato"
	xmlns:proposta="http://www.netservicos.com.br/modelocanonico/v2/proposta">

	<element name="Periodos" type="evento:PeriodoAgendamentos" />

	<complexType name="PeriodoAgendamentos">
		<sequence>
			<element name="PeriodoAgendamento" type="evento:PeriodoAgendamento" minOccurs="0"
				maxOccurs="unbounded" />
		</sequence>
	</complexType>
	
	<complexType name="PeriodoAgendamento">
		<sequence>
			<element name="Descricao" type="string" minOccurs="0"
				maxOccurs="1">
			</element>
			<element name="MinutosDisponiveis" type="float"
				minOccurs="0" maxOccurs="1">
			</element>
			<element name="HoraInicial" type="time" minOccurs="0"
				maxOccurs="1">
			</element>
			<element name="HoraFinal" type="time" minOccurs="0"
				maxOccurs="1">
			</element>
			<element name="Data" type="date" minOccurs="0"
				maxOccurs="1">
			</element>
			<element name="idTipoPeriodo" type="int" minOccurs="0"
				maxOccurs="1">
			</element>
			<element name="Emergencial" type="int" minOccurs="0"
				maxOccurs="1">
			</element>
			<element name="DataBloqueio" type="dateTime" minOccurs="0"
				maxOccurs="1">
			</element>
			<element name="CadastrouCapacidade" type="boolean" minOccurs="0" maxOccurs="1"></element>
		</sequence>
	</complexType>

</schema>