JAVA/ESB/NETWorkspaceESB/relacionar/atendimento/contratovenda/wsdl/business/ContratoVenda.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="ld:br/com/netservicos/atendimento/contratovenda/webservice/ContratoVendaJWS.ws" name="ContratoVendaJWS" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="ld:br/com/netservicos/atendimento/contratovenda/webservice/ContratoVendaJWS.ws" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/">
  <documentation>AquaLogic Data Services Web Service</documentation>
  <types>
    <xs:schema targetNamespace="ld:br/com/netservicos/atendimento/contratovenda/webservice/ContratoVendaJWS.ws" elementFormDefault="qualified" xmlns:stns="ld:br/com/netservicos/atendimento/contratovenda/webservice/ContratoVendaJWS.ws" xmlns:dsns0="http://www.netservicos.com.br/Manifestacaoombudsman/schemas">
      <xs:import namespace="http://www.netservicos.com.br/Manifestacaoombudsman/schemas"/>
      <xs:element name="isContratoVendaExistente">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="identificadorCidade" type="xs:string"/>
            <xs:element name="numeroContrato" type="xs:long"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="isContratoVendaExistenteResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="dsns0:ContratoVendaDSP" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema targetNamespace="http://www.netservicos.com.br/Manifestacaoombudsman/schemas" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:ns="http://www.netservicos.com.br/Manifestacaoombudsman/schemas">
      <xs:element name="ContratoVendaDSP" type="ns:ContratoVendaDSPType"></xs:element>
      <xs:complexType name="ContratoVendaDSPType">
        <xs:sequence>
          <xs:element name="QUANTIDADE_CONTRATO" type="xs:integer"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="isContratoVendaExistenteIn">
    <part name="parameters" element="tns:isContratoVendaExistente"/>
  </message>
  <message name="isContratoVendaExistenteOut">
    <part name="parameters" element="tns:isContratoVendaExistenteResponse"/>
  </message>
  <portType name="ContratoVendaJWSPT">
    <operation name="isContratoVendaExistente">
      <input message="tns:isContratoVendaExistenteIn"/>
      <output message="tns:isContratoVendaExistenteOut"/>
    </operation>
  </portType>
  <binding name="ContratoVendaJWSSoapBinding" type="tns:ContratoVendaJWSPT">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="isContratoVendaExistente">
      <soap:operation soapAction="ld:br/com/netservicos/atendimento/contratovenda/webservice/ContratoVendaJWS.ws/isContratoVendaExistente" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ContratoVendaJWSSoapService">
    <port binding="tns:ContratoVendaJWSSoapBinding" name="ContratoVendaJWSSoapPort">
      <soap:address location="http://10.9.7.187:7001/NETAtendimentoDSBasicAuth/ALDSPWebServiceSOAP12BasicAuth/br/com/netservicos/atendimento/contratovenda/webservice/ContratoVendaJWS.ws"/>
    </port>
  </service>
</definitions>