NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/now/physical/netsms/table/schemas/SnHistoricoConsumoVODDSP.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="ld:br/com/netservicos/atendimento/now/physical/netsms/table/SnHistoricoConsumoVODDSP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="SnHistoricoConsumoVODDSP">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="ID_HISTORICO_CONSUMO_VOD" type="xs:integer"/>
            <xs:element name="ID_TVOD_CONSUMIDO" type="xs:integer"/>
            <xs:element name="ENTITLEMENT_ID" type="xs:string"/>
            <xs:element name="DH_INI_JANELA_EXIBICAO" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="DH_FIM_JANELA_EXIBICAO" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="DH_EXIBICAO" type="xs:dateTime" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
