NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/now/physical/netsms/table/schemas/SnParametroDSP_KEY.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="ld:br/com/netservicos/atendimento/now/physical/netsms/table/SnParametroDSP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="SnParametroDSP_KEY">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="ID_EMPRESA" type="xs:string"/>
            <xs:element name="NOME_PARAMETRO" type="xs:string"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
