NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/now/physical/netsms/table/schemas/SnTVODConsumidoDSP.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="ld:br/com/netservicos/atendimento/now/physical/netsms/table/SnTVODConsumidoDSP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="SnTVODConsumidoDSP">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="ID_TVOD_CONSUMIDO" type="xs:integer"/>
            <xs:element name="DH_IMPORTACAO" type="xs:dateTime"/>
            <xs:element name="NM_ARQUIVO_IMPORTADO" type="xs:string"/>
            <xs:element name="FC_CONTESTADO" type="xs:string"/>
            <xs:element name="ID_ITEM_EXTRATO" type="xs:integer" minOccurs="0"/>
            <xs:element name="NM_CONTEUDO" type="xs:string" minOccurs="0"/>
            <xs:element name="ID_STATUS_EVENTO" type="xs:integer" minOccurs="0"/>
            <xs:element name="NUM_CONTRATO" type="xs:integer"/>
            <xs:element name="COD_OPERADORA" type="xs:string"/>
            <xs:element name="CD_ENDERECAVEL" type="xs:string"/>
            <xs:element name="VLR_COMPRA" type="xs:decimal"/>
            <xs:element name="FL_ADULTO" type="xs:string"/>
            <xs:element name="ID_COMPRA" type="xs:string" minOccurs="0"/>
            <xs:element name="DH_COMPRA" type="xs:dateTime"/>
            <xs:element name="MSG_ERRO" type="xs:string" minOccurs="0"/>
            <xs:element name="DH_INCLUSAO" type="xs:dateTime"/>
            <xs:element name="ENTITLEMENT_ID" type="xs:string"/>         
            <xs:element name="VL_LISTA" type="xs:decimal"/>  
            <xs:element name="DS_OFERTA" type="xs:string"/>          
         	<xs:element name="DS_CANAL_COMPRA" type="xs:string"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
