NETWorkspaceESB/relacionar/cliente/clienteclaro/wsdl/business/EBO/Claro/v1/FaultEBOv1.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.claro.com.br/EBO/Claro/v1" xmlns:tns="http://www.claro.com.br/EBO/Claro/v1"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
	attributeFormDefault="qualified" version="1.0">

	<xsd:include schemaLocation="MetaTraceEBOv1.xsd" />

	<xsd:complexType name="MotivoFaultType">
		<xsd:annotation>
			<xsd:documentation>
			<![CDATA[
				Representa um motivo pelo qual ocorreu uma falha
			]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="motivo-id" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Código de identificação do motivo
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="descricao" type="xsd:string"
				minOccurs="0" maxOccurs="1" nillable="true">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Descrição do motivo
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="FaultType">
		<xsd:annotation>
			<xsd:documentation>
			<![CDATA[
				Representa e descreve uma falha ou problema ocorrido na
				execução de um serviço. Todas as falhas devem extender
				de FaultType.
			]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="codigo" type="xsd:string" minOccurs="1"
				maxOccurs="1" nillable="false">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Código de identificação do erro. Há um catálogo
						dos códigos de erro, que são identificados por
						prefixos, ex: BE
						(Business Error), TE (Technical
						Error), SE (Security Error), etc.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mensagem" type="xsd:string" minOccurs="1"
				maxOccurs="1" nillable="false">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Mensagem descritiva do erro, deve ser clara e
						permitir a identificação do tipo e causa do
						erro.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="instrucao" type="xsd:string"
				minOccurs="1" maxOccurs="1" nillable="false">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Mensagem descritiva que orienta a ação a ser
						tomada pelo operador na ocorrência do erro.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="motivo" type="tns:MotivoFaultType"
				minOccurs="0" maxOccurs="1" nillable="false">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Motivo pelo qual o erro ocorreu.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="detalhe" type="xsd:string" minOccurs="1"
				maxOccurs="1" nillable="true">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Texto complementar destinado a detalhar o erro
						ocorrido. Em geral deve conter informações que
						auxiliem na
						identificação das causas ou da
						correção do problema. Um conteúdo
						típico é: o
						nome do servidor, a data e hora de execução do
						serviço,
						código do erro, mensagem descritiva do
						erro, mensagem de instrução
						para o operador e um
						detalhamento do erro ou sua causa, um conteúdo
						típico é a pilha de execução da thread do Java
						(StackTrace).
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="meta-trace" type="tns:MetaTraceType"
				minOccurs="0" maxOccurs="1" nillable="false">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						Meta informação de rastreabilidade de execução do serviço.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ArrayOfFaultType">
		<xsd:annotation>
			<xsd:documentation>
			<![CDATA[
				Representa uma lista de falhas ou problemas
				ocorridos.
			]]>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="falha" type="tns:FaultType" minOccurs="0"
				maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
					<![CDATA[
						falha ou problema ocorrido.
					]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>