NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/evento/physical/netsms/sql/schemas/Ocorrencia.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netservicos.com.br/Ocorrencia" xmlns:tns="http://www.netservicos.com.br/Ocorrencia" elementFormDefault="qualified">

 		<complexType name="dadosOcorrenciaType">
            <sequence>
			 	<element name="ID_STATUS" type="integer" minOccurs="0"></element>
			 	<element name="ID_ORIGEM" type="integer" minOccurs="0"></element>
			 	<element name="DESCRICAO" type="string" minOccurs="0"></element>
			 	<element name="CD_HASH_CODE" type="string" minOccurs="0"></element>
			 	<element name="ID_ASSINANTE" type="string" minOccurs="0"></element>
			</sequence>
		</complexType>
	
		<element name="DadosOcorrencia"
    	type="tns:dadosOcorrenciaType">
    	</element>
    	
    	<complexType name="idOcorrenciaType">
            <sequence>
			 	<element name="PIDOCORRENCIA" type="integer"></element>
			</sequence>
		</complexType>
	
		<element name="IdOcorrencia"
    	type="tns:idOcorrenciaType">
    	</element>
    
</schema>