JAVA/ESB/NETWorkspaceESB/relacionar/atendimento/clienteprospect/wsdl/proxy/ClienteProspectSJWSDLV1_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ClienteProspectSJ" 
	targetNamespace="http://www.netservicos.com.br/ClienteProspectSJ/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/"	
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:cpsj="http://www.netservicos.com.br/ClienteProspectSJ/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<wsdl:types>
		<xsd:schema
			targetNamespace="http://www.netservicos.com.br/ClienteProspectSJ/"
			xmlns:Q1="http://www.netservicos.com.br/modelocanonico/v2/cliente"
			elementFormDefault="qualified">

			<xsd:import
				schemaLocation="../../../../../modelocanonicoV2/cliente/ClienteProspect.xsd"
				namespace="http://www.netservicos.com.br/modelocanonico/v2/cliente" />

			<xsd:element name="parametrosListarClientes" type="cpsj:ListarClientesType" />

			<xsd:element name="resultadoListarClientes"	type="cpsj:ResultadoListarClientesType" />

			<xsd:complexType name="ListarClientesType">
				<xsd:sequence>
					<xsd:choice>
						<xsd:element name="CPF">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:pattern value="\d{10,11}" />
									<xsd:maxLength value="11" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>

						<xsd:element name="CNPJ">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:pattern value="\d{14,15}" />
									<xsd:maxLength value="15" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>

						<xsd:element name="telefoneContato"	type="cpsj:TelefoneContatoType" />

					</xsd:choice>

					<xsd:element name="basesPesquisa" type="cpsj:BasesPesquisaType" minOccurs="0"	maxOccurs="1"/>
					
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="BasesErroType">
				<xsd:sequence>
					<xsd:element name="basesPesquisa" type="cpsj:BasesPesquisaType" minOccurs="0" maxOccurs="1">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="BasesPesquisaType">
				<xsd:sequence>
					<xsd:element name="aliasDatabase" minOccurs="0" maxOccurs="unbounded">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="ResultadoListarClientesType">
				<xsd:sequence>
					<xsd:element name="clientesProspect"
						type="Q1:ClientesProspect" minOccurs="1" maxOccurs="1" />
					<xsd:element name="mensagens"
						type="cpsj:MensagensType" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="MensagensType">
				<xsd:sequence>
					<xsd:element name="mensagem" type="cpsj:MensagemType"
						minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="MensagemType">
				<xsd:sequence>
					<xsd:element name="codigo" type="xsd:string"
						minOccurs="1" maxOccurs="1" />
					<xsd:element name="descricao" type="xsd:string"
						minOccurs="1" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="TelefoneContatoType">
				<xsd:sequence>

					<xsd:element name="DDD" maxOccurs="1"
						minOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="3" />
								<xsd:pattern value="[0-9].*" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>

					<xsd:element name="numeroTelefone" maxOccurs="1"
						minOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="14" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>

				</xsd:sequence>
			</xsd:complexType>

		</xsd:schema>

		
	</wsdl:types>

	<wsdl:message name="listarClientesSJRequest">
		<wsdl:part name="listarClientesRequest"	element="cpsj:parametrosListarClientes" />
	</wsdl:message>

	<wsdl:message name="listarClientesSJResponse">
		<wsdl:part name="listarClientesResponse" element="cpsj:resultadoListarClientes" />
	</wsdl:message>

	<wsdl:portType name="ClienteProspectSJPortType">
		<wsdl:operation name="listarClientes">
			<wsdl:input message="cpsj:listarClientesSJRequest" />
			<wsdl:output message="cpsj:listarClientesSJResponse" />
		</wsdl:operation>
	</wsdl:portType>

	
	<wsdl:binding name="ClienteProspectSJBinding"
		type="cpsj:ClienteProspectSJPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="listarClientes">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" parts="listarClientesRequest" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="listarClientesResponse" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

</wsdl:definitions>