JAVA/ESB/NETWorkspaceESB/relacionar/atendimento/clienteprospect/wsdl/proxy/ClienteProspectWSDLV1_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ClienteProspect"
	targetNamespace="http://www.netservicos.com.br/ClienteProspect/"
	xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://www.netservicos.com.br/ClienteProspect/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:netheader="http://www.netservicos.com.br/v2/NetHeader">


	<wsdl:types>
		<xsd:schema
			targetNamespace="http://www.netservicos.com.br/ClienteProspect/"
			xmlns:Q1="http://www.netservicos.com.br/modelocanonico/v2/cliente">

			<xsd:import
				schemaLocation="../../../../../modelocanonicoV2/cliente/ClienteProspect.xsd"
				namespace="http://www.netservicos.com.br/modelocanonico/v2/cliente" />

			<xsd:element name="parametrosListarClientes" type="tns:ListarClientesType" />

			<xsd:element name="resultadoListarClientes" type="tns:ResultadoListarClientesType" />

			<xsd:complexType name="ListarClientesType">
				<xsd:choice>

					<xsd:element name="CPF">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:pattern value="\d{10,11}" />
								<xsd:maxLength value="11" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>

					<xsd:element name="CNPJ">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:pattern value="\d{14,15}" />
								<xsd:maxLength value="15" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>

					<xsd:element name="telefoneContato"	type="tns:TelefoneContatoType" />

				</xsd:choice>
			</xsd:complexType>

			<xsd:complexType name="ResultadoListarClientesType">
				<xsd:sequence>
					<xsd:element name="clientesProspect" type="Q1:ClientesProspect" minOccurs="1" maxOccurs="1" />
					<xsd:element name="mensagens" type="tns:MensagensType" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="MensagensType">
				<xsd:sequence>
					<xsd:element name="mensagem" type="tns:MensagemType" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>			
			
			<xsd:complexType name="MensagemType">
				<xsd:sequence>
					<xsd:element name="codigo" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="descricao" type="xsd:string" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="TelefoneContatoType">
				<xsd:sequence>

					<xsd:element name="DDD" maxOccurs="1" minOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="3" />
								<xsd:pattern value="[0-9].*" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>

					<xsd:element name="numeroTelefone" maxOccurs="1" minOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="14" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>

				</xsd:sequence>
			</xsd:complexType>

		</xsd:schema>

		<xsd:schema>
			<xsd:import
				namespace="http://www.netservicos.com.br/v2/NetHeader"
				schemaLocation="../../../../../modelocanonicoV2/geral/NETHeader.xsd" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="listarClientesRequest">
		<wsdl:part name="request_header" element="netheader:NetHeader" />
		<wsdl:part name="listarClientesRequest" element="tns:parametrosListarClientes" />
	</wsdl:message>

	<wsdl:message name="listarClientesResponse">
		<wsdl:part name="listarClientesResponse" element="tns:resultadoListarClientes" />
	</wsdl:message>

	<wsdl:portType name="ClienteProspectPortType">
		<wsdl:operation name="listarClientes">
			<wsdl:input message="tns:listarClientesRequest" />
			<wsdl:output message="tns:listarClientesResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="ClienteProspectBinding11"
		type="tns:ClienteProspectPortType">
		<soap11:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="listarClientes">
			<soap11:operation soapAction="" />
			<wsdl:input>
				<soap11:body use="literal" parts="listarClientesRequest" />
				<soap11:header wsdl:required="true" part="request_header" use="literal" message="tns:listarClientesRequest" />
			</wsdl:input>
			<wsdl:output>
				<soap11:body use="literal" parts="listarClientesResponse" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:binding name="ClienteProspectBinding12" type="tns:ClienteProspectPortType">
		<soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="listarClientes">
			<soap12:operation soapAction="" />
			<wsdl:input>
				<soap12:body use="literal" parts="listarClientesRequest" />
				<soap12:header wsdl:required="true" part="request_header" use="literal" message="tns:listarClientesRequest" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" parts="listarClientesResponse" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="ClienteProspectService">
		<wsdl:port binding="tns:ClienteProspectBinding11" name="ClienteProspectPort11">
			<soap11:address location="http://www.netservicos.com.br/ClienteProspect" />
		</wsdl:port>
		<wsdl:port binding="tns:ClienteProspectBinding12" name="ClienteProspectPort12">
			<soap12:address location="http://www.netservicos.com.br/ClienteProspect" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>