JAVA/ESB/NETWorkspaceESB/relacionar/atendimento/clienteprospect/wsdl/proxy/ClienteProspectDSLWSDLV1_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ClienteProspectDSL"
	targetNamespace="http://www.netservicos.com.br/ClienteProspectDSL/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/"	
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:cpdsl="http://www.netservicos.com.br/ClienteProspectDSL/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<wsdl:types>
		<xsd:schema
			targetNamespace="http://www.netservicos.com.br/ClienteProspectDSL/"
			xmlns:Q1="http://www.netservicos.com.br/modelocanonico/v2/cliente"
			elementFormDefault="qualified">

			<xsd:import
				schemaLocation="../../../../../modelocanonicoV2/cliente/ClienteProspect.xsd"
				namespace="http://www.netservicos.com.br/modelocanonico/v2/cliente" />

			<xsd:element name="parametrosListarClientes" type="cpdsl:ListarClientesType" />

			<xsd:element name="resultadoListarClientes"	type="cpdsl:ResultadoListarClientesType" />

			<xsd:complexType name="ListarClientesType">
				<xsd:sequence>
					<xsd:choice>
						<xsd:element name="CPF">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:pattern value="\d{10,11}" />
									<xsd:maxLength value="11" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>

						<xsd:element name="CNPJ">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:pattern value="\d{14,15}" />
									<xsd:maxLength value="15" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>

						<xsd:element name="telefoneContato"	type="cpdsl:TelefoneContatoType" />

					</xsd:choice>

					<xsd:element name="aliasDatabase" minOccurs="1"	maxOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ResultadoListarClientesType">
				<xsd:sequence>
					<xsd:element name="clientesProspect"
						type="Q1:ClientesProspect" minOccurs="1" maxOccurs="1" />					
				</xsd:sequence>
			</xsd:complexType>			

			<xsd:complexType name="TelefoneContatoType">
				<xsd:sequence>

					<xsd:element name="DDD" maxOccurs="1"
						minOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="3" />
								<xsd:pattern value="[0-9].*" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>

					<xsd:element name="numeroTelefone" maxOccurs="1"
						minOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="14" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>

				</xsd:sequence>
			</xsd:complexType>

		</xsd:schema>

		
	</wsdl:types>

	<wsdl:message name="listarClientesDSLRequest">
		<wsdl:part name="listarClientesRequest"	element="cpdsl:parametrosListarClientes" />
	</wsdl:message>

	<wsdl:message name="listarClientesDSLResponse">
		<wsdl:part name="listarClientesResponse" element="cpdsl:resultadoListarClientes" />
	</wsdl:message>

	<wsdl:portType name="ClienteProspectDSLPortType">
		<wsdl:operation name="listarClientes">
			<wsdl:input message="cpdsl:listarClientesDSLRequest" />
			<wsdl:output message="cpdsl:listarClientesDSLResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="ClienteProspectDSLBinding"
		type="cpdsl:ClienteProspectDSLPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="listarClientes">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" parts="listarClientesRequest" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="listarClientesResponse" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

</wsdl:definitions>