JAVA/ALDSP/NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/webservice/wsdl/ConsultarContratoContatoWSDL12V1_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="ld:br/com/netservicos/atendimento/webservice/ConsultarContratoContatoJWS.ws" name="ConsultarContratoContatoJWS" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="ld:br/com/netservicos/atendimento/webservice/ConsultarContratoContatoJWS.ws" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/">
  <documentation>AquaLogic Data Services Web Service</documentation>
  <types>
    <xs:schema targetNamespace="ld:br/com/netservicos/atendimento/webservice/ConsultarContratoContatoJWS.ws" elementFormDefault="qualified" xmlns:stns="ld:br/com/netservicos/atendimento/webservice/ConsultarContratoContatoJWS.ws" xmlns:dsns0="http://www.netservicos.com.br/atendimento/identificacaocontrato">
      <xs:import namespace="http://www.netservicos.com.br/atendimento/identificacaocontrato"/>
      <xs:element name="consultarContratoPorProtocolo">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="numeroProtocolo" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="consultarContratoPorProtocoloResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="dsns0:Contrato" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema targetNamespace="http://www.netservicos.com.br/atendimento/identificacaocontrato" xmlns:iden="http://www.netservicos.com.br/atendimento/identificacaocontrato">
      <xs:complexType name="ContratoType">
        <xs:sequence>
          <xs:element name="NumeroContrato" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Número do contrato do assinante, conforme
                		cadastro no legado.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:long"/>
            </xs:simpleType>
          </xs:element>
          <xs:choice>
            <xs:element name="CodigoOperadora" minOccurs="1" maxOccurs="1">
              <xs:annotation>
                <xs:documentation>Código da Operadora onde o contrato está
                    		cadastrado, conforme cadastro no legado.</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:length value="3"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="IdentificacaoCidade" minOccurs="1" maxOccurs="1">
              <xs:annotation>
                <xs:documentation>Identificação da Cidade onde o contrato está
                    		cadastrado, conforme cadastro no legado.</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:length value="5"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:choice>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="Contrato" type="iden:ContratoType"/>
    </xs:schema>
  </types>
  <message name="consultarContratoPorProtocoloIn">
    <part name="parameters" element="tns:consultarContratoPorProtocolo"/>
  </message>
  <message name="consultarContratoPorProtocoloOut">
    <part name="parameters" element="tns:consultarContratoPorProtocoloResponse"/>
  </message>
  <portType name="ConsultarContratoContatoJWSPT">
    <operation name="consultarContratoPorProtocolo">
      <input message="tns:consultarContratoPorProtocoloIn"/>
      <output message="tns:consultarContratoPorProtocoloOut"/>
    </operation>
  </portType>
  <binding name="ConsultarContratoContatoJWSSoapBinding" type="tns:ConsultarContratoContatoJWSPT">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="consultarContratoPorProtocolo">
      <soap:operation soapAction="ld:br/com/netservicos/atendimento/webservice/ConsultarContratoContatoJWS.ws/consultarContratoPorProtocolo" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ConsultarContratoContatoJWSSoapService">
    <port binding="tns:ConsultarContratoContatoJWSSoapBinding" name="ConsultarContratoContatoJWSSoapPort">
      <soap:address location="http://5.8.110.148:7002/NETAtendimentoDSBasicAuth/ALDSPWebServiceSOAP12BasicAuth/br/com/netservicos/atendimento/webservice/ConsultarContratoContatoJWS.ws"/>
    </port>
  </service>
</definitions>