JAVA/ALDSP/NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/webservice/wsdl/MulticidadeWSDL12V1_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="ld:br/com/netservicos/atendimento/multicidade/logical/entity/MultiCidadeDSL_ws" name="MultiCidadeDSL" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="ld:br/com/netservicos/atendimento/multicidade/logical/entity/MultiCidadeDSL_ws" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/">
  <documentation>AquaLogic Data Services Web Service</documentation>
  <types>
    <xs:schema targetNamespace="ld:br/com/netservicos/atendimento/multicidade/logical/entity/MultiCidadeDSL_ws" elementFormDefault="qualified" xmlns:stns="ld:br/com/netservicos/atendimento/multicidade/logical/entity/MultiCidadeDSL_ws" xmlns:dsns0="br/com/netservicos/atendimento/multicidade/logical/entity/schemas/Multicidade.xsd">
      <xs:import namespace="br/com/netservicos/atendimento/multicidade/logical/entity/schemas/Multicidade.xsd"/>
      <xs:element name="ConsultarRegraEmpresa">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="P_PARAMERO" type="xs:string"/>
            <xs:element name="P_VALOR" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ConsultarRegraEmpresaResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="dsns0:ConsultarRegraEmpresa" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema targetNamespace="br/com/netservicos/atendimento/multicidade/logical/entity/schemas/Multicidade.xsd">
      <xs:element name="ConsultarRegraEmpresa">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="mensagem" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </types>
  <message name="ConsultarRegraEmpresaIn">
    <part name="parameters" element="tns:ConsultarRegraEmpresa"/>
  </message>
  <message name="ConsultarRegraEmpresaOut">
    <part name="parameters" element="tns:ConsultarRegraEmpresaResponse"/>
  </message>
  <portType name="MultiCidadeDSLPT">
    <operation name="ConsultarRegraEmpresa">
      <input message="tns:ConsultarRegraEmpresaIn"/>
      <output message="tns:ConsultarRegraEmpresaOut"/>
    </operation>
  </portType>
  <binding name="MultiCidadeDSLSoapBinding" type="tns:MultiCidadeDSLPT">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="ConsultarRegraEmpresa">
      <soap:operation soapAction="ld:br/com/netservicos/atendimento/multicidade/logical/entity/MultiCidadeDSL_ws/ConsultarRegraEmpresa" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="MultiCidadeDSLSoapService">
    <port binding="tns:MultiCidadeDSLSoapBinding" name="MultiCidadeDSLSoapPort">
      <soap:address location="http://10.0.2.15:7041/NETAtendimentoDSBasicAuth/ALDSPWebServiceSOAP12BasicAuth/br/com/netservicos/atendimento/webservice/MultiCidadeDSL.ws"/>
    </port>
  </service>
</definitions>