NETWorkspaceESB/Infraestrutura/Equipamento/InstalarEquipamento/WSDL/proxy/InstalarEquipamentoWSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<s0:definitions name="InstalarEquipamentoWebServiceDefinitions" targetNamespace="open:services.netservicos.com.br" xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="open:services.netservicos.com.br" xmlns:s2="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs1="http://www.netservicos.com.br/NetHeader" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <s0:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="open:services.netservicos.com.br" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://www.netservicos.com.br/NetHeader" schemaLocation="../../../../../modelocanonico/geral/NETHeader.xsd"/>
      <xs:element name="instalarEquipamento">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="NUMERO_SERIE" type="xs:string"/>
            <xs:element name="EQUIPE" type="xs:string"/>
            <xs:element name="CREDENCIADA" type="xs:string"/>
            <xs:element name="CONTRATO" type="xs:string"/>
            <xs:element name="CIDADE_OPERADORA" type="xs:string"/>
            <xs:element name="ORDEM_SERVICO" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="instalarEquipamentoResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="retorno" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </s0:types>
  <s0:message name="instalarEquipamento">
     <s0:part element="s1:instalarEquipamento" name="parameters"/>
     <s0:part name="request_header" element="xs1:NetHeader"/> 
  </s0:message>
  <s0:message name="instalarEquipamentoResponse">
    <s0:part element="s1:instalarEquipamentoResponse" name="parameters"/>
  </s0:message>
  <s0:portType name="InstalarEquipamentoWebService">
    <s0:operation name="instalarEquipamento">
      <s0:input message="s1:instalarEquipamento"/>
      <s0:output message="s1:instalarEquipamentoResponse"/>
    </s0:operation>
  </s0:portType>
  <s0:binding name="InstalarEquipamentoWebServiceSoapBinding" type="s1:InstalarEquipamentoWebService">
    <s2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <s0:operation name="instalarEquipamento">
      <s2:operation soapAction="open:instalarEquipamento" style="document"/>
      <s0:input>
        <s2:body parts="parameters" use="literal"/>
         <s2:header message="s1:instalarEquipamento" wsdl:required="true" part="request_header" use="literal"/>
      </s0:input>
      <s0:output>
        <s2:body parts="parameters" use="literal"/>
      </s0:output>
    </s0:operation>
  </s0:binding>
  <s0:service name="InstalarEquipamentoWebService">
    <s0:port binding="s1:InstalarEquipamentoWebServiceSoapBinding" name="InstalarEquipamentoWebServiceSoapPort">
      <s2:address location="http://5.8.110.146:7001/nethomews/InstalarEquipamentoJWS"/>
    </s0:port>
  </s0:service>
</s0:definitions>