NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/ppv/physical/netsms/table/schemas/PpMidiaDSP.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="ld:br/com/netservicos/atendimento/ppv/physical/netsms/table/PpMidiaDSP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="PpMidiaDSP">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="ID_MIDIA" type="xs:integer"/>
            <xs:element name="DESCRICAO" type="xs:string" minOccurs="0"/>
            <xs:element name="VALIDO" type="xs:integer" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
