NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/ppv/physical/netsms/table/schemas/PpPlanoPgtoDSP.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="ld:br/com/netservicos/atendimento/ppv/physical/netsms/table/PpPlanoPgtoDSP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="PpPlanoPgtoDSP">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="ID_PLANO_PGTO" type="xs:integer"/>
            <xs:element name="DESCRICAO" type="xs:string"/>
            <xs:element name="QTD_PARCELAS" type="xs:integer"/>
            <xs:element name="VCTO_FIXO" type="xs:integer" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
