NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/ppv/physical/netsms/table/schemas/PpPromocaoDSP.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="ld:br/com/netservicos/atendimento/ppv/physical/netsms/table/PpPromocaoDSP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="PpPromocaoDSP">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="ID_PROMOCAO" type="xs:integer"/>
            <xs:element name="NOME_PROMOCAO" type="xs:string"/>
            <xs:element name="ID_TIPO_PROMOCAO" type="xs:integer"/>
            <xs:element name="DESCRICAO" type="xs:string"/>
            <xs:element name="PUBLICO_ALVO" type="xs:string" minOccurs="0"/>
            <xs:element name="MSG_CONTRATO" type="xs:string" minOccurs="0"/>
            <xs:element name="ID_TIPO_VENDA" type="xs:integer" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
