NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/ppv/physical/netsms/table/schemas/PpRelPacoteEventoDSP_KEY.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="ld:br/com/netservicos/atendimento/ppv/physical/netsms/table/PpRelPacoteEventoDSP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="PpRelPacoteEventoDSP_KEY">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="ID_EVENTO_PPV" type="xs:integer"/>
            <xs:element name="ID_PACOTE_PPV" type="xs:integer"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
