NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/ppv/physical/netsms/table/schemas/PpTipoPpvDSP.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="ld:br/com/netservicos/atendimento/ppv/physical/netsms/table/PpTipoPpvDSP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="PpTipoPpvDSP">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="ID_TIPO_PPV" type="xs:integer"/>
            <xs:element name="DESCRICAO" type="xs:string" minOccurs="0"/>
            <xs:element name="DESCR_TIPO_ITEM_EXTRATO" type="xs:string" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
