JAVA/ALDSP/NETWorkspaceALDSP/NETClienteDS/schemas/br/com/netservicos/modelocanonico/v2/atendimento/Atendimento.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.netservicos.com.br/modelocanonico/v2/atendimento"
	elementFormDefault="qualified"
	xmlns:atend="http://www.netservicos.com.br/modelocanonico/v2/atendimento"
	xmlns:venda="http://www.netservicos.com.br/modelocanonico/v2/venda">

	<xsd:complexType name="Canal">
		<xsd:sequence>
			<xsd:element name="identificador" type="xsd:long" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="descricao" type="xsd:string" minOccurs="0"
				maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="CanalDeAtendimento"></xsd:complexType>
</xsd:schema>