JAVA/ALDSP/NETWorkspaceALDSP/NETClienteDS/schemas/br/com/netservicos/modelocanonico/v2/contratoparceiro/ContratoParceiro.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.netservicos.com.br/modelocanonico/v2/contratoparceiro"
	xmlns:tns="http://www.netservicos.com.br/modelocanonico/v2/contratoparceiro"
	xmlns:ctrparceiro="http://www.netservicos.com.br/modelocanonico/v2/contratoparceiro"
	elementFormDefault="qualified">
	
	<complexType name="ContratoParceiro">
		<sequence>
			<element name="numeroContrato" type="string" minOccurs="0"
				maxOccurs="1">
			</element>
			<element name="situacaoContrato" maxOccurs="1" minOccurs="0"
				nillable="true" type="ctrparceiro:SituacaoContratoParceiro">
				<annotation>
					<documentation>Situação do contrato parceiro</documentation>
				</annotation>
			</element>			
		</sequence>
	</complexType>

	<complexType name="SituacaoContratoParceiro">
        <annotation>
        	<documentation>Entidade que representa as possíveis situações de um ContratoParceiro</documentation></annotation>
        <sequence>
			<element name="identificador" type="long">
				<annotation>
					<documentation>Código identificador único da situação do ContratoParceiro.</documentation></annotation></element>
			<element name="descricao" type="string">
				<annotation>
					<documentation>Texto descritivo da situação do ContratoParceiro.</documentation></annotation></element>
		</sequence>
	</complexType>	
	
</schema>