JAVA/ESB/NETWorkspaceESB/relacionar/cliente/clienteclaro/wsdl/proxy/ClienteClaroWSDLV1_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ClienteClaroWSDLV1_0"
	targetNamespace="http://www.netservicos.com.br/ClienteClaro"
	xmlns:clienteclaro="http://www.netservicos.com.br/ClienteClaro"
	xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:netheader="http://www.netservicos.com.br/v2/NetHeader">

	<wsdl:types>
		<xsd:schema
			targetNamespace="http://www.netservicos.com.br/ClienteClaro"
			attributeFormDefault="qualified" elementFormDefault="qualified">

			<xsd:import
				namespace="http://www.netservicos.com.br/v2/NetHeader"
				schemaLocation="../../../../../modelocanonicoV2/geral/NETHeader.xsd"/>

			<xsd:complexType name="ParametrosListarType">
				<xsd:sequence>
					<xsd:element name="paginacao" type="clienteclaro:paginacaoType" minOccurs="0" maxOccurs="1"/>
					<xsd:choice>
						<xsd:element name="cpf" type="xsd:string" minOccurs="1" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation>Numero do documento do cliente pessoa fisica</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="cnpj" type="xsd:string" minOccurs="1" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation>Numero do documento do cliente pessoa juridica</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="mobileBan" type="xsd:string" minOccurs="1" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation>Numero do mobileBan do cliente</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="MSISDN" type="xsd:string" minOccurs="1" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation>Numero do telefone</xsd:documentation>
							</xsd:annotation>						
						</xsd:element>
					</xsd:choice>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ResultadoListarType">
				<xsd:sequence>
					<xsd:element name="assinantes" type="clienteclaro:assinantesType" minOccurs="0" maxOccurs="1"/>				
					<xsd:element name="paginacao" type="clienteclaro:paginacaoType" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="assinantesType">
				<xsd:sequence>
					<xsd:element name="assinante" type="clienteclaro:assinanteType" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="assinanteType">
				<xsd:sequence>
					<xsd:element name="dadosCadastrais" type="clienteclaro:DadosCadastraisClienteType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="dadosFaturamento" type="clienteclaro:DadosFaturamentoClienteType" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="DadosCadastraisClienteType">
				<xsd:sequence>
					<xsd:element name="mobileBan" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Numero do mobileBan do cliente</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="dataNascimento" type="xsd:date" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Data de nascimento do cliente</xsd:documentation>
						</xsd:annotation>
					</xsd:element>	
					<xsd:element name="nacionalidade" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Nacionalidade do cliente</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="nomeMae" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Nome da Mae do cliente</xsd:documentation>
						</xsd:annotation>
					</xsd:element>	
					<xsd:element name="passaporte" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Numero de passaporte do cliente</xsd:documentation>
						</xsd:annotation>
					</xsd:element>											
					<xsd:element name="RG" type="clienteclaro:RGType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="RNE" type="clienteclaro:RNEType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="telefones" type="clienteclaro:telefonesType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="tipoAssinatura" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Tipo da assinatura do cliente</xsd:documentation>
						</xsd:annotation>
					</xsd:element>	
					<xsd:element name="tipoServico" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Tipo de servico do cliente</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="DadosFaturamentoClienteType">
				<xsd:sequence>
					<xsd:element name="diaVencimento" type="xsd:int" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Dia da vencimento da fatura</xsd:documentation>
						</xsd:annotation>
					</xsd:element> 
					<xsd:element name="valorMulta" type="xsd:double" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Valor da multa</xsd:documentation>
						</xsd:annotation>
					</xsd:element> 
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="RGType">
				<xsd:sequence>
					<xsd:element name="numero" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Numero do RG do cliente</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="orgaoExpedidor" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Orgao expedidor do documento do cliente</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="dataExpedicao" type="xsd:date" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Data expedição do documento do cliente</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="RNEType">
				<xsd:sequence>
					<xsd:element name="numero" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Numero do RNE do cliente</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="orgaoEmissor" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Orgao emissor do documento do cliente</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="dataExpedicao" type="xsd:date" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Data expedição do documento do cliente</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="telefonesType">
				<xsd:sequence>
					<xsd:element name="telefone" type="clienteclaro:telefoneType" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="telefoneType">
				<xsd:sequence>
					<xsd:element name="indicadorTitularidade" type="xsd:boolean" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Identificador de titularidade para o telefone</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="MSISDN" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Numero do telefone</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

		    <xsd:complexType name="paginacaoType">
		    	<xsd:sequence>
		    		<xsd:element name="numeroPaginaAtual" type="xsd:int" minOccurs="0" maxOccurs="1" default="1">
		    			<xsd:annotation>
		    				<xsd:documentation>Numero da pagina atual</xsd:documentation>
		    			</xsd:annotation>
		    		</xsd:element>
		    		<xsd:element name="quantidadeTotalPagina" type="xsd:int" minOccurs="0" maxOccurs="1" default="50">
		    			<xsd:annotation>
							<xsd:documentation>Quantidade total de paginas retornadas</xsd:documentation>	    		
			    		</xsd:annotation>
		    		</xsd:element>	
		    		<xsd:element name="totalRegistros" type="xsd:int" minOccurs="0" maxOccurs="1">
			    		<xsd:annotation>
			    			<xsd:documentation>Total de registros retornados</xsd:documentation>
			    		</xsd:annotation>
		    		</xsd:element>
		    	</xsd:sequence>
		    </xsd:complexType>

			<xsd:element name="parametrosListar" type="clienteclaro:ParametrosListarType" />
			<xsd:element name="resultadoListar" type="clienteclaro:ResultadoListarType" />

		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="listarRequest">
		<wsdl:part name="request_header" element="netheader:NetHeader" />
		<wsdl:part name="listarRequest" element="clienteclaro:parametrosListar" />
	</wsdl:message>

	<wsdl:message name="listarResponse">
		<wsdl:part name="listarResponse" element="clienteclaro:resultadoListar" />
	</wsdl:message>


	<wsdl:portType name="ClienteClaroPortType">
		<wsdl:operation name="listar">
			<wsdl:input message="clienteclaro:listarRequest" />
			<wsdl:output message="clienteclaro:listarResponse" />
		</wsdl:operation>
	</wsdl:portType>


	<wsdl:binding name="ClienteClaroBinding11" type="clienteclaro:ClienteClaroPortType">
		<soap11:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="listar">
			<soap11:operation soapAction="http://www.netservicos.com.br/ClienteClaro/listar" />
			<wsdl:input>
				<soap11:header use="literal" part="request_header" message="clienteclaro:listarRequest" />
				<soap11:body use="literal" parts="listarRequest" />
			</wsdl:input>
			<wsdl:output>
				<soap11:body use="literal" parts="listarResponse" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:binding name="ClienteClaroBinding12" type="clienteclaro:ClienteClaroPortType">
		<soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="listar">
			<soap12:operation soapAction="http://www.netservicos.com.br/ClienteClaro/listar" />
			<wsdl:input>
				<soap12:header use="literal" part="request_header" message="clienteclaro:listarRequest" />
				<soap12:body use="literal" parts="listarRequest" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" parts="listarResponse" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="ClienteClaroService">
		<wsdl:port binding="clienteclaro:ClienteClaroBinding11" name="ClienteClaroPort11">
			<soap11:address location="http://servbus/relacionar/cliente/clienteclaro/ClienteClaro11V1" />
		</wsdl:port>
		<wsdl:port binding="clienteclaro:ClienteClaroBinding12" name="ClienteClaroPort12">
			<soap12:address location="http://servbus/relacionar/cliente/clienteclaro/ClienteClaro12V1" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
