JAVA/ESB/NETWorkspaceESB/relacionar/cliente/clienteclaro/wsdl/proxy/ClienteClaroWSDLV2_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ClienteClaroWSDLV2_0"
	targetNamespace="http://www.netservicos.com.br/ClienteClaroV2"
	xmlns:clienteclaro="http://www.netservicos.com.br/ClienteClaroV2"
	xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:netheader="http://www.netservicos.com.br/v2/NetHeader">

	<wsdl:types>
		<xsd:schema
			targetNamespace="http://www.netservicos.com.br/ClienteClaroV2"
			attributeFormDefault="qualified" elementFormDefault="qualified">

			<xsd:import
				namespace="http://www.netservicos.com.br/v2/NetHeader"
				schemaLocation="../../../../../modelocanonicoV2/geral/NETHeader.xsd"/>
				
			<xsd:complexType name="ParametrosListarType">
				<xsd:sequence>
					<xsd:element name="paginacao" type="clienteclaro:paginacaoType" minOccurs="0" maxOccurs="1"/>
					<xsd:choice>
						<xsd:element name="cpf" type="xsd:string" minOccurs="1" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation>Numero do documento do cliente pessoa fisica</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="cnpj" type="xsd:string" minOccurs="1" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation>Numero do documento do cliente pessoa juridica</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="mobileBan" type="xsd:string" minOccurs="1" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation>Numero do mobileBan do cliente</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="MSISDN" type="xsd:string" minOccurs="1" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation>Numero do telefone</xsd:documentation>
							</xsd:annotation>						
						</xsd:element>
					</xsd:choice>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ResultadoListarType">
				<xsd:sequence>
					<xsd:element name="assinantes" type="clienteclaro:assinantesType" minOccurs="0" maxOccurs="1"/>				
					<xsd:element name="paginacao" type="clienteclaro:paginacaoType" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="assinantesType">
				<xsd:sequence>
					<xsd:element name="assinante" type="clienteclaro:assinanteType" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="assinanteType">
				<xsd:sequence>
					<xsd:element name="dadosCadastrais" type="clienteclaro:DadosCadastraisClienteType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="dadosFaturamento" type="clienteclaro:DadosFaturamentoClienteType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="dadosFranquia" type="clienteclaro:DadosFranquiaClienteType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="resultadoConsultarPlanoPrecoAssinante" nillable="true" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="ofertasType">
				<xsd:sequence>
					<xsd:element name="oferta" type="clienteclaro:ofertaType" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="ofertaType">
				<xsd:sequence>
					<xsd:element name="idOferta" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Código de identificação da oferta no sistema Mobile</xsd:documentation>
						</xsd:annotation>
					</xsd:element>	
					<xsd:element name="nomeOferta" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Nome da oferta</xsd:documentation>
						</xsd:annotation>
					</xsd:element>	
					<xsd:element name="tipoOferta" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Tipo de oferta (Plano Preço, Desconto, Opcional)</xsd:documentation>
						</xsd:annotation>
					</xsd:element>	
					<xsd:element name="nivelOferta" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Tipo de oferta (Plano Preço, Desconto, Opcional)</xsd:documentation>
						</xsd:annotation>
					</xsd:element>		
					<xsd:element name="wppOfertaId" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>codigo-externo: Outro código para a plataforma de
                                               tarifação. É feito um depara entre esses dois códigos
                                               na tabela do pré-pago.
                           </xsd:documentation>
						</xsd:annotation>
					</xsd:element>	
					<xsd:element name="wppNomeOferta" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Nome da oferta de serviço</xsd:documentation>
						</xsd:annotation>
					</xsd:element>		
					<xsd:element name="wppTipoOferta" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Corresponde aos tipos que uma oferta pode assumir:
												PLANO_PRECO, DESCONTO, OPCIONAL,
												ADICIONAL, NATIVA, OBRIGATORIA,
												PROMOCIONAL, PLANO_DE_DADOS, SERVICO
                            </xsd:documentation>
						</xsd:annotation>
					</xsd:element>	
				</xsd:sequence>
			</xsd:complexType>			

			<xsd:complexType name="DadosCadastraisClienteType">
				<xsd:sequence>
					<xsd:element name="mobileBan" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Numero do mobileBan do cliente</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
					<xsd:element name="statusBan" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Situação da conta do cliente</xsd:documentation>
						</xsd:annotation>
					</xsd:element>					
					<xsd:element name="statusMsisdn" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Motivo pelo qual a conta do cliente encontra-se
                                               naquela situação
                           </xsd:documentation>
						</xsd:annotation>
					</xsd:element>				
					
					<xsd:element name="dataNascimento" type="xsd:date" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Data de nascimento do cliente</xsd:documentation>
						</xsd:annotation>
					</xsd:element>	
					<xsd:element name="nacionalidade" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Nacionalidade do cliente</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="nomeMae" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Nome da Mae do cliente</xsd:documentation>
						</xsd:annotation>
					</xsd:element>	
					<xsd:element name="passaporte" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Numero de passaporte do cliente</xsd:documentation>
						</xsd:annotation>
					</xsd:element>											
					<xsd:element name="RG" type="clienteclaro:RGType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="RNE" type="clienteclaro:RNEType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="telefones" type="clienteclaro:telefonesType" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="tipoAssinatura" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Tipo da assinatura do cliente</xsd:documentation>
						</xsd:annotation>
					</xsd:element>	
					<xsd:element name="tipoServico" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Tipo de servico do cliente</xsd:documentation>
						</xsd:annotation>
					</xsd:element>

					<xsd:element name="nomeCliente" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Nome do assinante</xsd:documentation>
						</xsd:annotation>
					</xsd:element>	
					<xsd:element name="situacao" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Situacao do assinante</xsd:documentation>
						</xsd:annotation>
					</xsd:element>										
					<xsd:element name="dataAtivacao" type="xsd:date" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Data da ativação do assinante</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="idCliente" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Código de identificação do cliente no Mobile, esta
                                               informação só será retornada para assinantes Pós-
                                               Pagos e Controle
                            </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="crmClienteId" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Código de identificação do cliente no PS8</xsd:documentation>
						</xsd:annotation>
					</xsd:element>	
					<xsd:element name="assinanteId" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Código de identificação do assinante no PS8</xsd:documentation>
						</xsd:annotation>
					</xsd:element>						
					<xsd:element name="tipoCliente" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Representa uma classificação do cliente para a Claro.
                                               Os valores possiveis são:
                                               - INDIVIDUAL - Pessoa Fisica
                            </xsd:documentation>
						</xsd:annotation>
					</xsd:element>	
					<xsd:element name="cpfCliente" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Número do CPF do cliente, retornada apenas caso o cliente seja PF</xsd:documentation>
						</xsd:annotation>
					</xsd:element>	
					<xsd:element name="tipoPessoa" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Tipo de pessoa do cliente, se PF - Pessoa Física ou
                                               PJ - Pessoa Jurídica
                            </xsd:documentation>
						</xsd:annotation>
					</xsd:element>	
					<xsd:element name="subTipoCliente" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							 <xsd:documentation>Representa o subtipo de Cliente na aplicação Mobile,
												sendo possível os seguintes valores:
												Para Clientes PF:
												- ASSOCIADO - Representa uma pessoa associada
												à organização.
												- FORMADOR_DE_OPINIAO - Representa uma
												pessoa que tem a capacidade de influenciar e
												modificar a opinião de outras pessoas.
												- GRANDES_CLIENTES - Representa uma pessoa
												de influência para organização
												- INDIO - Representa pessoa de Natureza Indígena
												- MEMBRO_EMBAIXADA_CONSULADO -
												Representa pessoa filiada à Embaixada ou Consulado
												- NORMAL - Representa uma pessoa normal à
												visão da organização.
												- PROFISSIONAL_LIBERAL - Representa o
												profissional que por conta própria e presta serviços na
												sua área de trabalho.
												- TRIPLE_A - Representa uma pessoa com grande
												Midia
												- COMBO_MULTI_NET - Representa Cliente com
												produtos/serviços combinados entre as Empresas
												Claro e NET (COMBO).
												- COMBO_MULTI_EMBRATEL - Representa
												Cliente com produtos/serviços combinados entre as
												Empresas Claro e Embratel (COMBO).
												- EMPRESA - Representa uma pessoa associada a
												uma empresa
                             </xsd:documentation>
						</xsd:annotation>
					</xsd:element>						
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="DadosFaturamentoClienteType">
				<xsd:sequence>
					<xsd:element name="diaVencimento" type="xsd:int" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Dia da vencimento da fatura</xsd:documentation>
						</xsd:annotation>
					</xsd:element> 
					<xsd:element name="valorMulta" type="xsd:double" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Valor da multa</xsd:documentation>
						</xsd:annotation>
					</xsd:element> 
					<xsd:element name="flagAdimplente" type="xsd:boolean" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Indica se o cliente se encontra adimplente ou não</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="tipoEmissaoFatura" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Representa a forma de emissão de fatura do Cliente.
												As opções possíveis são:
												- UNIFICADA: Indica que o cliente possui
												produtos combinados entre as empresas do Grupo, e
												deseja a emissão de única fatura contendo a
												unificação dos valores referentes a produtos/serviços
												contratados (Combo).
												- DESMEMBRADA: Indica a emissão de fatura
												distinta contendo os valores referentes a
												produtos/serviços contratados de uma ou mais
												empresas do Grupo. Toda fatura que possui
												produtos/serviços de uma única empresa será
												considerada com emissão DESMEMBRADA.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>	
					<xsd:element name="cicloFaturamento" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Código de identificação do ciclo de faturamento do cliente</xsd:documentation>
						</xsd:annotation>
					</xsd:element>									
					<xsd:element name="formaPagamento" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Forma de pagamento da conta do cliente</xsd:documentation>
						</xsd:annotation>
					</xsd:element>	
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="DadosFranquiaClienteType">
				<xsd:sequence>
					<xsd:element name="idOfertaPlanoPreco" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Código de identificação do plano de preço no Mobile</xsd:documentation>
						</xsd:annotation>
					</xsd:element>					
					<xsd:element name="nomeOfertaPlanoPreco" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Definição do nome do plano de preço</xsd:documentation>
						</xsd:annotation>
					</xsd:element>	
					<xsd:element name="tipoPlanoPreco" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Tipo de produto do plano de preço: CLARO_CONTA ou CLARO_CONTROLE</xsd:documentation>
						</xsd:annotation>
					</xsd:element>					
					<xsd:element name="nivelPlanoPreco" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Corresponde ao nível ao qual o plano de preço pode ser aplicado, 
							                   pode ser: CONTRATO, ASSINANTE, AMBOS
						    </xsd:documentation>
						</xsd:annotation>
					</xsd:element>									
					<xsd:element name="ofertas" type="clienteclaro:ofertasType" minOccurs="0" maxOccurs="1"/>																			
				</xsd:sequence>
			</xsd:complexType>
			

			<xsd:complexType name="RGType">
				<xsd:sequence>
					<xsd:element name="numero" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Numero do RG do cliente</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="orgaoExpedidor" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Orgao expedidor do documento do cliente</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="dataExpedicao" type="xsd:date" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Data expedição do documento do cliente</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="RNEType">
				<xsd:sequence>
					<xsd:element name="numero" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Numero do RNE do cliente</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="orgaoEmissor" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Orgao emissor do documento do cliente</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="dataExpedicao" type="xsd:date" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Data expedição do documento do cliente</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="telefonesType">
				<xsd:sequence>
					<xsd:element name="telefone" type="clienteclaro:telefoneType" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="telefoneType">
				<xsd:sequence>
					<xsd:element name="indicadorTitularidade" type="xsd:boolean" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Identificador de titularidade para o telefone</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="MSISDN" type="xsd:string" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Numero do telefone</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

		    <xsd:complexType name="paginacaoType">
		    	<xsd:sequence>
		    		<xsd:element name="numeroPaginaAtual" type="xsd:int" minOccurs="0" maxOccurs="1" default="1">
		    			<xsd:annotation>
		    				<xsd:documentation>Numero da pagina atual</xsd:documentation>
		    			</xsd:annotation>
		    		</xsd:element>
		    		<xsd:element name="quantidadeTotalPagina" type="xsd:int" minOccurs="0" maxOccurs="1" default="50">
		    			<xsd:annotation>
							<xsd:documentation>Quantidade total de paginas retornadas</xsd:documentation>	    		
			    		</xsd:annotation>
		    		</xsd:element>	
		    		<xsd:element name="totalRegistros" type="xsd:int" minOccurs="0" maxOccurs="1">
			    		<xsd:annotation>
			    			<xsd:documentation>Total de registros retornados</xsd:documentation>
			    		</xsd:annotation>
		    		</xsd:element>
		    	</xsd:sequence>
		    </xsd:complexType>

            
			<xsd:simpleType name="tipoAssinatura">
				<xsd:annotation>
					<xsd:documentation>Tipo de produto contratado pelo assinante:
											CLARO_CARTAO
											CLARO_CONTA
											CLARO_CONTROLE
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="CLARO_CARTAO"/>
					<xsd:enumeration value="CLARO_CONTA"/>
					<xsd:enumeration value="CLARO_CONTROLE"/>
				</xsd:restriction>
			</xsd:simpleType>            	 

			<xsd:element name="parametrosListar" type="clienteclaro:ParametrosListarType" />
			<xsd:element name="resultadoListar" type="clienteclaro:ResultadoListarType" />

		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="listarRequest">
		<wsdl:part name="request_header" element="netheader:NetHeader" />
		<wsdl:part name="listarRequest" element="clienteclaro:parametrosListar" />
	</wsdl:message>

	<wsdl:message name="listarResponse">
		<wsdl:part name="listarResponse" element="clienteclaro:resultadoListar" />
	</wsdl:message>
	
	<wsdl:portType name="ClienteClaroPortType">
		<wsdl:operation name="listar">
			<wsdl:input message="clienteclaro:listarRequest" />
			<wsdl:output message="clienteclaro:listarResponse" />
		</wsdl:operation>
	</wsdl:portType>


	<wsdl:binding name="ClienteClaroBinding11" type="clienteclaro:ClienteClaroPortType">
		<soap11:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="listar">
			<soap11:operation soapAction="http://www.netservicos.com.br/ClienteClaroV2/listar" />
			<wsdl:input>
				<soap11:header use="literal" part="request_header" message="clienteclaro:listarRequest" />
				<soap11:body use="literal" parts="listarRequest" />
			</wsdl:input>
			<wsdl:output>
				<soap11:body use="literal" parts="listarResponse" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:binding name="ClienteClaroBinding12" type="clienteclaro:ClienteClaroPortType">
		<soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="listar">
			<soap12:operation soapAction="http://www.netservicos.com.br/ClienteClaroV2/listar" />
			<wsdl:input>
				<soap12:header use="literal" part="request_header" message="clienteclaro:listarRequest" />
				<soap12:body use="literal" parts="listarRequest" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" parts="listarResponse" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="ClienteClaroService">
		<wsdl:port binding="clienteclaro:ClienteClaroBinding11" name="ClienteClaroPort11">
			<soap11:address location="http://servbus/relacionar/cliente/clienteclaro/ClienteClaro11V2" />
		</wsdl:port>
		<wsdl:port binding="clienteclaro:ClienteClaroBinding12" name="ClienteClaroPort12">
			<soap12:address location="http://servbus/relacionar/cliente/clienteclaro/ClienteClaro12V2" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
