NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/diagnostico/physical/netsms/table/schemas/SnTipoOSDSP.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="ld:br/com/netservicos/atendimento/diagnostico/physical/netsms/table/SnTipoOSDSP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="SnTipoOSDSP">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="ID_TIPO_OS" type="xs:integer"/>
            <xs:element name="DESCRICAO" type="xs:string"/>
            <xs:element name="ID_NOVO_STATUS" type="xs:integer" minOccurs="0"/>
            <xs:element name="COBRA_ANTES" type="xs:integer" minOccurs="0"/>
            <xs:element name="COBRA_DEPOIS" type="xs:integer" minOccurs="0"/>
            <xs:element name="EM_ATENDIMENTO" type="xs:integer"/>
            <xs:element name="VENCIMENTO" type="xs:integer" minOccurs="0"/>
            <xs:element name="DESCRICAO_CNAB" type="xs:string" minOccurs="0"/>
            <xs:element name="ID_CLASSE" type="xs:integer" minOccurs="0"/>
            <xs:element name="PRIORIDADE" type="xs:integer"/>
            <xs:element name="ID_TIPO_ITEM_EXTRATO" type="xs:integer" minOccurs="0"/>
            <xs:element name="VALIDO" type="xs:integer" minOccurs="0"/>
            <xs:element name="DESCRICAO_ABREV" type="xs:string" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
