NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/diagnostico/physical/netsms/table/schemas/SnTipoDiagnosticoDSP.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="ld:br/com/netservicos/atendimento/diagnostico/physical/netsms/table/SnTipoDiagnosticoDSP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="SnTipoDiagnosticoDSP">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="ID_TIPO_DIAGNOSTICO" type="xs:integer"/>
            <xs:element name="CD_DIAGNOSTICO_URA" type="xs:integer"/>
            <xs:element name="DS_TIPO_DIAGNOSTICO" type="xs:string"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
