NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/diagnostico/physical/netsms/table/schemas/SnTipoOcorrenciaDSP.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="ld:br/com/netservicos/atendimento/diagnostico/physical/netsms/table/SnTipoOcorrenciaDSP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="SnTipoOcorrenciaDSP">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="ID_TIPO_OCORRENCIA" type="xs:integer"/>
            <xs:element name="DESCRICAO" type="xs:string"/>
            <xs:element name="ENCERRADA_POR_QUEM_ABRIU" type="xs:integer"/>
            <xs:element name="RELACIONADA_A_CANAL" type="xs:integer" minOccurs="0"/>
            <xs:element name="FLAG_HISTORICO" type="xs:integer"/>
            <xs:element name="ID_DEPTO" type="xs:integer" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
