JAVA/ALDSP/NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/fatura/physical/netsms/procedure/schemas/FaturaDSP.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="ld:br/com/netservicos/atendimento/fatura/physical/netsms/procedure/FATURA" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xdt="http://www.w3.org/2004/07/xpath-datatypes" xmlns:tns="ld:br/com/netservicos/atendimento/fatura/physical/netsms/procedure/FATURA">
  <xs:element name="FATURA">
    <xs:complexType>
      <xs:sequence>
		<xs:element name="NUMERO_DOCUMENTO" type="xs:string" minOccurs="0"/>
        <xs:element name="NOME_CLIENTE" type="xs:string" minOccurs="0"/>
		<xs:element name="NUM_CONTRATO" type="xs:decimal" minOccurs="0"/>
        <xs:element name="CID_CONTRATO" type="xs:string" minOccurs="0"/>
        <xs:element name="DATA_VENCIMENTO" type="xs:date" minOccurs="0"/>
		<xs:element name="CODIGO_BARRAS" type="xs:string" minOccurs="0"/>
		<xs:element name="VALOR_DOCUMENTO" type="xs:decimal" minOccurs="0"/>		
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>