JAVA/WLI/NETWorkspaceWLI/NETClienteWLIWeb/schemas/RetornoEventoDadosCobranca.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.netservicos.com.br/NETClienteWLIWeb/DadoCobranca"
	elementFormDefault="qualified"
	xmlns:evento="http://www.netservicos.com.br/NETClienteWLIWeb/DadoCobranca">


	<xsd:complexType name="DadoCobrancaRegistroType">
		<xsd:sequence>
			<xsd:element name="Protocolo" type="xsd:string"
				minOccurs="0" maxOccurs="1">
			</xsd:element>
			<xsd:element name="NumeroChamado" type="xsd:string"
				minOccurs="0" maxOccurs="1">
			</xsd:element>
			<xsd:element name="NomeContato" type="xsd:string"
				minOccurs="0" maxOccurs="1">
			</xsd:element>
			<xsd:element name="formaContato" type="string" minOccurs="0"
				maxOccurs="1">
			</xsd:element>
			<xsd:element name="identificador" type="string" minOccurs="0"
				maxOccurs="1">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="RegistroContato"
		type="evento:DadoCobrancaRegistroType">
		<xsd:annotation>
			<xsd:documentation>
				Registro de Contato com o cliente - Traduzação para
				legado --> Ocorrencia de que e fechado e esta referente
				um contato com o cliente
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

</xsd:schema>