NETWorkspaceESB/vender/venda/procon/wsdl/business/RestricaoContatoProconDSLBSV1_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="ld:br/com/netservicos/venda/procon/logical/RestricaoContatoProconDSL_ws" name="RestricaoContatoProconJWS" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="ld:br/com/netservicos/venda/procon/logical/RestricaoContatoProconDSL_ws" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/">
  <documentation>AquaLogic Data Services Web Service</documentation>
  <types>
    <xs:schema targetNamespace="ld:br/com/netservicos/venda/procon/logical/RestricaoContatoProconDSL_ws" elementFormDefault="qualified" xmlns:stns="ld:br/com/netservicos/venda/procon/logical/RestricaoContatoProconDSL_ws" xmlns:dsns0="ld:br/com/netservicos/venda/procon/physical/procon/table/ConsultaTelefoneLogDSP" xmlns:dsns1="ld:br/com/netservicos/venda/procon/physical/procon/table/ListaTelefoneProconDSP">
      <xs:import namespace="ld:br/com/netservicos/venda/procon/physical/procon/table/ConsultaTelefoneLogDSP"/>
      <xs:import namespace="ld:br/com/netservicos/venda/procon/physical/procon/table/ListaTelefoneProconDSP"/>
      <xs:element name="inserirRegistroConsultaRestricaoContatoProcon">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="arg0">
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="dsns0:ConsultaTelefoneLogDSP"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="inserirRegistroConsultaRestricaoContatoProconResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="dsns0:ConsultaTelefoneLogDSP_KEY"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="consultarListaRestricoesContatoProcon">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="identificacaoCidade" type="xs:string" minOccurs="0"/>
            <xs:element name="ddd" type="xs:string" minOccurs="0"/>
            <xs:element name="telefone" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="consultarListaRestricoesContatoProconResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="dsns1:listaItensTelefoneProcon" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="consultarRestricaoContatoProcon">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="identificacaoCidade" type="xs:string" minOccurs="0"/>
            <xs:element name="ddd" type="xs:string" minOccurs="0"/>
            <xs:element name="telefone" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="consultarRestricaoContatoProconResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="dsns1:ListaTelefoneProconDSP" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema targetNamespace="ld:br/com/netservicos/venda/procon/physical/procon/table/ConsultaTelefoneLogDSP">
      <xs:element name="ConsultaTelefoneLogDSP">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ID_CONSULTA_TELEFONE_LOG" type="xs:double" minOccurs="0"/>
            <xs:element name="NM_USUARIO" type="xs:string"/>
            <xs:element name="DH_CONSULTA" type="xs:dateTime"/>
            <xs:element name="NR_TELEFONE" type="xs:string"/>
            <xs:element name="ST_BLOQUEIO" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema targetNamespace="ld:br/com/netservicos/venda/procon/physical/procon/table/ConsultaTelefoneLogDSP">
      <xs:element name="ConsultaTelefoneLogDSP_KEY">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ID_CONSULTA_TELEFONE_LOG" type="xs:double"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema targetNamespace="ld:br/com/netservicos/venda/procon/physical/procon/table/ListaTelefoneProconDSP" xmlns:Q1="ld:br/com/netservicos/venda/procon/physical/procon/table/ListaTelefoneProconDSP">
      <xs:complexType name="ListaTelefoneProconType">
        <xs:sequence>
          <xs:element name="ID_LISTA_TELEFONE_PROCON" type="xs:double"/>
          <xs:element name="NR_TELEFONE" type="xs:string"/>
          <xs:element name="DT_ENTRADA" type="xs:dateTime"/>
          <xs:element name="DT_RESTRICAO" type="xs:dateTime"/>
          <xs:element name="ST_BLOQUEIO" type="xs:string"/>
          <xs:element name="SG_UF" type="xs:string"/>
          <xs:element name="DH_ULTIMA_ATUALIZACAO" type="xs:dateTime"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ListaItensTelefoneProconType">
        <xs:sequence>
          <xs:element name="ListaTelefoneProconDSP" type="Q1:ListaTelefoneProconType" minOccurs="0" maxOccurs="unbounded"></xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="ListaTelefoneProconDSP" type="Q1:ListaTelefoneProconType"></xs:element>
      <xs:element name="listaItensTelefoneProcon" type="Q1:ListaItensTelefoneProconType"></xs:element>
    </xs:schema>
  </types>
  <message name="inserirRegistroConsultaRestricaoContatoProconIn">
    <part name="parameters" element="tns:inserirRegistroConsultaRestricaoContatoProcon"/>
  </message>
  <message name="inserirRegistroConsultaRestricaoContatoProconOut">
    <part name="parameters" element="tns:inserirRegistroConsultaRestricaoContatoProconResponse"/>
  </message>
  <message name="consultarRestricaoContatoProconIn">
    <part name="parameters" element="tns:consultarRestricaoContatoProcon"/>
  </message>
  <message name="consultarRestricaoContatoProconOut">
    <part name="parameters" element="tns:consultarRestricaoContatoProconResponse"/>
  </message>
  <message name="consultarListaRestricoesContatoProconIn">
    <part name="parameters" element="tns:consultarListaRestricoesContatoProcon"/>
  </message>
  <message name="consultarListaRestricoesContatoProconOut">
    <part name="parameters" element="tns:consultarListaRestricoesContatoProconResponse"/>
  </message>
  <portType name="RestricaoContatoProconJWSPT">
    <operation name="inserirRegistroConsultaRestricaoContatoProcon">
      <input message="tns:inserirRegistroConsultaRestricaoContatoProconIn"/>
      <output message="tns:inserirRegistroConsultaRestricaoContatoProconOut"/>
    </operation>
    <operation name="consultarRestricaoContatoProcon">
      <input message="tns:consultarRestricaoContatoProconIn"/>
      <output message="tns:consultarRestricaoContatoProconOut"/>
    </operation>
    <operation name="consultarListaRestricoesContatoProcon">
      <input message="tns:consultarListaRestricoesContatoProconIn"/>
      <output message="tns:consultarListaRestricoesContatoProconOut"/>
    </operation>
  </portType>
  <binding name="RestricaoContatoProconJWSSoapBinding" type="tns:RestricaoContatoProconJWSPT">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="inserirRegistroConsultaRestricaoContatoProcon">
      <soap:operation soapAction="ld:br/com/netservicos/venda/procon/logical/RestricaoContatoProconDSL_ws/inserirRegistroConsultaRestricaoContatoProcon" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="consultarRestricaoContatoProcon">
      <soap:operation soapAction="ld:br/com/netservicos/venda/procon/logical/RestricaoContatoProconDSL_ws/consultarRestricaoContatoProcon" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="consultarListaRestricoesContatoProcon">
      <soap:operation soapAction="ld:br/com/netservicos/venda/procon/logical/RestricaoContatoProconDSL_ws/consultarListaRestricoesContatoProcon" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="RestricaoContatoProconJWSSoapService">
    <port binding="tns:RestricaoContatoProconJWSSoapBinding" name="RestricaoContatoProconJWSSoapPort">
      <soap:address location="http://vendeds/NETVendaDSBasicAuth/ALDSPWebServiceSOAP12BasicAuth/br/com/netservicos/venda/webservice/RestricaoContatoProconJWS.ws"/>
    </port>
  </service>
</definitions>