NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/canalatendimento/physical/netsms/table/schemas/SnCanalComunicacaoDSP.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="ld:br/com/netservicos/atendimento/canalatendimento/physical/netsms/table/SnCanalComunicacaoDSP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="SnCanalComunicacaoDSP">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="ID_CANAL_COMUNICACAO" type="xs:integer"/>
            <xs:element name="DESCRICAO" type="xs:string"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
