NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/equipamento/physical/nethome/table/schemas/ModEquipTipoEnderDSP.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="ld:br/com/netservicos/atendimento/equipamento/physical/MOD_EQUIP_TIPO_ENDER" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="MOD_EQUIP_TIPO_ENDER">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="ID_MOD_EQUIP_TIPO_ENDER" type="xs:integer"/>
            <xs:element name="ID_MODELO_EQUIPAMENTO" type="xs:integer"/>
            <xs:element name="ID_TIPO_ENDERECAVEL" type="xs:integer"/>
            <xs:element name="ID_REGRA_VALIDACAO" type="xs:integer" minOccurs="0"/>
            <xs:element name="NR_POSICAO_ESPECIFICACAO" type="xs:integer" minOccurs="0"/>
            <xs:element name="QT_TAMANHO_ESPECIFICACAO" type="xs:integer" minOccurs="0"/>
            <xs:element name="QT_PORTA" type="xs:integer" minOccurs="0"/>
            <xs:element name="FC_ENDERECAVEL_PRINCIPAL" type="xs:string"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
