NETWorkspaceALDSP/NETAtendimentoDS/schemas/br/com/netservicos/modelocanonico/v2/produto/ProdutoServico.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema targetNamespace="http://www.netservicos.com.br/modelocanonico/v2/produto"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.netservicos.com.br/modelocanonico/v2/produto"
	elementFormDefault="qualified"
	xmlns:empresa="http://www.netservicos.com.br/modelocanonico/v2/empresa"
	xmlns:portab="http://www.netservicos.com.br/modelocanonico/v2/portabilidade">

	<xs:import namespace="http://www.netservicos.com.br/modelocanonico/v2/empresa"
		schemaLocation="../geral/Empresa.xsd">
	</xs:import>

	<xs:import
		namespace="http://www.netservicos.com.br/modelocanonico/v2/portabilidade"
		schemaLocation="../ativar/PortabilidadeBilhetePortab.xsd">
	</xs:import>

	<xs:element name="ProdutoAgregadoPayTV" type="ProdutoAgregadoPayTV" />
	<xs:complexType name="ProdutoAgregadoPayTV">
		<xs:complexContent>
			<xs:extension base="ProdutoServicoAgregado"></xs:extension>
		</xs:complexContent>
	</xs:complexType>


	<xs:element name="TipoProdutoServico" type="TipoProdutoServico" />
	<xs:complexType name="TipoProdutoServico">
		<xs:annotation>
			<xs:documentation>
				Ex. PPV, Pacote, A la carte, Serviços, Complementar
				e
				Revista
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="identificador" type="xs:long" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="descricao" type="xs:string" minOccurs="0"
				maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="LinhaNegocio" type="LinhaNegocio" />

	<xs:complexType name="LinhaNegocio" abstract="true">
		<xs:annotation>
			<xs:documentation>
				Exemplo: Pay TV, Internet e VoIP
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="identificador" type="xs:long" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="descricao" type="xs:string" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="CaracteristicaLinhaNegocio" type="CaracteristicaLinhaNegocio"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="CaracteristicaLinhaNegocio" type="CaracteristicaLinhaNegocio" />

	<xs:complexType name="CaracteristicaLinhaNegocio">
		<xs:annotation>
			<xs:documentation>Para caracteristicas das linhas de negocio. HD,
				VOD.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="descricao" type="xs:string" minOccurs="0"
				maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>


	<xs:element name="CategoriaPPV" type="CategoriaPPV" />
	<xs:complexType name="CategoriaPPV">
		<xs:sequence>
			<xs:element name="identificador" type="xs:long" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="descricao" type="xs:string" minOccurs="0"
				maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="TecnologiaProdutoServico" type="TecnologiaProdutoServico" />
	<xs:complexType name="TecnologiaProdutoServico">
		<xs:annotation>
			<xs:documentation>
				Analagico, Digital, Voip, xs:internet, Digitalizado
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="identificador" type="xs:long" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="descricao" type="xs:string" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="tipoTecnologiaProdutoServico" type="TipoTecnologiaProdutoServico"
				minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="TipoTecnologiaProdutoServico" type="TipoTecnologiaProdutoServico" />
	<xs:complexType name="TipoTecnologiaProdutoServico">
		<xs:annotation>
			<xs:documentation>Entidade que representa o tipo de
				tecnologia do Produto Servico. Esta entidade eh opcional, pois nem
				todas as tecnologias sao segregadas em tipos especializados. Valores
				exemplo:0-Net Digital, 1-Net Digital HD, 2-Net Digital HD MAX
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="identificador" type="xs:long" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Codigo identificador do tipo de tecnologia
						do Produto Servico. Ex: 0,1,2,3</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="descricao" type="xs:string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Descricao do tipo tecnologia Produto
						Servico. Ex: Net Digital, Net Digital HD, Net Digital HD MAX
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="ClassificacaoProdutoServico" type="ClassificacaoProdutoServico" />
	<xs:complexType name="ClassificacaoProdutoServico">
		<xs:annotation>
			<xs:documentation>
				Individual e Coletivo (AMBAS, CONDOMINIO, EMPRESA,
				RESIDENCIAL)
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="identificador" type="xs:long" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="descricao" type="xs:string" minOccurs="0"
				maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="FamiliaProdutoServico" type="FamiliaProdutoServico" />
	<xs:complexType name="FamiliaProdutoServico">
		<xs:annotation>
			<xs:documentation>
				Ex. Advanced, Gold, Silver ...
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="identificador" type="xs:long" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="descricao" type="xs:string" minOccurs="0"
				maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PlanoProdutoServico" type="PlanoProdutoServico" />
	<xs:complexType name="PlanoProdutoServico">
		<xs:annotation>
			<xs:documentation>Ex. Conforto e Basico</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="identificador" type="xs:long" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="descricao" type="xs:string" minOccurs="0"
				maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="VelocidadeProdutoServico" type="VelocidadeProdutoServico" />
	<xs:complexType name="VelocidadeProdutoServico">
		<xs:annotation>
			<xs:documentation>1 Mega, 2 Mega ....</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="identificador" type="xs:long" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="descricao" type="xs:string" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="velocidade" type="xs:long" minOccurs="0"
				maxOccurs="1">
			</xs:element>
			<xs:element name="unidadeVelocidade" minOccurs="0"
				maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Kbps"></xs:enumeration>
						<xs:enumeration value="bps"></xs:enumeration>
						<xs:enumeration value="Mbps"></xs:enumeration>
						<xs:enumeration value="Gbps"></xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ProdutoServico" type="ProdutoServico" />
	<xs:complexType name="ProdutoServico" abstract="true">
		<xs:sequence>
			<xs:element name="identificador" type="xs:long" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="descricao" type="xs:string" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="indicadorFidelidade" type="xs:boolean"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="usaTerminal" type="xs:boolean"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="tecnologiaProdutoServico" type="TecnologiaProdutoServico"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="classificacaoProdutoServico" type="ClassificacaoProdutoServico"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="familiaProdutoServico" type="FamiliaProdutoServico"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="planoProdutoServico" type="PlanoProdutoServico"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="ParceiroNET" type="empresa:ParceiroNET"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="tipoProdutoServico" type="TipoProdutoServico"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="linhaNegocio" type="LinhaNegocio"
				minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="HardFone" type="HardFone" />
	<xs:complexType name="HardFone">
		<xs:complexContent>
			<xs:extension base="Fone">
				<xs:sequence></xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Exibicoes" type="Exibicoes" />
	<xs:complexType name="Exibicoes">
		<xs:sequence>
			<xs:element name="identificadorExibicao" type="xs:long"
				minOccurs="0" maxOccurs="1">
			</xs:element>
			<xs:element name="dataInicioEvento" type="xs:dateTime"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="tamanho" type="xs:int" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="dataJanelaCompra" type="xs:dateTime"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="dataJanelaCancelamento" type="xs:dateTime"
				minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SoftFone" type="SoftFone" />
	<xs:complexType name="SoftFone">
		<xs:complexContent>
			<xs:extension base="Fone">

			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ComboProdutos" type="ComboProdutos" />
	<xs:complexType name="ComboProdutos">
		<xs:complexContent>
			<xs:extension base="ProdutoServico">
				<xs:sequence>
					<xs:element name="payTV" type="PayTV" minOccurs="0"
						maxOccurs="1" />
					<xs:element name="bandaLarga" type="BandaLarga"
						minOccurs="0" maxOccurs="1" />
					<xs:element name="fone" type="Fone" minOccurs="0"
						maxOccurs="1" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="PayTV" type="PayTV" />
	<xs:complexType name="PayTV">
		<xs:complexContent>
			<xs:extension base="ProdutoServico">

				<xs:sequence>
					<xs:element name="retornoTelefonico" type="xs:boolean">
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="PayPerView" type="PayPerView" />
	<xs:complexType name="PayPerView" abstract="true">
		<xs:complexContent>
			<xs:extension base="ProdutoAgregadoPayTV">
				<xs:sequence>
					<xs:element name="dataInicioJanelaCompraCancelamento"
						type="xs:dateTime" minOccurs="0" maxOccurs="1" />
					<xs:element name="dataFimJanelaCompra" type="xs:dateTime"
						minOccurs="0" maxOccurs="1" />
					<xs:element name="dataFimJanelaCancelamento" type="xs:dateTime"
						minOccurs="0" />
					<xs:element name="categoriaPPV" type="CategoriaPPV"
						minOccurs="0" maxOccurs="1">
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="EventoPPV" type="EventoPPV" />
	<xs:complexType name="EventoPPV">
		<xs:complexContent>
			<xs:extension base="PayPerView">
				<xs:sequence>
					<xs:element name="dataPrimeiraExibicao" type="xs:dateTime"
						minOccurs="0" maxOccurs="1" />
					<xs:element name="dataUltimaExibicao" type="xs:dateTime"
						minOccurs="0" maxOccurs="1" />
					<xs:element name="exibicoes" type="Exibicoes" minOccurs="0"
						maxOccurs="unbounded" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="CanalPPV" type="CanalPPV" />
	<xs:complexType name="CanalPPV">
		<xs:complexContent>
			<xs:extension base="PayPerView">
				<xs:sequence>
					<xs:element name="dataInicio" type="xs:dateTime"
						minOccurs="0" maxOccurs="1" />
					<xs:element name="dataFim" type="xs:dateTime" minOccurs="0"
						maxOccurs="1" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="CanalALaCarte" type="CanalALaCarte" />
	<xs:complexType name="CanalALaCarte">
		<xs:complexContent>
			<xs:extension base="ProdutoAgregadoPayTV">

			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="BandaLarga" type="BandaLarga" />
	<xs:complexType name="BandaLarga">
		<xs:complexContent>
			<xs:extension base="ProdutoServico">
				<xs:sequence>
					<xs:element name="velocidadeProdutoServico" type="VelocidadeProdutoServico"
						minOccurs="0" maxOccurs="1" />
					<xs:element name="ipProdutoServico" type="IPProdutoServico"
						minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="franquiaProdutoServico" type="FranquiaProdutoServico"
						minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Servico" type="Servico" />
	<xs:complexType name="Servico">
		<xs:complexContent>
			<xs:extension base="ProdutoServico">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Fone" type="Fone" />
	<xs:complexType name="Fone" abstract="true">
		<xs:complexContent>
			<xs:extension base="ProdutoServico">
				<xs:sequence>
					<xs:element name="telefoneVoip" type="TelefoneVoip"
						minOccurs="0" maxOccurs="1" />
					<xs:element name="publicarLista" type="xs:boolean"
						minOccurs="0" maxOccurs="1">
					</xs:element>
					<xs:element name="nomePublicacaoLista" type="xs:string"
						minOccurs="0" maxOccurs="1">
					</xs:element>
					<xs:element name="nrExtensoes" type="xs:int" minOccurs="0"
						maxOccurs="1">
					</xs:element>
					<xs:element name="franquiaProdutoServico" type="FranquiaProdutoServico"
						minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="TelefoneVoip" type="TelefoneVoip" />
	<xs:complexType name="TelefoneVoip">
		<xs:sequence>
			<xs:element name="ddd" type="xs:string" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="numero" type="xs:string" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="tipoNumero" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Indica o tipo do Número Voip, os tipos sao:
						Numero comum, Numero escolhido, Numero
						anteriores, Numero especial
						e Numero Portado
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="NUMERO_COMUM"></xs:enumeration>
						<xs:enumeration value="NUMERO_ESCOLHIDO"></xs:enumeration>
						<xs:enumeration value="NUMERO_ANTERIORES"></xs:enumeration>
						<xs:enumeration value="NUMERO_ESPECIAL"></xs:enumeration>
						<xs:enumeration value="NUMERO_PORTADO"></xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="tipoQuarentena" type="xs:string"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Tipo da quarentena em que se encontra o numero
						telefonico. Valores possiveis: N: Pre-reserva
						NET contrato; E:
						Quarentena Embratel; P:
						Portabilidade; A: Pre-reserva NET proposta
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FQDN" type="xs:string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Full Qualified Domain Name do numero telefonico.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="porta" type="xs:int" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Porta em que o numero telefonico esta instalado.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="status" type="xs:string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Situacao do numero telefonico no inventario de
						de
						numeros da NET. Pode assumir os seguintes
						valores: UTILIZADO,
						CANCELADO, DISPONIVEL,
						TROCA, PTBINTRINSECA, EMAVALIACAO,
						RESERVAANATEL, TESTEPORTBILID, MIGRACAO.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="portabilidades" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="portabilidade" type="portab:Portabilidade"
							minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Representa as Portabilidades
									vinculadas a um TelefoneVoip.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AgregadoInformativo" type="AgregadoInformativo" />
	<xs:complexType name="AgregadoInformativo">
		<xs:complexContent>
			<xs:extension base="ProdutoServico">

			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ProdutoServicoAgregado" type="ProdutoServicoAgregado" />
	<xs:complexType name="ProdutoServicoAgregado" abstract="true">
		<xs:complexContent>
			<xs:extension base="ProdutoServico">

			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ProdutoAgregadoBandaLarga" type="ProdutoAgregadoBandaLarga" />
	<xs:complexType name="ProdutoAgregadoBandaLarga">
		<xs:complexContent>
			<xs:extension base="ProdutoServicoAgregado">

			</xs:extension>
		</xs:complexContent>
	</xs:complexType>


	<xs:complexType name="TV">
		<xs:complexContent>
			<xs:extension base="LinhaNegocio">
				<xs:sequence>
					<xs:element name="tipo" minOccurs="0" maxOccurs="1">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="ANALOGICO"></xs:enumeration>
								<xs:enumeration value="DIGITAL"></xs:enumeration>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="VoIP">
		<xs:complexContent>
			<xs:extension base="LinhaNegocio"></xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="Internet">
		<xs:complexContent>
			<xs:extension base="LinhaNegocio"></xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="FranquiaProdutoServico" type="FranquiaProdutoServico" />
	<xs:complexType name="FranquiaProdutoServico">
		<xs:annotation>
			<xs:documentation>Entidade para manter Franquias de consumo
				aplicaveis a produto servico.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="franquia" type="xs:long" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor da franquia que o produto servico
						contempla, para o tipo indicado no atributo unidade.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="tipo" type="xs:string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Define o tipo da franquia. Ex:
						VALOR_LIGACOES, NUMERO_LIGACOES, TRAFEGO, UPLOAD, DOWNLOAD
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="unidade" type="xs:string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Unidade da franquia Ex:
						Kb,Gb,MINUTOS,REAIS,UNIDADES</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="IPProdutoServico" type="IPProdutoServico" />
	<xs:complexType name="IPProdutoServico">
		<xs:annotation>
			<xs:documentation>Entidade para manter as informacoes sobre
				as caracteristicas do IP de um produto servico.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="fixo" type="xs:long" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indica se o IP do produto servico eh fixo
						ou nao.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nrIPExtra" type="xs:string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Quantidade de IPs extra previstos.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

</xs:schema>