NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/autorizacaoproduto/physical/netsms/table/schemas/SnContratoDSP.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="ld:br/com/netservicos/atendimento/autorizacaoproduto/physical/netsms/table/SnContratoDSP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="SnContratoDSP">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="ID_ASSINANTE" type="xs:integer"/>
            <xs:element name="NUM_CONTRATO" type="xs:integer"/>
            <xs:element name="CID_CONTRATO" type="xs:string"/>
            <xs:element name="DIGITO_VERIFICACAO" type="xs:integer"/>
            <xs:element name="ID_TIPO_CONTRATO" type="xs:integer"/>
            <xs:element name="ID_TIPO_DISTRIBUICAO" type="xs:integer"/>
            <xs:element name="ID_TIPO_VENDA" type="xs:integer"/>
            <xs:element name="NUM_PONTO_EXTRA" type="xs:integer"/>
            <xs:element name="DT_VENDA" type="xs:dateTime"/>
            <xs:element name="ID_PESSOA_FISICA" type="xs:string"/>
            <xs:element name="USR_RESPONSAVEL" type="xs:string"/>
            <xs:element name="USR_ATENDENTE" type="xs:string" minOccurs="0"/>
            <xs:element name="DT_INSTALACAO" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="COD_OS_INSTALACAO" type="xs:string" minOccurs="0"/>
            <xs:element name="DT_CANCELAMENTO" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="ID_CICLO_COBRANCA" type="xs:integer"/>
            <xs:element name="QTD_REVISTAS" type="xs:integer"/>
            <xs:element name="QTD_REVISTAS_COBRAVEIS" type="xs:integer"/>
            <xs:element name="QTD_DECODERS" type="xs:integer"/>
            <xs:element name="QTD_DECODERS_COBRAVEIS" type="xs:integer"/>
            <xs:element name="ID_TIPO_COBRANCA" type="xs:integer"/>
            <xs:element name="ID_DIA_VCTO" type="xs:integer"/>
            <xs:element name="NUM_CONTR_ANTERIOR" type="xs:integer" minOccurs="0"/>
            <xs:element name="CID_CONTR_ANTERIOR" type="xs:string" minOccurs="0"/>
            <xs:element name="ID_RAZAO_CANCELAMENTO" type="xs:integer" minOccurs="0"/>
            <xs:element name="TEXTO_SITUACAO_IRREGULAR" type="xs:string" minOccurs="0"/>
            <xs:element name="QTD_ASSINATURAS" type="xs:integer"/>
            <xs:element name="NUM_CONTRATO_IMP" type="xs:integer"/>
            <xs:element name="NUM_PTO_EXTRA_COB" type="xs:integer"/>
            <xs:element name="ADESAO_PRE_DATADO" type="xs:integer"/>
            <xs:element name="DT_CADASTRO" type="xs:dateTime"/>
            <xs:element name="OS_INST_IMEDIATA" type="xs:integer" minOccurs="0"/>
            <xs:element name="VINCENDA" type="xs:integer"/>
            <xs:element name="DT_LIB_INSTALACAO" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="ID_TIPO_BONI" type="xs:integer" minOccurs="0"/>
            <xs:element name="DT_REF_ENTRADA" type="xs:dateTime"/>
            <xs:element name="ID_TIPO_REAJUSTE" type="xs:integer" minOccurs="0"/>
            <xs:element name="PRAZO_INSTALACAO" type="xs:integer" minOccurs="0"/>
            <xs:element name="SENHA" type="xs:string" minOccurs="0"/>
            <xs:element name="TOTAL_PONTOS" type="xs:integer" minOccurs="0"/>
            <xs:element name="OBS" type="xs:string" minOccurs="0"/>
            <xs:element name="ID_TIPO_PRECO" type="xs:integer" minOccurs="0"/>
            <xs:element name="ID_PLANO_VENDA" type="xs:integer" minOccurs="0"/>
            <xs:element name="ID_SEGMENTO" type="xs:string" minOccurs="0"/>
            <xs:element name="VALOR_IVA" type="xs:decimal" minOccurs="0"/>
            <xs:element name="NUM_CONTRATO_EMBRATEL" type="xs:integer" minOccurs="0"/>
            <xs:element name="CONTRATO_CORTESIA" type="xs:integer" minOccurs="0"/>
            <xs:element name="FC_COBRANCA_PRO_RATA" type="xs:string" minOccurs="0"/>
            <xs:element name="DT_FATURA_RATEIO" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="TP_FATURAMENTO_VIRTUA" type="xs:string" minOccurs="0"/>
            <xs:element name="ID_FORMA_ENVIO_FATURA" type="xs:integer" minOccurs="0"/>
            <xs:element name="TP_POLITICA_VIRTUA" type="xs:integer" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
