NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/autorizacaoproduto/physical/netsms/table/schemas/SnServicoContratoDSP.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="ld:br/com/netservicos/atendimento/autorizacaoproduto/physical/netsms/table/SnServicoContratoDSP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="SnServicoContratoDSP">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="ID_SERVICO_CONTRATO" type="xs:integer"/>
            <xs:element name="NUM_CONTRATO" type="xs:integer"/>
            <xs:element name="CID_CONTRATO" type="xs:string"/>
            <xs:element name="ID_PRODUTO" type="xs:integer"/>
            <xs:element name="DT_INI" type="xs:dateTime"/>
            <xs:element name="DT_FIM" type="xs:dateTime"/>
            <xs:element name="ID_PRECO" type="xs:integer" minOccurs="0"/>
            <xs:element name="FC_GERACAO_OS" type="xs:string"/>
            <xs:element name="DT_INSTALACAO" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="DT_REFERENCIA_PRODUTO" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="DT_INI_PRECO" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="DT_FIM_PRECO" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="ID_SERVICO_CONTRATO_ANTERIOR" type="xs:integer" minOccurs="0"/>
            <xs:element name="ID_TIPO_VENDA" type="xs:integer" minOccurs="0"/>
            <xs:element name="ID_EQUIPE_VENDA" type="xs:double" minOccurs="0"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
