NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/evento/physical/netsms/table/schemas/SnEventoOcorrenciaDSP.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="ld:br/com/netservicos/atendimento/evento/physical/netsms/table/SnEventoOcorrenciaDSP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="SnEventoOcorrenciaDSP">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="ID_EVENTO_OCORRENCIA" type="xs:integer"/>
            <xs:element name="DESCRICAO" type="xs:string"/>
            <xs:element name="ALARME" type="xs:integer"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
