NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/evento/physical/netsms/table/schemas/SnOrigemOcorrenciaDSP.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="ld:br/com/netservicos/atendimento/evento/physical/netsms/table/SnOrigemOcorrenciaDSP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="SnOrigemOcorrenciaDSP">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="ID_ORIGEM" type="xs:integer"/>
            <xs:element name="DESCRICAO" type="xs:string"/>
            <xs:element name="EM_ATENDIMENTO" type="xs:integer"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
