NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/evento/physical/netsms/table/schemas/SnRelEventoOcorOperadoraDSP.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="ld:br/com/netservicos/atendimento/evento/physical/netsms/table/SnRelEventoOcorOperadoraDSP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="SnRelEventoOcorOperadoraDSP">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="ID_EVENTO_OCORRENCIA" type="xs:integer"/>
            <xs:element name="CID_CONTRATO" type="xs:string"/>
            <xs:element name="ID_TIPO_OCORRENCIA" type="xs:integer"/>
            <xs:element name="FLAG_FECHAMENTO_AUT" type="xs:integer"/>
            <xs:element name="ID_TIPO_RESOLUCAO" type="xs:integer" minOccurs="0"/>
            <xs:element name="FLAG_ASSOC_AUTO_NOTIF" type="xs:integer"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
