JAVA/ALDSP/NETWorkspaceALDSP/NETAtendimentoDS/br/com/netservicos/atendimento/operadora/schemas/Concorrente.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.netservicos.com.br/Concorrente/schemas/"
	elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.netservicos.com.br/Concorrente/schemas/">

	<complexType name="Concorrente">
		<sequence>
			<element name="identificador" type="long" minOccurs="1" maxOccurs="1" />
			<element name="descricao" type="string" minOccurs="1" maxOccurs="1" />		
		</sequence>
	</complexType>

	<complexType name="Concorrentes">
		<sequence>
			<element name="concorrente" type="tns:Concorrente" minOccurs="0" maxOccurs="unbounded" />
		</sequence>
	
	</complexType>

	<element name="Concorrentes" type="tns:Concorrentes" />

</schema>