JAVA/ALDSP/NETWorkspaceALDSP/NETClienteDS/schemas/br/com/netservicos/modelocanonico/v2/cliente/EstadoCivil.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	targetNamespace="http://www.netservicos.com.br/modelocanonico/v2/cliente"
	elementFormDefault="qualified"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:cliente="http://www.netservicos.com.br/modelocanonico/v2/cliente">

	<xsd:complexType name="EstadoCivil">
		<xsd:sequence>
			<xsd:element name="Identificador" type="xsd:string"
				minOccurs="0" maxOccurs="1">
			</xsd:element>
			<xsd:element name="Descricao" type="xsd:string"
				minOccurs="0" maxOccurs="1">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="EstadoCivies">
		<xsd:sequence>
			<xsd:element name="estadoCivil" type="cliente:EstadoCivil"
				minOccurs="0" maxOccurs="unbounded">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="EstadoCivil" type="cliente:EstadoCivil"></xsd:element>

	<xsd:complexType name="NormalizedEstadoCivil">
		<xsd:sequence>
			<xsd:element name="sigla" type="xsd:string"></xsd:element>
			<xsd:element name="Identificador" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>



	<xsd:element name="NormalizedEstadoCivil"
		type="cliente:NormalizedEstadoCivil">
	</xsd:element>
</xsd:schema>