JAVA/ALDSP/NETWorkspaceALDSP/NETClienteDS/schemas/br/com/netservicos/modelocanonico/v2/cliente/GrauDeInstrucao.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	targetNamespace="http://www.netservicos.com.br/modelocanonico/v2/cliente"
	elementFormDefault="qualified"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:cliente="http://www.netservicos.com.br/modelocanonico/v2/cliente">

	<xsd:complexType name="GrauDeInstrucao">
		<xsd:sequence>
			<xsd:element name="Identificador" type="xsd:string"
				minOccurs="0" maxOccurs="1">
			</xsd:element>
			<xsd:element name="Descricao" type="xsd:string"
				minOccurs="0" maxOccurs="1">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="GrauDeInstrucoes">
		<xsd:sequence>
			<xsd:element name="grauDeInstrucao"
				type="cliente:GrauDeInstrucao" minOccurs="0"
				maxOccurs="unbounded">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="GrauDeInstrucao"
		type="cliente:GrauDeInstrucao">
	</xsd:element>

	<xsd:element name="GrauDeInstrucoes"
		type="cliente:GrauDeInstrucoes">
	</xsd:element>
</xsd:schema>